[2015-12-28 23:47] JakeLin opened #5 "Swift package manager support"
Support Swift package manager to install `IBAnimatable`.

[2015-12-28 23:47] JakeLin opened #6 "Carthage support"
Support Carthage to install `IBAnimatable`

[2015-12-28 23:48] JakeLin opened #7 "CocoaPods support"
Support CocoaPods to install `IBAnimatable`.

[2015-12-28 23:49] JakeLin opened #8 "More MaskDesignable"
Currently, `MaskDesignable` only supports `Circle`, can support more mask like `Triangle` and `Star`.

[2015-12-28 23:50] JakeLin opened #9 "RingDesignable"
Can design something like Apple Watch health progress ring.

[2015-12-28 23:51] JakeLin opened #10 "PieChartDesignable"
Support PieChart.

[2015-12-28 23:51] JakeLin opened #11 "Rotation animation"
Support Rotation animation.

[2015-12-28 23:52] JakeLin opened #12 "Support animations with timing functions"
Currently, all animations are Spring animations, can support Easing animations as well.

[2015-12-28 23:53] JakeLin opened #13 "Linear animations"
Except for Spring animations, sometimes, we need linear animations.

[2015-12-28 23:59] JakeLin opened #14 "Chain-able animations"
Better syntax for chaining animations.

Just an idea

[code]

[2015-12-29 00:01] JakeLin opened #15 "Designable and Animatable badge in `BarButtonItemDesignable`"
Support Designable and Animatable badge in `BarButtonItemDesignable`

[2015-12-29 04:23] JakeLin opened #16 "Material design components"
Material design components like MaterialButton

Please see https://github.com/JakeLin/IBAnimatable-Material

[2015-12-29 04:24] JakeLin opened #17 "Meaningful transition"
Meaningful transition support

[2015-12-29 04:30] JakeLin opened #18 "Motion effect, parallax effect"
Parallax effect support, useful for background images.

[2015-12-29 04:33] JakeLin opened #19 "Design transition animations in Interface Builder"
Not only system built-in transitions, more custom transitions support.
- [x] `AnimatableNavigationController` to support custom transition animations for Push and Pop
- [x] `AnimatableViewController` to support custom transition animations for Present and Dismiss
- [x] <del>`AnimatableTableViewController` to support custom transition animations for Present and Dismiss</del>
- [x] `Present***Segue`

[2015-12-29 04:44] JakeLin opened #20 "UIKit Dynamics"
UIKit Dynamics support

[2015-12-30 00:42] JakeLin opened #21 "Chinese readme file"
Readme file in Chinese

[2015-12-31 05:16] JakeLin opened #22 "Document how to use git submodule"

[2015-12-31 07:18] JakeLin opened #23 "Finish Dribbble animated gif"

[2016-01-01 07:13] JakeLin opened #24 "Default gradient colors"
Predefined gradient colors from http://uigradients.com/

[2016-01-11 07:23] JakeLin opened #25 "Fix geometryFlipped"

[2016-01-13 16:36] TifaTsubasa opened #26 "import IBAnimatable error in playground"
import IBAnimatable is a error when I open IBAnimatable.playground, how do I start it

[2016-01-13 16:46] #26 closed, assigned to nobody

[2016-01-13 22:10] JakeLin commented on #23
Done and up on https://dribbble.com/shots/2453933-IBAnimatable-Design-App-Store-ready-Apps-in-Interface-Builder

[2016-01-13 22:10] #23 closed, assigned to nobody

[2016-01-13 23:14] JakeLin opened #28 "Dismiss the keyboard automatically"
Add one `@IBInspectable` property like autoDismissKeyboard to `AnimatableViewController`.

[2016-01-16 12:45] #6 closed, assigned to nobody

[2016-01-16 12:58] alecsechechel commented on #26
+

[2016-01-16 13:05] JakeLin commented on #26
@alecsechechel What issue are you having? do you use `IBAnimatable` in another project? you need to follow the doc from Apple https://developer.apple.com/library/ios/recipes/Playground_Help/Chapters/ImportFramework.html

Another easier way to play around the playground is download the project and add new pages to the existing playground.

[2016-01-16 13:06] JakeLin opened #32 "Import Sketch file in Swift playgrond"
Similar to Framer Studio.

[2016-01-16 13:10] foffer opened #33 "Example project: 'sharedApplication()' is unavailable Xcode 7.2/7.3-Beta"
Openning `IBAnimatableApp.xcodeproj` (there is no workspace it seems?) I get the following error:

/Users/xxx/Work/Resources/IBAnimatable/IBAnimatable/RootWindowDesignable.swift:18:32: 'sharedApplication()' is unavailable: Use view controller based solutions where appropriate instead.

[2016-01-16 13:11] alecsechechel commented on #26
@JakeLin Thanks it is work. I added playgrounds in projects.
Cool thing!

[2016-01-16 13:16] foffer commented on #33
It seems to be related to this: [Apple extensions](https://developer.apple.com/library/ios/documentation/General/Conceptual/ExtensibilityPG/ExtensionOverview.html)

[2016-01-16 13:19] #33 closed, assigned to nobody

[2016-01-16 13:22] JakeLin commented on #33
Thanks, I just temporary disable  `APPLICATION_EXTENSION_API_ONLY` to fix the build. Will try to find a better solution later.

[2016-01-16 13:34] foffer commented on #33
Cool, thanks!

[2016-01-16 16:20] fvvliet opened #34 "Cannot run included playground"
Hello Jake,

A very nice framework you created !!!

Playground execution failed: /var/folders/9y/w9x0q7y56s78qtsn8knw_ns80000gp/T/./lldb/1191/playground15.swift:5:8: error: no such module 'IBAnimatable'
import IBAnimatable

Any suggestions (Xcode 7.2) ?
Thanks
Frank

[2016-01-16 17:04] tbaranes commented on #34
I was running in the same issue until I read issue #26! Pretty sure you will find your way over there
@JakeLin Maybe you should link the Apple documentation in the README?

[2016-01-16 17:07] tbaranes commented on #7
Is there a reason to not support CocoaPods yet? Interesting in a PR?

[2016-01-16 17:08] ohayon commented on #7
https://github.com/JakeLin/IBAnimatable/pull/35

[2016-01-16 17:09] fvvliet commented on #34
Yep, adding the IBAnimatable.playground to the IBAnimatableApp project did the trick ;-)

[2016-01-16 17:09] #34 closed, assigned to nobody

[2016-01-16 23:48] JakeLin commented on #34
I will document how to use `IBAnimatable` in other projects, first things I need to do are to support package management tools like CocoaPods, Swift Package Manager. I am working on these.

[2016-01-16 23:56] JakeLin opened #36 "Blog post: how to use IBAnimatble in Swift playground to prototype animations"

[2016-01-17 21:41] AmmarSaadDine commented on #7
Hi, I can't find the pod in CocoaPods. Is it not supported yet? because the documentation says it supports it.

[2016-01-18 06:28] ashchan commented on #21
@JakeLin I sent a PR (#39) with some updates to the Chinese README.

[2016-01-18 07:28] #21 closed, assigned to nobody

[2016-01-18 07:33] JakeLin commented on #21
Thanks to @lexrus @ashchan

[2016-01-18 17:54] mgrider commented on #7
My guess is that the podspec still needs to be pushed to trunk. More details here: https://guides.cocoapods.org/making/getting-setup-with-trunk.html

[2016-01-18 17:56] tbaranes commented on #7
I agree with @mgrider , you can already use the library by specifying the git link in your Podfile:

[code]

[2016-01-18 21:48] ohayon commented on #7
@mgrider best to do that until @JakeLin pushes it up himself

[2016-01-19 09:27] lexrus commented on #8
Triangle mask is easy to support but every triangle must has a direction obviously.

[code]

[2016-01-19 09:29] lexrus commented on #20
Dynamics are hard to config via IB in my opinion. Do you have any idea?

[2016-01-19 09:47] lexrus opened #40 "Unable to find a pod with name IBAnimatable"
https://cocoapods.org/?q=IBAnimatable

Have you push it to pod trunk?

[2016-01-19 11:00] JakeLin commented on #20
I am thinking adding UIKit Dynamics to some components. For example, dismissing a Popup (VC) or an image via a Swipe gesture, it is like TweetBot app. then we can have an `IBInspectable` property called `swipeToDismiss` to support UIKit Dynamics.

[2016-01-19 11:08] JakeLin commented on #8
One difficulty I am having is to support different parameters with different options. For example, for `Circle`, we don't need an angle for it. But for `Triangle` or `Star`, we may need a starting degree.

I am working on `Star` based on your PR. Will ask your favour to review it once I submit a PR. I cam up an idea to put parameter in the MaskType string. Because IB doesn't support enum as `IBIns

[2016-01-19 11:09] JakeLin commented on #40
I am working on it now. Will keep you posted.

[2016-01-19 11:35] JakeLin commented on #7
Thanks guys, I have pushed to trunk. The data URL is https://raw.githubusercontent.com/CocoaPods/Specs/29d5f9d87eacf899fb61ddfea165da53db2a9623/Specs/IBAnimatable/1.0.1/IBAnimatable.podspec.json

I haven't seen it on https://cocoapods.org/?q=IBAnimatable and but can see it at http://cocoadocs.org/docsets/IBAnimatable/1.0.1

[2016-01-19 12:00] lexrus commented on #20
Brilliant!

[2016-01-19 12:17] lexrus commented on #8
Yeah. I were thinking about using associated types but fail back to strings at last.
There's another workaround:

[code]

[2016-01-19 14:14] #40 closed, assigned to nobody

[2016-01-19 20:41] AmmarSaadDine commented on #7
Now **pod 'IBAnimatable'** is working fine, thanks!

[2016-01-19 22:27] JakeLin commented on #8
I really like your idea for

[code]

I will try to replace all `String` to actual `enum` in one PR. But will introduce breaking changes to the API when we use them in code.  Thanks again.

[2016-01-19 22:59] JakeLin commented on #8
For triangle direction, we already have a property called `rotate` in `RotationDesignable`, I steal this idea from Sketch. Unfortunately, it doesn't render properly in Interface Builder.

And other concern I have is we will add some non relevant properties showing in Interface Builder. For example, `@IBInspectable public var triangleDirection: String = ""` will only be used when we set `maskType`

[2016-01-20 07:59] JakeLin commented on #7
It is working now. Thanks to everyone help me with this.

[2016-01-20 07:59] #7 closed, assigned to nobody

[2016-01-20 22:38] JakeLin commented on #8
@lexrus I found out this solution doesn't work.

[code]

It renders in the Storyboard properly, but it can't enable the animation at runtime. Because the compiler treat `animationType` as enum `AnimationType?` instead of `String?` and that is unset from Interface Builder. It may need Xcode team to fix this issue to support enums inherited from `String` or other types.

[2016-01-20 22:38] JakeLin commented on #8
I create a feature branch https://github.com/JakeLin/IBAnimatable/tree/feature/support-enum-for-non-ib-api to play around this.

[2016-01-21 05:28] JakeLin commented on #8
I think I forgot to push to https://github.com/JakeLin/IBAnimatable/tree/feature/support-enum-for-non-ib-api  this morning. 😓

[2016-01-22 10:57] tbaranes opened #46 "Method slideOut won't slide out everytime"
Following the code, the `slideOut` methods are always `300 * force`, but if we are running this example on an iPad with a force to 1, it will never get the outside screen.

Is there a reason to have hardcoding that constant?

[2016-01-22 11:03] JakeLin commented on #46
Will add `SlideFadeOutLeft` which is like `SqueezeFadeOutLeft`.

[2016-01-22 12:04] tbaranes commented on #46
:+1:

[2016-01-22 12:11] tbaranes commented on #46
After check the implementation of `SqueezeFadeOutLeft`, we will have the same issue, the `slideOut` should go outside of the screen, whatever is the distance between it's current position, and the next one, isn't it?

[2016-01-22 12:25] JakeLin commented on #46
@tbaranes you are right. that is the problem of `SlideOut` animations. The slide out animations require the width or height of the device. And the animating element itself doesn't have the info. All we can use `UIScreen. mainScreen. bounds` to get. Or we can add some animations like `moveX()`, `moveY()`. That may fix this issue. Do you have any suggestions?

[2016-01-22 13:27] tbaranes commented on #46
We shouldn't use `UIScreen` to get the frame since the container where we are doing the animation could have any frame depending of the context.

Something like that would be more appropriate:

[code]

The only bad point is that we can't use `Animatable` without an `UIView` but it won't be a big issue, is it?

[2016-01-22 13:38] lexrus opened #48 "Increase document coverage"
It's about 7% now.
http://cocoadocs.org/docsets/IBAnimatable/

[2016-01-22 23:28] tbaranes commented on #46
After a better looking in the code, the solution would be more something like this:

[code]

I will make some tests, and a PR if that's working on monday

[2016-01-23 00:17] JakeLin commented on #46
@tbaranes My concern is the animating view may not be the directly subview of the the root view. For example, VC.view -> UIStackView(not 100% width and height) -> UIView(one item within StackView) -> AnimatableView.

I have some ideas to get the distance (width/height).
1. Get device width and height as the distance. we may need to set a constant for playground file. And need to consider the orien

[2016-01-23 01:17] JakeLin opened #50 "Replace String with enum for the properties are not using in IB"
Because `@IBInspectable` in Interface Builder only support certain types. eg. CGFloat, UIColor, String and Int. But can not support enum inherited from `String`. eg. `enum AnimationType: String`.

@lexrus came up a great idea to use enum in programming API and use `String` in IB.

[code]

Then when the App runs on simulator (not in IB), the compiler actually uses _non_ `TARGET_INTERFACE_BUILDER`.

[2016-01-23 03:46] lexrus commented on #50
It's a dirty workaround which should be avoid in the master branch.
The App may crash at runtime if there's another user-defined UIView subclass which has the same IBInspectable `animationType` property but does not has the `animationTypeRaw`.

[2016-01-23 03:51] lexrus commented on #50
Is it possible to specify the default NSKeyedUnarchiver for a Storyboard?

[2016-01-23 03:58] lexrus commented on #50
Another concept is, since UIView is inherited from NSObject, we can add properties with class_addProperty function via runtime. Then the `animationTypeRaw` is not required.

[2016-01-23 04:26] JakeLin commented on #50
@lexrus Method Swizzling is hacky, it pollute all namespace. I tried to use Swift protocol extension to avoid some caveats. for example, create an extension property for `animationTypeRaw`

[code]

to provide default implementation for associating `animationType` and `animationTypeRaw` but Objective C cannot access this Swift extension.

Also, there is no _sealed_ method to prevent the subclass ov

[2016-01-23 04:42] lexrus commented on #50
Agree.
Shall we set a roadmap for what to do next? Or tag priority of each issue?

[2016-01-23 18:24] tbaranes commented on #46
Oh right, I didn't think about the `UIStackView` issue. I'm not sure how you can really handle all the case. Maybe the point 2 / 3 or the best one, but it won't be exact all the time following if we want to slide out of the screen or just the container. Maybe we need to handle the both cases?

[2016-01-23 23:06] JakeLin commented on #46
@tbaranes To slide out the container. we can use containerView, then put a VC within it. that's why i put the 3rd option above. But I haven't thought carefully for all options. But first thing would be side out of the screen.

I think the library is hard to handle 100% of scenarios. It need to add a lot of `@IBInspectable` properties to support more customisation.  We need to balance that.

[2016-01-24 01:22] tbaranes commented on #46
I agree with that. Following the case, the option 3 seems to be the right one using with container view controllers. :+1:

[2016-01-24 22:29] JakeLin commented on #46
@tbaranes using the device width/height should be a feasible solution. In that case if we want to slide out  from a sub view (container view) we still can slide out but it will move further. In our case, it looks faster that it should be because the visible distance is shorter than the actual moving distance. We can modify some parameters to customise the speed.

[2016-01-25 07:27] tbaranes commented on #46
I think it's add complexity following the usage case. Anyway, it's still a good option, improvable later if necessary.

[2016-01-26 08:09] gkye opened #53 "AnimatableCollectionView and AnimatableCollectionViewCell"
An AnimatableCollectionView and/or an AnimatableCollectionViewCell would be nice :+1:

[2016-01-26 22:21] JakeLin commented on #53
For basic features, it is straight forward like `AnimatableTableView` and `AnimatableTableViewCell`, For more complicated features like slide in all cells one by one, it may require to do something with `UICollectionViewDelegateFlowLayout` to customise the animation. Any ideas?

[2016-01-31 16:09] tuyendv2 opened #55 "Any thoughts on how to use this great module with custom views which are derived from UIKit views"
I am using this library https://github.com/CosmicMind/Material, and want to have these components integrated with animatable feature in Interface Builder. I think moving forward I also want to have such kind of thing for any other great UI libraries. Do you have any ideas on how to get this done in the generic way.

[2016-01-31 22:40] JakeLin commented on #55
@tuyencoder I just had a quick look at https://github.com/CosmicMind/Material, it has its own UI elements like `MaterialButton`, to use both of them, you need to either modify `MaterialButton` to conform to `Animatable` or create a subclass of `MaterialButton` to conform to `Animatable`.

 Material design elements is in the backlog, https://github.com/JakeLin/IBAnimatable/issues/16 `IBAnimatable`

[2016-02-01 12:21] tuyendv2 commented on #55
Thanks JakeLin. I think while we are waiting for material design components to be built into IBAnimatable, we should have documentation on how to integrate IBAnimatable with other view frameworks. Of course, what you answered is roughly enough for now.

[2016-02-01 12:55] JakeLin commented on #55
@tuyencoder can I ask you a favour to share what you find to put them together by following my comments above? please let me know if you have any questions. Thanks.

[2016-02-01 13:57] tuyendv2 opened #56 "Exit animation"
When working with IBAnimatable, I am thinking of whether I can add an Exit animation when the controller is being dismissed. Actually with this library in place, I have an ambition to design all my apps following animations, effects demonstrated in Presentation softwares such as MS Powerpoint, Apple Keynote.

[2016-02-01 22:25] JakeLin commented on #56
Do you mean custom transition for dismiss or pop? That's a part of our roadmap, will focus on transitions this month. https://github.com/JakeLin/IBAnimatable/blob/master/Documentation/Roadmap.md#navigation-and-transitioning-animators

[2016-02-02 10:16] #56 closed, assigned to nobody

[2016-02-06 00:02] #46 closed, assigned to nobody

[2016-02-06 12:13] tbaranes commented on #8
From the #59, I like @JakeLin's idea of `Wave(up,40,10)`, but I'm afraid that will be really hard to understand in some cases. `Wave(up)` or `Star(6)` are easy to get, in these cases, this solution may be the best one. But if we go forward and read `Wave(up,40,10)`: what is `40`? What is `10`? In this last case, we put a lot of importance in the documentation, and blind tests. Maybe it will put to

[2016-02-06 17:38] tbaranes commented on #11
Is something missing from the #51 and #61 to close this issue?

[2016-02-06 18:00] tbaranes commented on #24
I like this idea, but I'm asking myself how that will render when used. I suppose it will be a big enum with each gradient, then `DesignableGradient` will have a designable `defaultGradient`, but in order to use it, we will have to enter a string in the `defaultGradient` field? Some of them are understandable, but not all... don't you think?

[2016-02-07 22:34] JakeLin commented on #11
Thanks, @tbaranes @marksands Great works

[2016-02-07 22:34] #11 closed, assigned to nobody

[2016-02-07 23:07] JakeLin commented on #24
@tbaranes Sorry for the late reply, yesterday, I brought my son to see the lion dancing.

I have thought through that before I created this card. It will automatically generate a enum `GradientType` from https://github.com/Ghosh/uiGradients/blob/master/gradients.json vis JavaScript or Swift script. Similar to what I did for
https://github.com/JakeLin/SwiftWeather/blob/master/SwiftWeather/WeatherIc

[2016-02-08 01:04] JakeLin opened #65 "Motion Blur"
`IBInspectable` motion blur like https://github.com/fastred/MotionBlur and https://dribbble.com/shots/1212295-Pocket-iOS7-Animated-GIF

[2016-02-08 01:07] JakeLin opened #66 "Border with more than one side and less than 4 sides"
Currently, designable border can only supports one side or 4 sides.

[2016-02-08 01:08] JakeLin opened #67 "Animatable checkbox: Animations for state changes"
Pop animation when check or uncheck? somthing like ![image](https://camo.githubusercontent.com/642bd91749dce58abfba00fe1cefdf2cf4213fd3/68747470733a2f2f7261772e6769746875622e636f6d2f62616c7973762f6d6174657269616c2d6d656e752f6d61737465722f6172742f64656d6f2e676966)

But can be better transition.

[2016-02-08 01:12] JakeLin opened #68 "Animatable checkbox: Default checked and unchecked icon"
Using path to avoid image assets?

[2016-02-08 02:31] JakeLin commented on #67
Or somthing like https://dribbble.com/shots/2182807-Checkbox

[2016-02-08 02:33] JakeLin opened #69 "Animatable checkbox: Checked color"
Make checked color or and unchecked color to be `IBInspectable`. Depends on [Animatable checkbox: Default checked and unchecked icon](https://github.com/JakeLin/IBAnimatable/issues/68)

[2016-02-08 02:37] JakeLin opened #70 "Animatable Slider"
Make `UISlider` animatable.

[2016-02-08 02:41] JakeLin commented on #16
Material Design Components: https://www.google.com/design/spec/components/bottom-sheets.html

[2016-02-08 02:42] JakeLin commented on #16
an iOS implementation https://github.com/CosmicMind/Material

[2016-02-08 02:43] JakeLin opened #71 "Predefined flat colors"
Flat colors like https://flatuicolors.com/ or more predefined colors.

[2016-02-08 02:48] JakeLin opened #72 "Animatable Segmented Control"
Make `UISegmentedControl` animatable, make not inherit from `UISegmentedControl`.

[2016-02-08 02:49] JakeLin opened #73 "Custom dynamic type"
Easily to create custom dynamic type for iOS. https://www.captechconsulting.com/blogs/ios-7-tutorial-series-dynamic-type

[2016-02-08 02:50] JakeLin opened #74 "Animations: MoveTo and MoveBy"

[2016-02-08 02:50] JakeLin opened #75 "Animation: Jump"
Jump up, flip and drop down.

[2016-02-08 07:33] tbaranes commented on #24
Got it. Interesting implementation.

I like `predefinedGradient`, but all of them seems good names for this feature.

[2016-02-08 08:36] lexrus commented on #24
We can use Ruby:

[code]

It outputs:

[code]

[2016-02-08 10:57] JakeLin commented on #24
@lexrus do you think we can also create an enum like `.SunnyDays`, `.Suzy` and `.DarkSkies` for code and map it to ["#4B79A1", "#283E51"] in `configurePredefinedGradient(gradientType: GradientType)`. I think most of code can be generated by a script like yours.

[2016-02-08 11:05] JakeLin commented on #24
@tbaranes I got some ideas to support random data for prototyping, will create a issue to document that. For example, random color, random name or random address.

InVision just released a Sketch plugin today. http://labs.invisionapp.com/craft . I did some Sketch plugin for internal use before. I work for a property website, and made some plugins for populating property images, address and price f

[2016-02-08 11:12] JakeLin opened #76 "Custom properties for enum value"
TBD

Some discussions
https://github.com/JakeLin/IBAnimatable/issues/8
https://github.com/JakeLin/IBAnimatable/pull/59

[2016-02-08 11:17] JakeLin opened #77 "Plugin for prototyping only"
Some feature as a plugin will only apply to prototyping in IB. Maybe useful for populating random data like names.

[2016-02-08 11:18] JakeLin opened #78 "Random data generator"
Random name, random address, random title, random text?

Depends on [Plugin for prototyping only](https://github.com/JakeLin/IBAnimatable/issues/77)

[2016-02-08 11:20] tbaranes commented on #78
Random color, random gradient? (we can even go further and play with [Chameleon ](https://github.com/unifiedh/Chameleon-Swift) to have a nice result)

[2016-02-08 11:26] JakeLin commented on #78
Yes, I don't think random color or gradient is useful, I rather choose them in predefined color/gradient set. random name, avatar and image will be very helpful for prototyping since <del>all of us are</del> I am lazy.

[2016-02-08 12:12] tbaranes commented on #78
Depending, it would be nice to randomise a gradient / color relative to a defined background. For example, when prototyping, we could just specify a color, and have everything around nice.

Nevertheless, I agree with you that is less useful than names, address...

[2016-02-08 12:17] JakeLin commented on #78
Well, that app must be very smart to create relevant colors. it is something like this https://color.adobe.com/

[2016-02-08 12:25] tbaranes commented on #78
Exactly! That's why I was saying it shouldn't be a priority :laughing:

[2016-02-08 15:13] lexrus commented on #24
enum can have primitive type only, how can I 'map' it?

[2016-02-08 15:15] lexrus commented on #24
Got an idea, but it's tricky...

[code]

[2016-02-09 07:17] JakeLin commented on #24
@lexrus Swift enum can inherit from `String` like

[code]

then we can map it like

[code]

All the code can be generated by a script. we develop the script. How do you think of this approach?

[2016-02-09 07:38] tbaranes commented on #24
Personally, I  agree that the enum string is the best solution. Combined with the script, it would be really easier to create and maintain for the long term process.

For the programming language, couldn't make it directly in swift? Anyway, it's not really important. I don't think that will be a lot of work to do whichever is the final language.

[2016-02-09 07:44] tbaranes commented on #76
The current ideas suggested (which could be working) in order to make that thread going further:
1. `Wave(up,40,10)`: MaskType(param1,param2,param3)
2. More AnimatableView's children to add custom designable properties following the shape
3. Other suggestions?

I prefer the first solution, but it could be maybe too hard to use, or improving a bit the syntax to be a bit more swift: `Wave(direction:

[2016-02-09 07:59] JakeLin commented on #24
Swift +1

[2016-02-09 17:14] tbaranes commented on #76
Another approach:

[code]

I still missing a nice way to make this working with the interface builder, but I find this approach more swifty.

[2016-02-09 18:44] tbaranes commented on #24
I made a try with a [swift script](https://github.com/JakeLin/IBAnimatable/blob/features/predefined_gradient/Scripts/GradientsTypeScript.swift). I think it's a nice way to handle the issue.

Just one thing I'm not sure yet: do we prefer that the script create directly (overwrite) the files where will be the enum / switch, or should we just print the output and copy/paste the result where it's nece

[2016-02-10 05:34] JakeLin commented on #24
As someone may read this thread. The generated code looks like this

[code]

because init with all string maybe too wide.

[2016-02-10 06:13] JakeLin opened #81 "DesignableGradientView should conform to GradientDesignable"
`DesignableGradientView` was a temporary view to wrap a layer. need to conform to  `GradientDesignable` protocol.

[2016-02-10 07:12] #24 closed, assigned to nobody

[2016-02-10 07:13] tbaranes commented on #81
`GradientDesignable` should also implement `startPoint` process which is implemented in `DesignableGradientView`

[2016-02-10 07:17] JakeLin commented on #81
Yes, move it in `DesignableGradientView`

[2016-02-10 10:34] JakeLin commented on #76
@tbaranes @lexrus came up similar ideas before to use Swiftified enum. But since IB doesn't support enum yet, it can't fix our problem.

I prefer option one, and it can at least move us forward. If we can support option one, we can subclass `AnimatableView` to support option two if needed.

To get the benefit of Swiftified enum, we can have

[code]

in code then map the `String` value e.g. `Star(6

[2016-02-10 15:17] lexrus commented on #24
Nice work, Tom.

What's the frequency we update the enum with this script?
In case there're breaking changes in the original repo, we should promise the stability of IBAnimatable.

[2016-02-10 15:35] lexrus commented on #78
https://github.com/timuric/Content-generator-sketch-plugin
http://www.invisionapp.com/craft
It would be awesome if we can do the same things in storyboard.
How about we start from an easy one, names label. Implement as a protocol extension in a CocoaPods sub spec called 'Prototyping'.

[2016-02-10 18:42] tbaranes opened #85 "Improving github workflow"
It would be great to improve the github workflow:
- A better usage of labels to differentiate the issues, at least the basic ones if we don't create custom labels
- Using milestones to determinate which features should be implemented in the next version
- Something more?

Make this will definitely helps us to priorities and ease the development process.

Any thought?

[2016-02-10 23:33] JakeLin commented on #78
@lexrus that's why I am thinking of, there are some dataset when we work on it like http://uinames.com/  and http://www.radfaces.com/

May create `PrototypableLable: AnimatableLable` to add on those properties, but I am not sure can we build another Pod within the same framework? Or we can have a Prototyping framework based on IBAnimatable framework?

[2016-02-11 07:15] tbaranes commented on #78
We can create a [subspec](https://guides.cocoapods.org/syntax/podspec.html#group_subspecs) if we want to keep everything in IBAnimatable. That means we can specify in our Podfile which spec we wants:

[code]

However, I'm not sure that it's a good idea to keep everything in `IBAnimatable` since a prototyping framework is a big job apart.

[2016-02-11 12:21] tbaranes commented on #81
It still needs some improvements, but DesignableGradientView conforms to `GradientDesignable`.
Also, the `startPoint` is now working when conforming to `GradientDesignable`.

[2016-02-11 12:21] #81 closed, assigned to nobody

[2016-02-11 12:27] tbaranes opened #86 "Improving GradientDesignable implementation"
History that bring this issue: #84  / #81
Historically, `GradientDesignable` wasn't working even if a subview was conforming the protocol. In order to fix this, we moved all the gradient's intelligence directly in the protocol, by creating creating a sublayer directly in the protocol. Using this new implementation, we can make the API nicer and removed useless views like `DesignableGradientView` (

[2016-02-11 12:44] JakeLin commented on #86
Merge in #87

[2016-02-11 12:44] JakeLin commented on #85
I like the workflow, we can start with labels.

[2016-02-13 01:01] mitchellporter opened #88 "CocoaPods installation fals"
I get the following error when trying to install via CocoaPods:

[code]

My current deployment target is iOS 8.0

[2016-02-13 01:01] #88 closed, assigned to nobody

[2016-02-13 01:01] mitchellporter opened #89 "CocoaPods installation fails"
I get the following error when trying to install via CocoaPods:

[code]

My current deployment target is iOS 8.0

[2016-02-13 09:37] tbaranes commented on #89
The last released of `IBAnimatable` on CocoaPods was targeting iOS 9.0. However, the next one will be compatible with iOS8.0.

Until this new release, you can still use it with CocoaPods by targeting the master directly:

[code]

[2016-02-13 10:06] JakeLin commented on #89
@mitchellporter thanks for reporting this issue, we have released v1.1 which supports iOS 8. And we also pushed the podspec. You should be able to `pod 'IBAnimatable'` now. please let me know if you have any question.

@tbaranes thanks for troubleshooting this issue.

[2016-02-13 10:16] JakeLin commented on #25
To let IB render the shadow more correctly, currently, in IB renders opposite of actual device. we may need to handle `geometryFlipped`, but I have tried and it didn't work.

[2016-02-13 12:58] tbaranes commented on #85
Closing this issue since the first step is done. We can reopen it later if we think it's not enough.

[2016-02-13 12:58] #85 closed, assigned to nobody

[2016-02-13 13:20] #5 closed, assigned to nobody

[2016-02-13 14:03] tbaranes commented on #86
Final details are discussing, but we can consider this issue fixed.

[2016-02-13 14:03] #86 closed, assigned to nobody

[2016-02-13 17:52] tbaranes opened #94 "Makes all fillColor using the right implementation"
In the current code, I found two different implementation to conform a protocol:
- AnimatableView... implementation:

[code]
- AnimatableTableView... implementation:

[code]

Shouldn't always be the first option? After some tests, I see that when using the second option, the background will be black even if don't set any color.

Isn't it a bug?

[2016-02-13 17:58] tbaranes opened #95 "Bug in the mask star draw"
<img width="205" alt="screen shot 2016-02-13 at 17 25 04" src="https://cloud.githubusercontent.com/assets/1402212/13029134/a6ad195a-d283-11e5-9c1c-6ae9386711dd.png">

[2016-02-13 20:19] mitchellporter commented on #89
@JakeLin @tbaranes thanks for the help!

[2016-02-13 20:19] #89 closed, assigned to nobody

[2016-02-13 23:12] JakeLin commented on #94
First one, , because we need to Change the colour at runtime after the view has loaded. it was a bug for the second one

[2016-02-13 23:37] tbaranes commented on #94
Alright, I changed the label and added it to the milestone. Is that should also be applied on opacity... ?

[2016-02-14 06:17] lexrus commented on #5
I guess we should leave this open and wait for Xcode 7.3.

[2016-02-14 06:36] JakeLin commented on #94
@tbaranes thanks, great work. I think `opacity` is separate property. Don't need to do anything with that yet.

[2016-02-14 06:43] lexrus commented on #95
My fault. I should leave the star in the center of the view. Fixed.

[2016-02-14 08:28] lexrus opened #96 "Fix layout issues of Main.storyboard for iPad"
<img width="624" alt="screen shot 2016-02-14 at 4 22 52 pm" src="https://cloud.githubusercontent.com/assets/219689/13032697/d8d45196-d337-11e5-9227-63b7da19bf95.png">

[2016-02-14 08:38] lexrus opened #97 "Icons were not horizontal aligned in static table view"
<img width="159" alt="screen shot 2016-02-14 at 4 30 59 pm" src="https://cloud.githubusercontent.com/assets/219689/13032720/9bea9d48-d338-11e5-9e42-30c99dff3565.png">

We should resize the canvas of each icon into the same.

[2016-02-14 08:48] lexrus opened #98 "Design a Logo"
Every popular lib has a nice logo.
This logo may also be used as the icon of the demo App. So that Jake can move the demo App to the first screen page of his iPhone.
Mostly it has a purple background I guess.

[2016-02-14 11:58] #71 closed, assigned to nobody

[2016-02-14 11:58] #94 closed, assigned to nobody

[2016-02-14 12:07] #8 closed, assigned to nobody

[2016-02-14 12:08] #50 closed, assigned to nobody

[2016-02-14 12:08] #76 closed, assigned to nobody

[2016-02-14 12:33] tbaranes commented on #19
Do you have any preferences about which transitions should be implemented or examples of the results expected?

[2016-02-14 13:44] tbaranes commented on #98
Agree. That would really great!

[2016-02-14 14:21] lexrus commented on #19
Some concepts:
https://github.com/entotsu/TKSubmitTransition
https://github.com/NewAmsterdamLabs/ZOZolaZoomTransition
https://github.com/AlvaroFranco/AFBlurSegue

I think image zooming segue is very useful in most Apps. And it's handy to dismiss it with swap like Jake said in #20 .

[2016-02-14 14:28] tbaranes opened #101 "Mask border"
As @lexrus pointed out in #99, we currently doesn't draw well the borders when a maskType is specified.
I join Lex to say that is a really annoying miss since a new user can be disappointed by the library.

Any thought of how we can handle this issue?

[2016-02-14 14:34] tbaranes commented on #101
Some potential solutions:
- Add custom border properties to `MaskDesignable`, but it will a duplicates of `BorderDesignable`
- Add border properties directly to `configMask()`, but that will break the uniformity of the `configProtocol` in the project
- Access to the border layer and update it when drawing the mask, supposing that the border is always configure before the mask, or we have to call `

[2016-02-14 14:35] tbaranes commented on #19
Other list of concepts: http://transitiontreasury.com

[2016-02-14 14:48] lexrus commented on #101
Add `IBAnimatable/FontAwesomeAnimatableView` into Podfile, so that you can draw any icon you want. :laughing:

[2016-02-14 14:50] lexrus commented on #19
https://dribbble.com/shots/2131325-Bike
https://dribbble.com/shots/1216761-Liquid-Animation

[2016-02-14 14:56] wdibi opened #102 "Playground"
There is an issue of not being able to import IBAnimatable into the playground when following your instructions.

[2016-02-14 15:05] lexrus commented on #102
1. Open IBAnimatableApp.xcodeproj
2. Select IBAnimatable Framework scheme and build it with command + b
3. Select the first IBAnimatable.playground
4. Have fun

![ibplayground](https://cloud.githubusercontent.com/assets/219689/13034403/73b4641c-d36f-11e5-8428-5de9df39397d.jpg)

[2016-02-14 15:13] lexrus opened #103 "Move GIF screencasts into a issue"
So that users can clone this repo faster.

Have you ever noticed that IBAnimatable.gif is a 7.1MB file?

[2016-02-14 15:25] tbaranes commented on #95
@lexrus I still getting an error using the star: it displays well in interface builder, but not anymore on device / simulator / playground. Any idea? The other mask seems to draw as before.

[2016-02-14 15:48] wdibi commented on #102
Thanks!

[2016-02-14 16:54] tbaranes commented on #95
@lexrus  I'm getting some weird issues with the star, here the result:
- `Master`
  - Working well in the IB
  - Won't appear in the playground, neither on simulator
- `hotfix/fixed_border_designable` (with the mask border fixed):
  - Working well in the IB
  - Simulator /  Playground: appear at the bottom right (any animations enabled), but only drawing the border

<img width="549" alt="screen sh

[2016-02-14 23:21] JakeLin opened #104 "FontAwesomeAnimatableView"
Support Font Awesome to draw icons, some logic can automatically generated by a script like https://github.com/JakeLin/SwiftWeather/blob/master/SwiftWeather/WeatherIcon.swift

Refer to the discussion on https://github.com/JakeLin/IBAnimatable/issues/101

[2016-02-15 00:29] lexrus commented on #104
Oh no. I were just kidding.
Do you guys really think this is necessary? No one expecting a new Three20.
We should focus on some primary goals and do the best.
On Mon, Feb 15, 2016 at 7:21 AM Jake Lin notifications@github.com wrote:

[2016-02-15 00:31] lexrus commented on #95
I'm sorry, Tom,

This is the first day on my new job. I'll debug this issue later tonight.
On Mon, Feb 15, 2016 at 12:54 AM Tom Baranes notifications@github.com
wrote:

[2016-02-15 01:31] JakeLin commented on #19
First thing, we need to setup an architecture for that. I got three ideas to achieve that.
1. An animator conforms to `UIViewControllerAnimatedTransitioning` and drag `NSObject` into a `UINavigationController` on IB (on top of the Controller), set that `NSObject` to that animator, set that navigation controller's delegate to it. Then all transitions within that navigation controller will use the a

[2016-02-15 02:28] JakeLin commented on #104
@lexrus I added as nice-to-have, if we do it it will be in a pod's sub spec like a plugin, don't want to put any asset in the lib yet.

[2016-02-15 03:21] JakeLin commented on #103
Thanks, I noticed that before and created a misc project to store those stuff. Have moved them to Misc project in #105

[2016-02-15 05:53] lexrus commented on #103
Jake, you can create an issue and close it. Upload all images in this issue. They will be permanently exist. That's what I did.
https://github.com/lexrus/VPNOn/issues/1

[2016-02-15 05:53] #103 closed, assigned to nobody

[2016-02-15 05:55] JakeLin commented on #103
Thanks, learning new thing every day. I think I still need to remove them from the repo, right? If yes, I merge #105

[2016-02-15 05:56] lexrus commented on #102
@JakeLin Is this the correct process to open the Playground? Have you described others somewhere?

[2016-02-15 05:58] lexrus commented on #103
Yes, you're right. :+1:

[2016-02-15 06:01] JakeLin commented on #102
I describe it in README.md, but I think I should add those step you mentioned above to make it clearer.

[2016-02-15 06:07] lexrus commented on #22
Do you prefer the tr;dr version:
https://github.com/alamofire/alamofire#embedded-framework
Or the ask Google version?
https://github.com/thoughtbot/Argo#git-submodules

[2016-02-15 07:07] tbaranes commented on #96
Closing this until we really wants to create a layout specific for iPad.

[2016-02-15 07:07] #96 closed, assigned to nobody

[2016-02-15 07:12] tbaranes commented on #103
Awesome tips @lexrus! Didn't know that.

[2016-02-15 07:14] tbaranes commented on #22
I think that should follow as much as possible the same description as the CocoaPods, Carthage... only the strict necessary. If we want to do the tr;dr, we should do it for each sort of installation.

[2016-02-15 07:24] tbaranes commented on #19
I definitely prefer the option 3. Seems to be the easiest to use: just set a custom segue, and you are done.

Should we also think about a way to use them programatically? The disadvantage of option 3 is that we can't use it outside of a storyboard.

[2016-02-15 12:53] #102 closed, assigned to nobody

[2016-02-15 12:59] #74 closed, assigned to nobody

[2016-02-15 13:02] tbaranes commented on #95
Thanks @lexrus!

[2016-02-15 13:58] lexrus commented on #98
Here is my concept. What do you think?
![ibanimatableiconpreview](https://cloud.githubusercontent.com/assets/219689/13050554/26b82962-d42f-11e5-9dd3-a84d445af99a.jpg)

[2016-02-15 14:08] tbaranes commented on #98
Looks nice :+1:  The pencil is a good idea to represent `IBAnimatable`

[2016-02-15 14:11] lexrus commented on #98
Oh, it's not a pencil. :sob:

<img width="134" alt="screen shot 2016-02-15 at 10 11 14 pm" src="https://cloud.githubusercontent.com/assets/219689/13050862/107c82cc-d431-11e5-90c5-fbbf5fdb8e9a.png">

[2016-02-15 14:13] lexrus commented on #98
How about this one? You can imagine a visualised tap or an activity indicator.

![ibanimatableiconpreview2](https://cloud.githubusercontent.com/assets/219689/13050882/2a6e2aaa-d431-11e5-8bf4-4c1564413c8f.jpg)

[2016-02-15 14:17] tbaranes commented on #98
hmmm... I prefer the first one, the "fake pencil" :laughing:
Now you mention it, it's a really good idea to take the icon from attributes inspector since it's really the basics of `IBAnimatable`. The second one is talking less about the library.

Anyway, whichever is the centered image is, the background is really cool :+1:

[2016-02-15 14:37] lexrus commented on #98
Do you really want a pencil?

Introducing Pencil Plus and Pencil Nano :laughing:

![ibanimatableiconpreview3](https://cloud.githubusercontent.com/assets/219689/13051533/a1dabb64-d434-11e5-8df3-c4a8a14a8d81.jpg)

[2016-02-15 14:39] lexrus commented on #98
Had to sleep. Good night.
![ibanimatablehero 3x](https://cloud.githubusercontent.com/assets/219689/13078609/27491a86-d4fb-11e5-9f6c-2dbc2be61e14.png)
![storyboardpreview](https://cloud.githubusercontent.com/assets/219689/13078965/bf4a7fcc-d4fc-11e5-986b-e2ef85ea3a34.jpg)

[2016-02-15 15:39] tbaranes commented on #98
No no, I was talking about the "attributes inspector" which make me think about a pencil (should I complain to Apple? :smiling_imp:), now when I see it in Xcode I have the impression to see a pencil :laughing:

[2016-02-15 22:11] JakeLin commented on #98
I like the first one.

[2016-02-16 17:19] #95 closed, assigned to nobody

[2016-02-17 09:45] #98 closed, assigned to nobody

[2016-02-22 03:40] allenwong opened #109 "README.zh.md has some broken image links."
Can't load the image in README.zh.md file.

[2016-02-22 04:17] #109 closed, assigned to nobody

[2016-02-22 04:18] allenwong commented on #109
👍👍👍👍👍

[2016-02-22 04:19] JakeLin commented on #109
Thanks @allenwong

[2016-02-24 07:21] JakeLin commented on #19
@tbaranes , @lexrus Please have a look at #110 when you have time, I have added a checklist above for this story. I am working on `AnimatableViewController` and `AnimatableTableViewController` at that moment. Please let me know if you have any questions, thanks.

@tbaranes to support custom animations programmatically, we can provide a set of custom Animators, you can find them in #110 as the exam

[2016-02-26 00:24] JakeLin opened #112 "Configurable `Polygon` mask"
Add parameter to configure the sides of  `Polygon` mask like `Star`.

Currently, it generate random sides every time.

[code]

Should take have sides parameter like `public func maskPolygon(sides: Int = 6)`

[2016-02-26 08:18] tbaranes commented on #112
Agree 👍

[2016-03-01 17:12] leonardbonfils opened #116 "README.md correction - Shadows render correctly in IB"
In your README.md, you said that shadows didn't render correctly in IB and that it might be an IB bug.

I am using Xcode 7.3 beta and shadows are rendering just fine. Just thought I'd let you know.

[2016-03-01 20:24] leonardbonfils opened #117 "How can I use IBAnimatable on a custom subclass ?"
I have text fields that are of class "KaedeTextField" (from [this GitHub library](https://github.com/raulriera/TextFieldEffects)). How can I still animate these text fields ?

[2016-03-01 20:29] tbaranes commented on #117
You have to create a `KaedeTextField` subclass, then make it conforms the `IBAnimatable` protocols you need: `Animatable`, `DesignableGradient`... You can check out [`AnimatableView`](https://github.com/JakeLin/IBAnimatable/blob/master/IBAnimatable/AnimatableView.swift) to have an example of an implementation of the protocols. This subview is conform to almost all protocols available.

EDIT: May b

[2016-03-01 22:08] JakeLin commented on #116
I have tried this morning, and it still can't render correctly in IB. I will check it again once Apple release Xcode 7.3 GM and update README.md if it has been fixed. Thanks.

<img width="1216" alt="screen shot 2016-03-02 at 8 24 55 am" src="https://cloud.githubusercontent.com/assets/573856/13443658/251d02a2-e056-11e5-8cd8-fcc32675c48b.png">

[2016-03-01 22:22] JakeLin commented on #117
@tbaranes thanks for your great explanation. Because `IBAnimatable` uses protocol oriented approach to provide protocol extensions. It would not pollute the class hierarchy when we conform to those protocols, it is very easy to integrate with other great libraries.

I will create a document how to integrate `IBAnimatable` with other libraries. It will be very similar to what @tbaranes said above.

[2016-03-02 07:17] tbaranes commented on #117
Great idea the document. It seems to be necessary since it's a regular case.
Don't you think the plugin system will be a lot of work and maintenance?

[2016-03-02 11:14] JakeLin commented on #117
@tbaranes you are right, plugin is just an idea and not our main focus. I got the idea because of Swift protocol oriented paradigm, `IBAnimatable` is so flexible to extend. It probably can support plugin system like jQuery, plugins can be developed and maintained by any developer. I am not sure can we get to the far. But for now, we focus on the vision, and current one is transition animations.

A

[2016-03-03 11:48] JakeLin commented on #19
I have removed "`Push***Segue` to support custom transition animations for Push and Pop" because the transition animation should be consistent in the same `NavigationController`. And we already support the custom transition in `AnimatableNavigationController`.

And also added "`***InteractiveAnimator` to support gesture to Pop or Dismiss VC. e.g. Pan, ScreenEdgePan and Pinch." item.

[2016-03-03 11:55] tbaranes commented on #19
Awesome work @JakeLin :+1:

[2016-03-03 12:07] #22 closed, assigned to nobody

[2016-03-03 12:15] JakeLin commented on #22
Thanks @lexrus I took the ask Google version. If the user wants to use git submodules, should be able to do it by themselves.

[2016-03-04 19:02] #116 closed, assigned to nobody

[2016-03-04 19:14] leonardbonfils commented on #117
Thank you very much, and sorry for replying a little late (I don't check GitHub that often...). I indeed created a custom subclass of KaedeTextField and implemented all the required IBAnimatable-related protocols and everything seems to work fine. Thanks.

[2016-03-04 19:14] #117 closed, assigned to nobody

[2016-03-12 15:58] rscodra opened #120 "Applying Gradient Crashes"
This is my first time trying this and i've tried adding a gradient and it's throwing these two errors:

Failed to update auto layout status: The agent raised a "CALayerInvalid" exception: layer <CAGradientLyaer : 0x7fc314889e50> is part of cycle in its layer tree

 Failed to render instance of AnimatableView: The agent threw an exception

I've been tempering with it for quiet a while and couldn't

[2016-03-13 00:33] JakeLin commented on #120
@sambing thanks for reporting this, can you share your demo project? I am not able to reproduce this issue.

[2016-03-13 11:58] tbaranes commented on #120
I think we fixed this crash in master but didn't release it. Could try to target the last version of master?

[2016-03-13 20:01] rscodra commented on #120
So is it fixed? @tbaranes how would i do that?

[2016-03-13 21:38] tbaranes commented on #120
Not sure if your case is releated, but we have a crash fixed related to the gradient including in the next version.

What are you using to install `IBAnimatable`? If it's CocoaPods, just copy the following line to your podfile:

[code]

[2016-03-13 21:49] rscodra commented on #120
That fixed it. Thank you.

[2016-03-14 07:20] #120 closed, assigned to nobody

[2016-03-14 10:16] JakeLin commented on #120
@tbaranes thanks for fixing this issue. Because We are about to release 2.0, I won't make 1.2.1 release now. Sorry for the inconvenience @sambing .

[2016-03-15 10:36] tbaranes opened #121 "Animation: scaleTo"
Just though we didn't have it, but it could be useful!

[2016-03-15 11:30] JakeLin commented on #121
Cool, since we can support parameters now, can support more animations with parameters. `scaleTo` is useful.

[2016-03-19 00:13] jiggajoe commented on #120
Thanks for sharing this. I spent a few hours on trying to figure this one out. PS: Thanks Jake for a great library

[2016-03-19 01:30] JakeLin commented on #120
Sorry, @jiggajoe will do more frequent releases after 2.0. Thanks.

[2016-03-19 12:54] JakeLin opened #125 "More interactive animators/controllers"
Currently, we have `PanInteractiveAnimator` to support custom transition animations for Push and Pop. We may add more interactive animators
- [x] `ScreenEdgePanInteractiveAnimator`
- [x] `PinchPanInteractiveAnimator`

Others like `Tap` (multiple times?) or `LongPress`? Feedback are welcome.

[2016-03-19 13:02] JakeLin opened #126 "More system transition animators (animation controllers)"
To have more system transition animations can be configured in Interface Builder.

Unlock all system built-in animations, We have `SystemCubeAnimator` and `SystemFlipAnimator` now, we can easily unlock all system built-in animations in [SystemTransitionType](https://github.com/JakeLin/IBAnimatable/blob/master/IBAnimatable/SystemTransitionType.swift). They all have same implementation with differen

[2016-03-19 13:53] tbaranes commented on #126
If we already have all of them, it would be a huge work :laughing:
Seems we are gonna have a lot of fun!

[2016-03-20 10:26] JakeLin commented on #126
@tbaranes too good to be true if we can implement all of them. I think we can do frequent releases for every one or few animators. Once we have implemented some of popular transition animators, it is good enough to use in most of transitions.

[2016-03-20 10:37] JakeLin commented on #19
Release 2.0 is out first. More transition tasks are in

[More interactive animators/controllers](https://github.com/JakeLin/IBAnimatable/issues/125)
[More transition animators/animation controllers](https://github.com/JakeLin/IBAnimatable/issues/126)

[2016-03-20 10:37] #19 closed, assigned to nobody

[2016-03-20 10:39] rscodra commented on #120
@JakeLin No problem, thank you for the great support and a amazing library, i've been using it regularly. I did notice this when adding UITableViewControllers and applying a gradient from the interface builder if i have the size set to say 4.7in, on larger screens the gradient is cut off and the background color shows.

[2016-03-20 11:03] JakeLin commented on #120
@sambing interesting, will look at it.

[2016-03-22 11:08] JakeLin opened #129 "Gradient color cut off in UITableViewControllers"
As @sambing mentioned, this is a bug in Gradient color. When use Predefined gradient color in a `UITableViewController`, it color will cut off.

![simulator screen shot mar 22 2016 10 05 23 pm](https://cloud.githubusercontent.com/assets/573856/13949622/3346cfa0-f07a-11e5-99af-9c4f692e41e2.png)

Expected behaviour: Should display the gradient color from edge to edge.

The sample app can be found in

[2016-03-24 08:38] azxfire opened #130 "can't build"
func iterateEnum<T: Hashable>(_: T.Type) -> AnyGenerator<T> {
  var i = 0
  return AnyGenerator {
    let next = withUnsafePointer(&i) { UnsafePointer<T>($0).memory }
    let currentI = i
    i = i + 1
    return next.hashValue == currentI ? next : nil
  }
}
argument passed to call that takes no arguments?
result values in '?:'espression have mismatching type 'T' and '_'

[2016-03-24 08:54] JakeLin commented on #130
Are you using Xcode 7.3? If yes, you should be able to build. If you are using Xcode 7.2, then please upgrade Xcode, or `git checkout 2.0` back to older version.  Or download the source code from https://github.com/JakeLin/IBAnimatable/releases/tag/2.0

Please let me know if you have any questions.

[2016-03-26 04:19] azxfire commented on #130
Thank you.I solved this.

[2016-03-26 06:54] #130 closed, assigned to nobody

[2016-03-27 13:29] amitayd opened #131 "Carthage support is broken in carthage 0.15.1"
Trying to install in Carthage using a Cartfile fails on carthage 0.15.1 with the message **Failed to read file or folder**.

I've opened an issue at Carthage, and the maintainers say it's an issue with IBAnimatable's plist.info , declaring an app target and not an framework target (see https://github.com/Carthage/Carthage/issues/1218#issuecomment-202058521 ).

Following are the reproduction detail

[2016-03-27 13:45] JakeLin commented on #131
Thanks for reporting that, looking at it.

[2016-03-27 13:56] JakeLin commented on #131
@amitayd As you mentioned I have tried it is working with Carthage 0.11 at that moment. Could you please use 0.11 for now? and will fix it by creating a new plist for the framework target. Thanks again.

Jake

[2016-03-27 14:32] amitayd commented on #131
@JakeLin Sure, using 0.11 now as a workaround. Thanks for looking into that!

[2016-03-28 08:28] #131 closed, assigned to nobody

[2016-03-28 09:25] tbaranes commented on #101
I reopen this issue, seems mask border isn't working anymore for stars, triangle...

[2016-03-28 09:32] tbaranes commented on #101
That bug isn't a regression, it has always been here. In fact, we doesn't support mask border when using `maskTriangle()`, `maskStar()`... it's only working by directly the `maskType`.

When setting a `maskType`, we are reloading the border:

[code]

Whereas when using `maskTriangle()`, `maskStar()`... we are just updating the mask without reloading the border.

The solution would be to find a way

[2016-03-28 11:33] tbaranes commented on #101
One solution could be to move the `configBorder()` directly in the `configMask()`, I'm not a huge fan because that means `DesignableMask` knows `BorderDesignable`, but can't think about a better solution.

I tried this solution by casting in `AnimatableView`, it seems to work fine, but didn't find yet a solution to make it generic which means we have to cast `self` to an `UIView` conforming to `Bo

[2016-03-28 11:36] #112 closed, assigned to nobody

[2016-03-28 11:47] JakeLin commented on #101
@tbaranes I just did a test and it is working currently for `AnimatableView` for `triangle` and `star`.

<img width="441" alt="screen shot 2016-03-28 at 10 36 13 pm" src="https://cloud.githubusercontent.com/assets/573856/14077324/338b1988-f536-11e5-99ec-2edcb5b67e9e.png">
Can you confirm is the current version of `AnimatableView` working or not?

Since we use protocol oriented approach, it is bett

[2016-03-28 11:58] tbaranes commented on #101
It works when directly used in IB, or using the setter `view.maskType = String(MaskType.Circle)`, but the border won't be drawn when using `view.maskTriangle()`...
That issue is due on the fact that we are doing the `configBorder()` directly in `didSet`.

**Using view setter / IB:**

<img width="143" alt="screen shot 2016-03-28 at 14 00 47" src="https://cloud.githubusercontent.com/assets/1402212/1

[2016-03-28 12:15] JakeLin commented on #101
@tbaranes clear, because `maskTriangle()`, `maskWave()` and `maskStar()` are the extension methods in `MaskDesignable` and only know `maskType`. That's why it can't update the borders when use `view.maskStar(6)`.

For the user, if they want to draw a mask with borders in a view. Using `view.maskType = "Star(6)"` is same effort as `view.maskStar(6)`, right? If it is true, shall `private` all `mask*

[2016-03-28 12:19] tbaranes commented on #101
Agreed. It will be nicer to privatise these methods in order to avoid that case. Gonna make a PR.

[2016-03-28 12:22] JakeLin commented on #101
@tbaranes thanks, nice to chat with you to figure out a better solution😀/workaround😂.

[2016-03-28 12:39] #101 closed, assigned to nobody

[2016-03-29 06:21] #129 closed, assigned to nobody

[2016-03-30 16:08] pixelbendr opened #142 "Doesn't work in latest xcode"
I have recently updated my Xcode and the library doesn't work in interface builder.

Sample Error

"IB Designables: Ignoring user defined runtime attribute for key path "maskType" on instance of "UIButton". Hit an exception when attempting to set its value: [<UIButton 0x7f946aeb9e50> setValue:forUndefinedKey:]: this class is not key value coding-compliant for the key maskType.
"

[2016-03-30 16:28] tbaranes commented on #142
Did you update to Xcode 7.3? It's working well in the demo app. Could you share more information that could help? Setup of your `UIButton`? A sample project? A screenshots? Well, anything that you can share :innocent:

Thanks!

[2016-03-30 17:58] tbaranes commented on #126
Just to keep in mind: the animation `SystemPageCurl` could be refactored in order to use `animateWithCATransition`, in order words creating a new enums instead of using the enums. The result won't change but will create a breaking change, nevertheless, it will make sense.

Also, here the full list of the system animators and their implementation state:
- [x] Fade
- [x] MoveIn
- [x]  Push
- [x]  Re

[2016-03-30 22:42] JakeLin commented on #142
@pixelbendr could you please provide more details as @tbaranes mentioned?

Do you use CocoaPods, Carthage or SPM?
Did the project used to work before your upgrade to Xcode 7.3?
Which pod did you install? 1.2/2.0/2.1
Did you try to re-open Xcode?
Did you try to clear derived data?
Did you check Identity Inspector, make sure your Button is using `AnimatableButton`, Module field is good?

Please let

[2016-03-30 23:11] JakeLin commented on #126
Don't mind for the breaking changes for renaming `SystemPageCurl`, should follow the system names. :+1:  for the check list.

[2016-04-01 14:28] pixelbendr commented on #142
@JakeLin @tbaranes its working now. :) The only issue is when I copy and paste from the example project it doesn't work. I had to restart my Mac before it started working. Regards.

[2016-04-01 14:36] #142 closed, assigned to nobody

[2016-04-01 15:27] seanwoodward opened #151 "Separate the framework and the app to distinct repos"
If the repos are distinct for framework and app, other projects that reference the framework won't drag all of the app code in the submodule. Can be done pretty easily and shouldn't break any existing projects. I have done this in a downstream clone and used Carthage to setup the submodule.

[2016-04-02 00:39] JakeLin commented on #151
@seanwoodward thanks for your suggestion. The reason why we keep it as one repo because we want some one (maybe not good at iOS development) can download the repo and "CMD+R" to run and play around the demo app. Since we support CocoaPods or Carthage, they won't package the source code from `IBAnimatableApp` target.

Also to shrink the repo, we did move all assets for the README.md to another repo

[2016-04-02 10:08] tbaranes commented on #126
Should we renamed that issue `More system transition animators` and create a new one for the `custom transition animators`?

Once all the PR merged, we also may make a new released since all the system ones are implemented.
What do you think? :dancers:

[2016-04-02 10:51] JakeLin opened #155 "Custom transition animators (animation controllers)"
Since we have all supported system built-in transition animations.  Refer to [More system transition animators (animation controllers)](https://github.com/JakeLin/IBAnimatable/issues/126). We can start implement more custom transition animators.

VCTransitionsLibrary can be a good library to start with, we can port https://github.com/ColinEberhardt/VCTransitionsLibrary to Swift and make it designa

[2016-04-02 11:03] JakeLin commented on #126
@tbaranes agree, we can release 2.2 once once we merge all your PRs, good on you. 👍

Have created a new issue for [Custom transition animators (animation controllers)](https://github.com/JakeLin/IBAnimatable/issues/155)

[2016-04-02 11:13] tbaranes commented on #126
Don't you want review them? :open_mouth:

[2016-04-02 11:20] tbaranes commented on #155
Plus creating these customs transitions animators, I'd like to keep in mind some points purely related to the code that (I think) we should improve:
- Core's improvements:
    - [ ] Find a way to avoid that multiple `if / else if` to check which transitions. Once again, it's ok for now since we don't have _that much_ transitions, but it will fast become big
- Demo apps improvements:
   - [ ] Impro

[2016-04-02 11:54] #126 closed, assigned to nobody

[2016-04-03 20:01] tbaranes commented on #155
Here a list of which transitions we can port from [VCTransitionsLibrary](https://github.com/ColinEberhardt/VCTransitionsLibrary):
- [x] Flip
- [x] Turn
- [x] Fold
- [x] Explode
- [x] Cards
- [x] NatGeo
- [x] Portal

[2016-04-03 23:24] JakeLin commented on #155
@tbaranes the behaviour of `Flip` in VCTransitionsLibrary is different from `SystemFlip`, we maybe able to use `Flip` because the other once called `SystemFlip`.

[2016-04-04 16:54] pixelbendr opened #159 "@IBOutlet weak var error"
Am not able to use IBOutlet, is this an Xcode issue?

Regards.

[2016-04-04 21:34] JakeLin commented on #159
@pixelbendr can you provide more details? Which element did you try to use, `AnimatableView`, `AnimatableButton` or others?

Can you specify the step you try to use `IBOutlet`? Ctrl+Drag?

Can you specify the Xcode version?

Can you tell us the IBAnimatable version?

Can you tell us how do you use it, CocoaPods, Carthage?

[2016-04-05 14:48] pixelbendr commented on #159
Which element did you try to use, AnimatableView, AnimatableButton or others?
**AnimatableView**

Can you specify the step you try to use IBOutlet? Ctrl+Drag?
**Dragging**

Can you specify the Xcode version?
**7.3**

Can you tell us the IBAnimatable version?
**1.2**

Can you tell us how do you use it, CocoaPods, Carthage?
**CocoaPods**

[2016-04-05 14:51] tbaranes commented on #159
Did you `import IBAnimatable` in your file as well?
What is the exact error that you are getting?

[2016-04-05 15:14] pixelbendr commented on #159
thats the problem, the import. Thank you. Regards.

[2016-04-05 15:33] tbaranes commented on #159
You're welcome :tada:

[2016-04-05 15:33] #159 closed, assigned to nobody

[2016-04-08 06:27] JakeLin opened #161 "Sketch plugin for IBAnimatable"
Don't know what and how to do? just need to catup some ideas and requirements. Feedback is welcome.

What the others are doing?
https://neonto.com/sketch
http://www.paintcodeapp.com/sketch
https://github.com/Charimon/iosViews
https://github.com/mchoe/SwiftSVG

They may not what we need because all of them are generating code, we need something exports from Sketch and imports into Interface Builder

[2016-04-08 06:36] tbaranes commented on #161
So, the real goal would be to create a xib / storyboard exactly like the sketch dashboard?
The #32 will be probably a bit similar: parsing of the sketch files... just the final output will differ, but it will be definitely the same plugin.

I think a first question should be asked: is the plugin should change the way to design in sketch (to make easier to convert to IBAnimatable types), and should

[2016-04-08 07:00] JakeLin commented on #161
#32 is much more ambitious because Framer doesn't need a plugin, it probably read the source of Sketch file and export from file format directly.

@tbaranes All your questions are the difficulties we need to face. I don't have direct answer yet. Sketch designs are some shapes, paths, colors and texts. We don't know how to directly map shape to elements (view or button), I am thinking start with so

[2016-04-08 12:24] seanwoodward commented on #151
@JakeLin first, thanks for coming up with such a great framework. I can't think of a project that would not benefit from its use. And that's why I think the separation is important. Package managers pull the entire repo for each reference (Carthage anyway), so the app storyboards, etc. get pulled along with it. A few releases ago, Carthage had trouble with the single Info.plist. Developers new to

[2016-04-08 15:39] tbaranes commented on #151
I don't really like the idea to separate the demo project, it's really useful to have just to clone a project, open the demo workspace, and run it to have a quick idea of how it's working. However, I understand what you are saying, that makes me asking how popular open source project such as `Alamofire` are handling that issue?

I'm pretty sure that they are not using a separate repot for their de

[2016-04-08 17:27] seanwoodward commented on #151
@tbaranes I have seen similar setups in other frameworks and thought it made sense here, and only, because it was easy to implement.

[2016-04-09 07:42] JakeLin commented on #151
@seanwoodward  glad you like `IBAnimatable`. Can you please let us know which frameworks have similar setups if you find them? Are they UI frameworks?

I agree with @tbaranes because one of my repo called SwiftWeather, it has quick detailed description https://github.com/JakeLin/SwiftWeather#how-to-build but I still occasionally receive requests for asking for help to build the project. `IBAnimata

[2016-04-18 17:27] winkelsdorf opened #172 "Set Corners and Shadow of AnimatableView by Code"
Hi,

what a great framework, speeds up my development cycle 👍

Probably in contrary to the most, I use this by Code as I need a little more fine grain about the animation details depending on different adaptive size classes (device traits).

I noticed a bug: When setting rounded corners and shadow by code, the rounded corners are ignored. I know _why_ (`maskToBounds`, `clipToBounds`), but I am won

[2016-04-18 23:32] JakeLin commented on #172
@winkelsdorf thanks for reporting this, I need more time to investigate that, I did a quick try on IB, it is working fine, if you can share a demo project with just the problem bit, it will be faster.

<img width="662" alt="screen shot 2016-04-19 at 9 23 08 am" src="https://cloud.githubusercontent.com/assets/573856/14622898/bc87e7c6-0610-11e6-950c-d98ef8f431ea.png">

Did you set the `shadowOffset`

[2016-04-19 01:37] tokyoooo opened #173 "HELP: Is it possible to create a diagonal view using IBAnimatable?"
Is it possible to create a view like the image shown below using IBAnimatable? (Could I use a mask or something similar on the UIView?)

![](http://i.stack.imgur.com/7KwZS.png)

[2016-04-19 06:05] JakeLin commented on #173
@tokyoooo  Yes, We can design the app like that with IBAnimatable in IB, but we don't provide that kind of support for particular app design request, sorry, I close this issue now.

[2016-04-19 06:05] #173 closed, assigned to nobody

[2016-04-20 09:49] skateBerlin opened #174 "Simple Tutorial"
Hi Jake, first of all, this looks great. But as an XCode n00b coming from the design perspective the example app is really big and it is looking really complex for a beginner. Is it possible to create a Tutorial? With a really small example project. Maybe just two Views and on ore two transitions at a starting point. I think, it is much easier to dive into this with a smaller guidance than the exa

[2016-04-20 16:11] winkelsdorf commented on #172
Just wanted to let you know: I'll check back in a few days, currently busy with a release..

[2016-04-20 23:48] JakeLin commented on #174
@skateBerlin thanks for suggestion, I am actually doing the tutorials slowly🐢, you can see I created a repo to save blog post images https://github.com/JakeLin/BlogAssets/issues/1.

I think the library is very powerful and didn't get enough attentions, especially from designers.  You suggestions are something I am blogging: how to create a simple project from scratch, e.g. downloading Xcode and cr

[2016-04-24 17:29] kodekarim opened #176 "UITextField Right Image option is not showing Image ...!!"
Hello sir,
UITextField left image is working properly but the right side image is not, i have attached the image file kindly have a review and lastly i would like to say it's a really great library to design...Great work

Any Suggestion/help would be helpful .<br>
![group](https://cloud.githubusercontent.com/assets/13949425/14769151/1205a2de-0a70-11e6-868f-ded2e5b06c77.png)

[2016-04-24 18:29] tbaranes commented on #176
Hey! Thanks for the report. I just push a PR to fix your issue. It will be available around tonight or tomorrow, just the time that @JakeLin review the PR.

👯

[2016-04-24 18:30] kodekarim commented on #176
Thank you sir..

[2016-04-25 08:03] #176 closed, assigned to nobody

[2016-04-25 21:52] jlgaustin opened #179 "Issue with AnimatableTextField"
After I updated pod from 1.0.1 to latest 2.2 version, borderSide doesn't work for me any longer in IB.   If I set borderWidth to 1, borderColor to grey and borderSide to Bottom.   I get border on all 4 sides regardless.   If I revert back to 1.0.1 it works again.   Any ideas?

[2016-04-25 23:29] JakeLin commented on #179
@jlgaustin thanks for reporting this, looking at this issue now.

[2016-04-26 02:30] JakeLin commented on #179
@jlgaustin I did a try with your specified parameters, and it works fine

<img width="1050" alt="screen shot 2016-04-26 at 12 17 31 pm" src="https://cloud.githubusercontent.com/assets/573856/14804700/f8e78af8-0ba8-11e6-9831-d5450b5476fd.png">

Can you check "Border Style", it must be `borderStyle = .None`

<img width="638" alt="screen shot 2016-04-26 at 12 19 35 pm" src="https://cloud.githubuserco

[2016-04-26 05:16] kodekarim opened #181 "Hello Sir, how about adding a placeholder in UITextview ..!"
This library got everything to get a push in development so sir if you like can you add a placeholder in UITextview, it can be added programmatically but if it is available in IBAnimatable which is a great library it would be great.

[2016-04-26 05:27] JakeLin commented on #181
@abdulKarim002 Thanks for your suggestion, we need to prioritise this. BTW, could you like to give it a go? It will be in `public extension PlaceholderDesignable where Self: UITextView`. Please let me know if you have any questions.

Some resources:
https://github.com/devxoul/UITextView-Placeholder
http://stackoverflow.com/questions/1328638/placeholder-in-uitextview/1704469#1704469
https://github.

[2016-04-26 06:06] tbaranes commented on #181
Another that could be great is to make a floating option for the placeholder:
https://github.com/Skyscanner/SkyFloatingLabelTextField
https://github.com/jverdi/JVFloatLabeledTextField

[2016-04-26 06:13] #179 closed, assigned to nobody

[2016-04-28 04:46] learnwithgabbar opened #182 "Support for latest version of swift"
Hello sir, this is one of the great library i am using in my project , it's help me to reduce my work load to create view and other UI stuff , but when we shifted our work to latest version of swift it starts giving warning to covert syntax .
Is there is any plan to upgrade it to swift 2.2

[2016-04-28 05:11] JakeLin commented on #182
@techmehra , which version are you using? `IBAnimatable` is using Swift 2.2 since release 2.1, we did it as same day as Xcode 7.3 went live. The current release 2.2.

[2016-04-28 11:47] klwoon opened #183 "How to stop/cancel an animation"
Hi, may I ask how to stop or cancel an ongoing animation? In my app I'm rotating an AnimatableImageView indefinitely, and need to stop the rotation when the user presses some other buttons.

Thank you.

[2016-04-28 12:56] JakeLin commented on #183
@klwoon can you try `self.layer.removeAnimationForKey("rotate")`? It should be able to cancel the `rotate` animation.

[2016-04-28 13:23] klwoon commented on #183
Thank you, it worked!

[2016-04-28 13:23] #183 closed, assigned to nobody

[2016-05-05 18:32] tbaranes opened #187 "Reuse animators animations in Animatable"
In IBAnimatable, we write the `Fade` animation two times: in `Animatable`, and as an `Animator`. That one is small and easy to create from scratch, so it's not a big deal, but creating an explode between two `UIView` is really more annoying. Currently, we would have to create it back from scratch or copy and adapt the code from `ExplodeAnimator`.

Don't you think we could make the animators more g

[2016-05-05 18:36] tbaranes opened #188 "Can we use animators with child view controllers?"
In my current app, I'd like to use the `Fold` animations when transitioning between two child view controllers. From what I know about the animators, I don't think we can. For example, for a fade transition, I will have the following code (approximately):

[code]

But that's a bit sad to have to rewrite it since we already did it in `FadeAnimator`, or if I wanted to use a more complex transition..

[2016-05-06 02:25] JakeLin commented on #187
@tbaranes I don't have straight answer for this, it will be great to share the logic between `Animatable` in `***Animator`s. Maybe encapsulate some view logic out in https://github.com/JakeLin/IBAnimatable/blob/master/IBAnimatable/ExplodeAnimator.swift#L71 Need to do a spike to try out.

[2016-05-06 02:34] JakeLin commented on #188
@tbaranes Have you seen this article before, https://www.objc.io/issues/12-animations/custom-container-view-controller-transitions/ it looks like something similar to your requirements. Because all `***Animator`s conform to `UIViewControllerAnimatedTransitioning` it will work with the container ViewController uses `- (id <UIViewControllerAnimatedTransitioning>)containerViewController:(ContainerVie

[2016-05-06 06:15] tbaranes commented on #188
Right, I'm gonna give a try. Thanks!

[2016-05-06 08:30] tbaranes commented on #188
I finally get it working using your link, thanks to you. I will make a PR, I think it could be nice to have that feature in IBAnimatable.

[2016-05-06 10:00] #188 closed, assigned to nobody

[2016-05-06 13:12] tbaranes opened #193 "Improving README"
I'm creating this issue to track the discussion started in #186

First thing, I think we have to decide what we want to keep in the main README:
- What is it?
- Install
- where to find the docs?
- Documentation (just a summary with the links)

As you suggested, we can move out all the API documentation, I think we have two solutions where we can move it:
- Creating a directory `Documentation` whic

[2016-05-06 13:31] JakeLin commented on #193
@tbaranes thanks for starting this, Do you like `Documentation` folder more than wiki? I don't mind either way.

I like your groups, may have some more friendly to the user thinking, they match the project's goal.
- Animations: Animatable
- UI: Designable
- Transitions: TransitionAnimatable and Segue
- Misc: Extensions

Another important thing I am going to do after release 2.3 is blogging. I am g

[2016-05-06 13:36] tbaranes commented on #193
Yes, I prefer the `Documentation` folder, I find it more usable since we can edit it them locally.

Excellent idea for your group names, it's user friendly and really understandable.
I'm looking forward to read your articles, moreover it will be an excellent idea since `IBAnimatable` is more and more popular, but is clearly missing some tutorials / helpers to get started about advanced usage.

[2016-05-07 12:33] tbaranes opened #194 "Present***Segue are not working anymore"
I don't know if I'm missing something, or if that is a regression, but I can't get working the `Present***Segue` in storyboard. The animation is now a classic modal transition instead of an Explode...

Few days ago, it was still working in my project, but I realise yesterday that wasn't working anymore. I started to look deeper, it seems that the Presenter and the Animator are well initialised, bu

[2016-05-07 12:38] tbaranes commented on #194
I confirm that I introduce that bug recently, it was working in the 05/05's last commit.

[2016-05-07 12:53] #194 closed, assigned to nobody

[2016-05-07 15:26] tbaranes commented on #172
Don't know about your main issue, but I can help with the second question:

We have to update our documentation about that part, but here a list of all the transitions ready to use we have:  [TransitionAnimationType](https://github.com/JakeLin/IBAnimatable/blob/master/IBAnimatable/TransitionAnimationType.swift). Not sure you will find a a _real pop animation_ but, who know?

In `IBAnimatable`, we

[2016-05-07 15:39] tbaranes commented on #17
Is it a duplicate of #155 or is that concerning another face of transitions?

[2016-05-08 01:23] JakeLin commented on #17
@tbaranes yes, it is subitem of #155 , close it now.

[2016-05-08 01:23] #17 closed, assigned to nobody

[2016-05-08 11:30] tbaranes commented on #187
I played a bit with it to see how it could be done, from what I see it finally doesn't make sense to reuse them in Animatable. An animator needs two views to do a transition, Animatable works with only view by time, which means most of the animators are basically not compatible. If we need a NatGeo animation between two `UIView` that may means we have a conceptual issue.

Some of them could have b

[2016-05-08 11:30] #187 closed, assigned to nobody

[2016-05-08 11:47] #125 closed, assigned to nobody

[2016-05-08 12:13] JakeLin commented on #182
@techmehra please let me know if you still have problem with the Swift version, thanks.

[2016-05-08 12:13] #182 closed, assigned to nobody

[2016-05-08 12:16] JakeLin commented on #172
We have a set of transition animators can be used in `UIPresentationController` but don't have a `Pop` animation. I think it is a common requirement to have animatable `UIPresentationController`, I am going to create a card for it and close this issue for now.

@winkelsdorf if you have any question, or you'd like to provide more information, please let us know, thanks.

[2016-05-08 12:16] #172 closed, assigned to nobody

[2016-05-08 12:35] JakeLin opened #198 "AnimatablePresentationController"
`AnimatablePresentationController` can support the user in prototyping and designing Modal View ( `UIPresentationController`) in Interface Build.

It may have the following properties.
- [x] `cornerRadius`, `shadowColor`, `shadowRadius`, `shadowOpacity`, etc. for the Modal View, most of properties are supported by `AnimatableView`
- [x] `dimmingViewBackgroundColor`, `dimmingViewOpacity`, `dimmingV

[2016-05-08 12:38] tbaranes commented on #198
There's definitely some ideas to take from [MZFormSheetPresentationController](https://github.com/m1entus/MZFormSheetPresentationController).

For the milestone, why not add it to the 2.4, or 4.0 if we don't have a 2.4?

[2016-05-08 12:40] JakeLin commented on #151
Since we decided to keep the current project structure, we close this issue now.

@seanwoodward please let me know if you have any questions or you'd like to provide more information on this, thanks.

[2016-05-08 12:40] #151 closed, assigned to nobody

[2016-05-08 12:51] JakeLin commented on #174
some ideas for blog posts.

**Basic**
- [ ] How to prototype and design App Store ready App in Interface Builder with IBAnimatable
- [ ] How to prototype and design transition animations in Interface Builder with IBAnimatable
- [ ] How to prototype animations in Swift Playground with IBAnimatable (#36)

**Advanced**
- [ ] How to add animation features into extend existing UI framework using IBAnim

[2016-05-08 12:52] JakeLin commented on #55
Please see #174 , close this issue now.

@tuyencoder , please let me know if you have any questions, thanks.

[2016-05-08 12:52] #55 closed, assigned to nobody

[2016-05-08 12:52] JakeLin commented on #36
Close, please see #174

[2016-05-08 12:52] #36 closed, assigned to nobody

[2016-05-08 13:26] JakeLin commented on #66
Close since #168 has merged. 😆

[2016-05-08 13:26] #66 closed, assigned to nobody

[2016-05-08 13:28] JakeLin commented on #198
@tbaranes I tag it to 4.0, but can be done earlier if needed.

[2016-05-08 15:05] skateBerlin commented on #174
Top!!! ;) can´t wait ...

[2016-05-12 04:30] lexrus opened #203 "Invisible IBInspectable properties"
IBInspectable properties are invisible while IBAnimatable was installed with Carthage.

Check out: https://github.com/Carthage/Carthage/issues/335

Since IBInspectable is widely used in IBAnimatable, we should annotate this issue in the README.

[2016-05-12 04:49] #203 closed, assigned to nobody

[2016-05-12 04:51] JakeLin commented on #203
@lexrus Thank you for letting me know, I am curious it works on the framework built from source code like what we are doing for the Demo app but not from Carthage.

I close it now since I have updated the README.md.

[2016-05-19 15:47] lastMove opened #205 "Parallelogram Mask support in Maskdesignable"
Hi,

Thanks for this amazing library.
It’s the way to go.

I have an improvement for MaskDesgignable.

I have just added support for parallelograms To MaskDesignable.

Usage :
Parallelogram(angle)

Parallelogram(90) give a rectangle.

for angle < 90 It gives a left oriented Parallelogram and for angle > 90 it gives a right oriented Parallelogram.

I will make a PR Soon.
I didn’t see this in your v

[2016-05-19 18:19] tbaranes commented on #205
PR are very welcomes even if it's not in our roadmap / vision! New features are always welcome if it's respect the vision of IBAnimatable. We will review it once submit 👍

[2016-05-21 11:06] #205 closed, assigned to nobody

[2016-06-03 15:31] tbaranes commented on #155
Here another list of transitions: https://github.com/onmyway133/fantastic-ios-animation/blob/master/Animation/transition.md
There definitely some transitions that can have their place in IBAnimatable!

[2016-06-04 13:24] JakeLin commented on #174
@skateBerlin can you check this out? https://github.com/JakeLin/IBAnimatable/blob/master/Documentation/Transitions.md

It is the starting point for documentations. Any feedback is welcome, thanks.

[2016-06-06 01:26] TheDarkCode commented on #198
@JakeLin I might take this on - in some part - during the upcoming week, depending on time. Would be a really cool feature to have.

[2016-06-06 01:29] TheDarkCode commented on #65
@JakeLin If you've not done more on this, I'll take this on during the week if I have time as well.

[2016-06-06 01:46] JakeLin commented on #198
Thanks guys, should we swap 4.0 with 3.0? I don't have many ideas on the goal of Sketch plugin. If yes, we can just change the number in the milestone.

[2016-06-06 01:57] tbaranes commented on #198
I think so, we can still move on the plugins once we determine a clear roadmap for them.

[2016-06-06 03:02] JakeLin commented on #198
@tbaranes I have swapped 3.0 and 4.0. Let's don't worry about Sketch plugin first.

[2016-06-06 05:09] TheDarkCode commented on #65
@JakeLin As discussed off git, and for reference to others, I've put together a Swift repo that has an example of this as [SwiftyBlur](https://www.github.com/TheDarkCode/SwiftyBlur). Open to input from others, maybe @tbaranes, on the direction to take when merging this in as an IB feature. Relates to #198

[2016-06-06 07:26] TheDarkCode commented on #25
Is this still an issue, @JakeLin?

[2016-06-06 07:43] JakeLin commented on #25
@TheDarkCode yes, will try again after WWDC to see if they fix it.

[2016-06-06 15:56] lastMove opened #218 "API Improvement proposal - Supporting enum for Inspectable properties in code and Interface Builder"
**enum checklist to improve**
- [x] MaskType
- [x] AnimationType
- [x] GradientStartPoint
- [x] BorderSide
- [x] BlurEffectStyle (Add new options `regular` and `prominent` for `UIBlurEffectStyle`)
- [x] ColorType - FlatColorsTypeScript.swift
- [x] GradientType - GradientsTypeScript.swift
- [x] InteractiveGestureType
- [x] TransitionAnimationType
- [x] TransitionFromDirection
- [x] TransitionHollow

[2016-06-06 23:47] JakeLin commented on #218
@lastMove Thanks for your proposal, I like your ideas. We designed the APIs using `String` because the limitations and constraints of Xcode and Interface Builder. It should be fixed by Apple eventually (hopefully 😓).

We have discussed this issue before in #50, I also push back the code to `wip/support-enum-for-non-ib-api` branch for your reference, please notice, the code is very outdated compari

[2016-06-07 02:51] TheDarkCode commented on #181
@JakeLin I'll add this to my list for the week.

[2016-06-07 23:11] lastMove commented on #218
Hi,
I just read #50 a lot of good ideas, nice to read.

Yes private properties do work with InterfaceBuilder.
And yes it implies breaking changes. Either in InterfaceBuilder or in code API.
Since we can use `@avalable(iOS, renamed=“eMaskType”)`
i think it easier to put those breaking changes in Code API

[2016-06-07 23:22] JakeLin commented on #218
@lastMove if we have to introduce breaking changes. I rather do it in code, not in Interface Builder, but need to think about it carefully. Also, we do that, and we may be able to change all similar APIs together, e.g. `animationType`,  `maskType`... Because it is better to have all breaking changes in one release. Let's hope if Apple fixes this issue in WWDC, and see any better option we have.

[2016-06-15 12:34] JakeLin opened #221 "Swift 3 support"
Discuss the topics for Swift 3 support. We are working on [swift3 branch](https://github.com/JakeLin/IBAnimatable/tree/swift3) to support Swift 3. Once Xcode 8 RTM, we merge it to master.
- [x] Fix all build errors #222
- [x] Improve all enums #218
- [x] More Swifty APIs
- [x] Update playground

Some remain works need to be done
- [x] BorderSide in the demo doesn't work
- [x] Blur effect in playgr

[2016-06-15 17:50] kabucey opened #223 "Circle mask on AnimatableView in IB requires layer.masksToBounds to be true"
I couldn't get the circle mask working without layer.masksToBounds set to true in MaskDesignable. The other masks worked fine as they weren't using cornerRadius.

Am I missing something?

[2016-06-15 18:37] kabucey commented on #223
I checked the Clip Subviews box and it is now masked correctly (without masksToBounds being set to true). That seems to be what I was missing if that is the recommended approach.

[2016-06-15 18:37] #223 closed, assigned to nobody

[2016-06-17 11:51] tbaranes commented on #218
I really like @lastMove improvements suggestion, it would be a great move since that minimise a lot of potential errors when using IBAnimatable programatically.

I just have one suggestion: shouldn't we bring that changes in the same release as swift 3 support (#221). Since swift 3 is already huge breaking changes, it will be almost transparent.

[2016-06-17 19:32] DonBaronFactory opened #224 "BorderSide"
If I understand BorderSide correctly it's there to define which border should be displayed with the given BorderColor and -Width.

my issue is that I don't manage to make it work, neither by setting the String in IB, nor by setting the variable in the keypath, nor by setting the String programatically... besides that, I also noticed that every parameter I set in IB is automatically set as keypath,

[2016-06-17 19:51] tbaranes commented on #224
`BorderSide` allows you to choose which border will be displayed, but by default, it will display all. For example, here how to set a border to a view programatically:

[code]

Also, after a second check in the interface builder, I can confirm everything is working as expected. The key path is well-settled:

<img width="258" alt="screen shot 2016-06-17 at 21 42 22" src="https://cloud.githubusercon

[2016-06-17 20:02] DonBaronFactory commented on #224
Thanks for your answer, let me be more specific...

The border color and width work perfectly (as all other parameters). But when I set borderSide to Bottom the UIView is still displayed with all 4 borders rather than as expected just with the one mentioned ....

I checked the demo app, but haven't found any component (yet) which uses borderSide...

Checking the enum for borderSide, I just need to

[2016-06-17 20:07] tbaranes commented on #224
What did you write in the `border side` field? The supported strings are the following: `Top`, `Bottom`, `Left`, `Right`. If you want to combine some, you have to separate each of them by a `,`.

<img width="274" alt="screen shot 2016-06-17 at 22 06 50" src="https://cloud.githubusercontent.com/assets/1402212/16163126/d2f8ff2c-34d7-11e6-84b8-6f8309f48bf3.png">
<img width="257" alt="screen shot 2016

[2016-06-17 20:13] DonBaronFactory commented on #224
did exactly like you, with Capital B for Bottom etc on an UIView, somehow it doesn't wanna work, neither as IBDesignable directly in the Storyboard, nor when running the app ... weird

[2016-06-17 20:17] tbaranes commented on #224
Can you paste some screenshots / code or sending a sample in order to reproduce your issue? I got any _anormal_ behaviour by playing around in the demo app.

EDIT: Also tried in playground `view.borderSide = "Top,Bottom"`, everything is working well...

[2016-06-17 20:20] tbaranes opened #225 "Issue when using borderSide and mask"
While trying to reproduce #224, I run in this bug:

<img width="149" alt="screen shot 2016-06-17 at 22 20 10" src="https://cloud.githubusercontent.com/assets/1402212/16163467/ab3cb422-34d9-11e6-967a-ebcd1b13f75e.png">

In order to reproduce it, just add the following line in the playground:

[code]

Seems that we are not resetting as expected the mask when using a custom `borderSide`

[2016-06-17 20:22] tbaranes commented on #224
One more question, which version of `IBAnimatable`? The released last version or the current master?

[2016-06-17 20:24] DonBaronFactory commented on #224
Following the screenshots:

![screen shot 2016-06-17 at 22 21 36](https://cloud.githubusercontent.com/assets/10096944/16163522/078a40fa-34da-11e6-87d4-a996a3397e06.png)

![screen shot 2016-06-17 at 22 21 59](https://cloud.githubusercontent.com/assets/10096944/16163524/0f2666cc-34da-11e6-86a3-371b2b27f5ad.png)

The installed version is 2.2.0

[2016-06-17 20:33] tbaranes commented on #224
I though it was a bug created in the 2.2.0, but even after rollback to this version, it's still working as expected.
Can you try to reproduce it using IBAnimatable 2.3.0 or the master code to confirm that it's not related to 2.2.0?

EDIT: If it's still not working, I'm really interesting in your sample in order to reproduce that bug, can you upload or send it?

[2016-06-17 20:37] DonBaronFactory commented on #224
adding `pod 'IBAnimatable', '2.3.0'` to my podfile gets rejected

[2016-06-17 20:38] DonBaronFactory commented on #224
XCode 7.3.1

[2016-06-17 20:39] tbaranes commented on #224
It's `2.3`, my bad. Otherwise, you can directly do `pod 'IBAnimatable'` in order to have the latest version or even try to reproduce the bug in the sample project.

[2016-06-17 20:44] DonBaronFactory commented on #224
weird, installed the pod with `pod 'IBAnimatable'`and `pod install` just a few hours ago and received version 2.2, using `pod update` right now I got version 2.3 installed... Anyway, the borders are displayed correctly now.

Many thanks @tbaranes for being so responsive and helpful!! it's a great framework I already don't wanna miss  anymore

PS: Just found out that `pod install` (version 1.0) doe

[2016-06-17 20:48] tbaranes commented on #224
Happy that we got your issue solved and that you liked that framework. Enjoy! 🎉

PS: For the history, that issue was introduced in 2.2, and fixed in 2.3. It's was reported in #179. Just find out that issue..

[2016-06-17 20:48] #224 closed, assigned to nobody

[2016-06-17 20:53] DonBaronFactory commented on #224
See I didn't have IBAnimatable installed before, it was the first time I installed it... pod must kinda cache the master repos and only update the list once called with `update`.. it took a few minutes to update it's cache before at last finding and installing 2.3...

although I searched the issues for borderSide, I must have missed it (maybe because of the title being about textfield)... mea culp

[2016-06-18 11:31] JakeLin commented on #218
@tbaranes good call, how about we focus on API improvements for version 3. Since we need to support Swift 3 new API guidelines. We can include @lastMove 's suggestions within that as well.

[2016-06-18 12:07] JakeLin commented on #225
@tbaranes good find, the problem is caused by

[code]

I think we should use `layer.mask` instead of `cornerRadius` to mask a circle.

[2016-06-18 12:37] JakeLin commented on #224
@cre8it it is a little bit late, but do have used `BorderSide` in our demo app.

<img width="1196" alt="screen shot 2016-06-18 at 10 24 22 pm" src="https://cloud.githubusercontent.com/assets/573856/16170878/81791b50-35a4-11e6-9e61-45eed9ca2a5e.png">

But I think we should do it more specific like what we are doing for transitions. e.g. We can use particular ViewController for demonstrating the eac

[2016-06-18 14:08] DonBaronFactory commented on #224
It is indeed a bit cumbersome to search for a view which implements the borderSides, but frankly, the concept is perfectly explained and imho doesn't need any extra explanation nor visualisation. I just went searching for it in the demo app because it wasn't working and thought it was a mistake of how I typed in the parameters, so I wanted to check the correct syntax... It turned out my syntax was

[2016-06-22 09:49] lastMove commented on #218
To synthetize :
- Naming : To stay compatible with Interface Builder we keep actual properties but they become _private_ and new enums public properties.
  This

[code]

 will become something like this :

[code]

Add the new Enum for instance MaskType can looks like this 👍
https://gist.github.com/lastMove/e155d8aabe4aca9a792b5486fb2d87cf

Is that your vision ?

[2016-06-23 03:06] JakeLin commented on #218
@lastMove thanks for your update, I like architecture very much 👍. And I have a few of questions about the implementation.
1. If we set `maskType` as `private`, will be any problem when the developer tries to subclass `AnimatableView`? I don't recommend subclassing from `AnimatableView`. Because if we want to have further customization for the UI elements, we should conform to protocols e.g. `Mask

[2016-06-23 05:21] shiratsu opened #226 "I couldn't build IBAnimatable Framework"
I would like to use this framework.
At first,I tried to test this project's example.
But I couldn't build.
There are so many errors.

![2016-06-23 14 19 55](https://cloud.githubusercontent.com/assets/918490/16292559/a58c6324-394d-11e6-85a9-33da80287239.png)

How do i resolve?
This error says the name of variable is too short to define.

[2016-06-23 06:27] JakeLin commented on #226
Hi,

Can you check are you using Xcode 7.3？ if you use Xcode 8, pleas check out swift3 branch.

Thanks
Jake

Sent from my iPhone

[2016-06-23 06:38] shiratsu commented on #226
I'm using Xcode 7.3.
But i already have Xcode8.
![2016-06-23 15 37 05](https://cloud.githubusercontent.com/assets/918490/16293926/63aa2c7e-3958-11e6-8bc4-dcd6217c9e05.png)
Does having both xcode7 and 8 cause above error?

[2016-06-23 07:35] tbaranes commented on #226
Your errors are from `SwiftLint`, not the framework itself. Are you using the lastest version of SwiftLint?
Otherwise, you can disable `SwiftLint` script in xcodeproj if you just want to test quickly.

[2016-06-23 08:06] shiratsu commented on #226
Year,I just realized SwiftLint.Thank you!

[2016-06-23 08:08] #226 closed, assigned to nobody

[2016-06-23 23:06] lastMove commented on #218
@1 - Good point, since Swift doesn’t supports protected properties we have to make them private.

From code it’s not annoying for subclasses since they still have access to eMaskType.
From Interface Builder I made some tests this may surprise you (I was very surprised) but privates properties of parent class still appear in IB.
Here is how i test it :
I made the maskType:String property private an

[2016-06-24 02:51] JakeLin commented on #218
@lastMove
1. what a surprise 😱  "privates properties of parent class still appear in IB"
2. No idea, need to be public in protocol
3. my opt out `StringLiteralConvertible` first? add back if needed.
4. Cool, thanks

[2016-06-24 21:23] tbaranes commented on #225
Just played a bit much with `borderSide` and `maskType`, it seems there a second bug related to them: `borderSide` isn't applied if we are using a custom `mask`. It applied the default border (all), and apply the custom sides only if no mask settled or if we are using the circle one (probably for the reason you said before).

Definitely something wrong  🤔

[2016-06-24 22:09] tbaranes commented on #28
What's the idea behind that feature? Hiding the keyboard when a viewController is disappearing?

[2016-06-24 22:18] tbaranes commented on #67
We can create an `CheckBoxAnimationType` which will contains pop, squeeze animations or dedicated animations like your dribble link. It follows the current logic of `IBanimatable`: `AnimationType`, `TransitionAnimationType`...

The implementation will be more complex but definitely more scalable and customisable.

[2016-06-25 00:09] JakeLin commented on #218
@lastMove I have an idea for `extension MaskType : StringLiteralConvertible`, can we have an option for `MaskType` as `.none`, then if we can't convert the string to `MaskType`, we set it to `.none`. And we can guard it in `configMask`. How do you think?

[2016-06-25 00:16] JakeLin commented on #225
@tbaranes I think that's by design (at least my idea 😁),  the `borderSide` property is similar to `border-width` in CSS. Please have a look at https://developer.mozilla.org/en/docs/Web/CSS/border-width. In CSS we can use `border-top-width` or `border-right-width` and so on to specify one side of the border. It is very useful for Material Desgin apps. But it can't support masked shape, and it doesn

[2016-06-25 00:23] tbaranes commented on #225
I'm still finding that approach strange, but if it's a design choice, I'm ok with it. As you said, it doesn't make sense to support non-rectangle shapes with specific border size. If someone ask for that feature we concrete example, it will always be time to improve the result.

However, that definitely needs documentations 👍

[2016-06-25 00:31] JakeLin commented on #225
OK, I will work on the fix and the documentations. thanks @tbaranes

[2016-06-25 13:22] JakeLin commented on #28
For example, if we have some UITextField and UITextView in a ViewCotroller, once the keyboard is up, we need to write some code to dismiss it manually. How about we can automatically dismiss the keyboard when the user taps out of the UITextField. That is a small feature on top of my head 😊

[2016-06-25 13:24] JakeLin commented on #67
@tbaranes That's a good idea, I think we can start with some animations we already have like pop, squeeze, morph, and wobble.

[2016-06-25 14:25] #181 closed, assigned to nobody

[2016-06-25 14:56] tbaranes opened #229 "Handle different type of sliders"
There one thing which is really annoying with `UISlider`: it's hardly customisable.
So here a proposal to improve AnimatableSlider: add a property `SliderType` which is a bit similar to `MaskDesignable` but fully dedicated to sliders. Here some random examples I found on github:
- https://github.com/alskipp/ASValueTrackingSlider
- https://github.com/eliotfowler/EFCircularSlider
- https://github.co

[2016-06-25 15:10] tbaranes opened #230 "Custom progress view"
Support custom progress view (same as #229), some potential examples:
- https://github.com/alskipp/ASProgressPopupView
- https://github.com/danielamitay/DACircularProgress
- https://github.com/ddeville/DDProgressView
- https://github.com/yannickl/YLProgressBar
- https://github.com/tLewisII/TJLProgressView
- https://github.com/poolqf/FillableLoaders
- https://github.com/Marxon13/M13ProgressSuite
-

[2016-06-25 15:13] tbaranes commented on #28
I can understand the feature, but won't it be hard to make it customisable with IB if it's just a boolean (well, if you mean that)? Maybe it could be the same as `AnimatableType`, and the others, a string property with different options:
- CloseWhenDisappear (I really find this one useful 😆)
- TapToClose
- Others?

To be more flexible, we can do it like `borderSide` and support multiple options at

[2016-06-25 15:24] tbaranes commented on #68
What's the difference with the existing images in `CheckboxDesignable`?

[code]

[2016-06-25 19:54] lastMove commented on #218
Yeah, good idea !
Will do that.
Here is a list of "Enumable" properties :
That i found in IBAnimatable :
borderSide
maskType
BlurEffectStyle

 What to add to it.
Also It can be useful to create an IBEnum protocol.
there is one "bug" in swift 2 that avoid protocol extension for Enum
for instance it's not possible to do that :

[code]

because : Type 'Self' constrained to non-protocol type 'MaskType

[2016-06-25 20:00] tbaranes commented on #218
Here some more "enumable properties to complete the list:
- AnimationType
- GradientStartPoint

- GradientType
- SystemTransitionType
- TransitionAnimationType
- TransitionFromDirection
- TransitionHollowState
- TransitionPageType

[2016-06-25 20:02] tbaranes commented on #218
Here a full list of all the enums used as designable properties:
- Designable enums (fair enough for a first version of this new API I suppose), that's includes the ones you already find:
  - AnimationType
  - GradientStartPoint
  - BorderSide
  - MaskType
  -  BlurEffectStyle
- Enums generated from scripts (if you change the enum, you also have to change the script):
  - ColorType
  - GradientTyp

[2016-06-27 02:48] JakeLin commented on #28
@tbaranes I think an enum like `borderSide` will be extendable, good idea 👍.

[2016-06-27 03:04] JakeLin commented on #68
@tbaranes To avoid including any asset in IBAnimtable, the user need to have two images when they use `AnimatableCheckbox`. And need to set both `checkedImage` and `uncheckedImage` properties to the image assets.

Do you think it is useful to provide default `tick` and `cross` signs in paths? Then the user doesn't need to provide images any more. The good part of the path is they can animate from

[2016-06-27 03:19] JakeLin commented on #229
I feel it is annoying too. I like the idea to have more customizable Slider.

[2016-06-27 03:43] JakeLin commented on #218
For `ColorType` and `GradientType`, we can use `#colorLiteral` then we can preview the color in Xcode 8. It is very cool.

<img width="1112" alt="screen shot 2016-06-27 at 1 41 17 pm" src="https://cloud.githubusercontent.com/assets/573856/16367989/c6c96920-3c6c-11e6-99b7-f2557c011bd6.png">

[2016-06-27 06:10] #70 closed, assigned to nobody

[2016-06-27 06:17] tbaranes commented on #68
I see. Yeah, that can be really useful for prototyping (like predefined{Color,Gradient}. I'm just not sure to includes specific images directly in `IBAnimatable`, if we do the #67, instead of default images, we can have directly a custom animation which can include default value.

Anyway, I now understand that issue 😆

[2016-06-27 07:05] JakeLin commented on #68
@tbaranes #67 are related, and maybe we can merge them into one issue. We can provide a path for checkbox and some default animations. And allow the user set the color and animation type.

[2016-06-27 07:06] tbaranes commented on #68
Sounds cool 👍

[2016-06-27 17:55] lastMove commented on #218
ty for this lit @tbaranes
I started working on this.
Unfortunately It's impossible (without some ugly tricks) to make protocol extension for Enum.
I tried two different implementations :
A simpler one
https://gist.github.com/lastMove/8cda639fe29a4db52ff03201890860d9
And one without literal strings
https://gist.github.com/lastMove/5be7046d40f6ac0b92d2373ccdb41c5f

I wanted to remove literal strings

[2016-06-28 07:29] JakeLin commented on #218
@lastMove I like the "Simpler implementation" version. https://gist.github.com/lastMove/8cda639fe29a4db52ff03201890860d9#file-masktype-swift-L62

The requirement is to add an extension method to Swift enum, but we can't. Then we create `IBEnum` to add `extractNameAndParams` extension method. I like this idea 👍

I also like your idea to put the conversion of `ColorType` inside the `enum ColorType`

[2016-06-28 09:09] lastMove commented on #218
Nice,
Will we work on this in the swift3 branch or a new one.
Yes, It will simplify the process if i could push to this branch.

[2016-06-28 09:55] JakeLin commented on #218
@lastMove I have added @tbaranes checklist to the top of your post. How about we work on them one by one and Pull Request to swfit3 branch? We can easily review them and discuss the changes. The order of the list doesn't matter. Some of the small enums we may be able to do them together in one PR. Once Xcode 8 GM releases, we can merge swift3 in master.

BTW: you should receive the invite to be a

[2016-06-28 13:38] lastMove commented on #218
Thank you for this.
Yep, it's better to work on them in separated branches.
I will start with MaskType so.

[2016-06-29 02:38] JakeLin commented on #218
@lastMove, thanks, please give me a buzz any time when you have any question, we can always push to a WIP branch for discussion.

[2016-06-29 13:35] JakeLin commented on #218
I think we can remove `x` and `y` for `AnimationType` because we can use a better enum to support parameters. and use String MoveTo(50,150) for move to x:50 and y:150

Please let me know if you have any idea, thanks.

[2016-06-29 16:09] lastMove commented on #218
Yep it's improve the coherence.
Could you delete the "wip/swift3-enum-masktype"
I have made a commit to "swift3-masktype"
Do you have some comments.
Ideally i would like to put eMaskType to a MaskDesignable protocol extension.
 (it would prevents a lot of repetition code).
  Since a protocol cannot contains stored properties the only way is to use objective C associated properties.
I don't know if

[2016-06-29 16:16] TheDarkCode commented on #104
I was just adding FontAwesome 4.6.3 into my framework, I can make another PR with this in the Swift3 branch.

[2016-06-29 23:05] JakeLin commented on #104
@TheDarkCode I still think that should be a plugin sits on different repo because it requires font assets. It will depends on IBAnimatable. It can also depend on https://github.com/dzenbot/Iconic to generate the assets. The user can specify the sub-pod in Cocoapods to use this plugin. How do you think?

[2016-06-29 23:18] JakeLin commented on #218
@lastMove "wip/swift3-enum-masktype" has been deleted. You can delete any branch if you feel necessary, of cause, not master 😁, I will have a look at your commit and comment there, thanks.

[2016-06-30 06:04] tbaranes commented on #104
Since IBAnimatable is growing fast and we will start to have related plugins, what about creating an organisation to regroup all the plugins and the main library together? Otherwise, we can also just linked all the various related project in the README, but it's a bit less pro.

[2016-06-30 06:27] TheDarkCode commented on #104
@tbaranes I have my Ahtau framework library that I was considering open sourcing. It has full coverage of a wide range of extensions and subroutines. I already incorporate Animatable in it. @JakeLin might disapprove of the tabs instead of spaces. However, everything together with combined efforts would make for one of the most comprehensive libraries on the planet.

[2016-06-30 07:16] JakeLin commented on #104
@tbaranes good idea, can you help me with this? We need to transfer the main project to the organisation as well.

[2016-06-30 07:22] JakeLin commented on #104
@TheDarkCode I know Ahtau will be the best framework on the planet, while IBAnimatble will still focus on Interface Builder stuff.

[2016-06-30 07:29] tbaranes commented on #104
@JakeLin Sure, I never did it before, but I'm interesting to learn how is that working. I will be busy this weekend, but I will take a look next week!
@TheDarkCode Just curious, what is it? Jake already told me that you are working on a framework... but didn't get all the details / specifications? If there any private stuff you don't want to talk in public, we can continue by email :)

[2016-06-30 07:32] TheDarkCode commented on #104
@tbaranes Im going to add you to a Quip in the morning when I get some time. Been a long day. Working on a grant application.

[2016-06-30 11:00] tbaranes opened #235 "Moving to an organization"
Following the discussion in #104, I start to move IBAnimatable to an organisation, but there still few steps to do (I steal it from [Moya issue](https://github.com/Moya/Moya/issues/168)):
- [x] Create a new org: https://github.com/IBAnimatable
- [x] Add IBAnimatable contributors to the org
- [x] [Transfer the repo](https://help.github.com/articles/transferring-a-repository/) (and its related the o

[2016-07-01 03:28] TheDarkCode commented on #235
Code of conduct is probably the least-read document type on github. The main thing is getting contribution agreements so that the copyright is owned by the organization regardless of contributor.

[2016-07-02 13:46] JakeLin commented on #225
Fix in #234

[2016-07-02 13:46] #225 closed, assigned to JakeLin

[2016-07-02 13:53] JakeLin commented on #218
@lastMove I have rebased swift3 branch to your branch "swift3-masktype" and made some changes based on my comments. We can test all masks in the demo app now, please have a look at #234.

Because I don't know whether do you have any changes to your branch, I pushed all changes to new branch [feature/swift3-masktype](https://github.com/JakeLin/IBAnimatable/tree/feature/swift3-masktype)

You can als

[2016-07-02 16:33] lastMove commented on #218
Ok perfect, Your changes are good for me since it reduces the number of checks required.
I will switch to your new branch, and test if everything works.

[2016-07-03 00:20] JakeLin commented on #218
@lastMove great. Because the demo is an example for the users how to use the marks correctly, there are some edge cases not in the demo app. e.g. wrong data like Wave(0,10,45), or missing parameters like Wave(up,20). They should fall back to default parameters.

We can eailiy put the incorrect settings in IB and test them. There may be some edge cases I haven't thought, we may find out when we wor

[2016-07-03 01:35] lastMove commented on #218
@JakeLin Ok. I just found a crash with the new implementation, when there is less than 3 parameters to wave Mask (again ^^).
I used to make a array extension to handle this :

[code]

I would like to create a utils file where we can put this kind of code.
If developers include IBAnimatable directly by copy-pasting the IBAnimatable folder, it could conflicts with another implementation.
IMO it's it

[2016-07-03 03:46] JakeLin commented on #218
@lastMove I think it OK because we recommend the user use IBAnimatable using package management tools like CocoaPods, Carthage or SPM. Even the user copy-paste the folder, they still need to use `params[safe:2]` to use it, it won't pollute any existing APIs.

[2016-07-03 07:43] JakeLin commented on #218
@lastMove I found out an issue. When we use private for `maskType` like `@IBInspectable private var maskType: String?`. But we can preview the design in Interface Builder. We can fix it by changing it to `internal` like `@IBInspectable var maskType: String?`.

[2016-07-03 17:31] lastMove commented on #218
Hum, annoying, good fix.
I applied your fix, and fix the crash too.
Now everything seems working.

[2016-07-03 18:00] lastMove commented on #218
There was also a crash when polygon sides < 2.
I made the minimum sides number to 3 to avoid this kind of problem.
let polygonPath = maskPolygonBezierPath(max(sides, 3))

[2016-07-04 02:13] JakeLin commented on #218
@lastMove Good on you for finding edge cases. I have an idea to use using something like

[code]

I will push a commit and let you help me review it.

[2016-07-04 08:10] lastMove commented on #218
Actually I prefer this naming too.
But it breaks the retro-compatibility with existing storyboards.

[2016-07-04 13:12] JakeLin commented on #218
@lastMove You're right, it will break the backward compatibility, we have to do some like adding a underscore `_` in runtime attributes for `_maskType`.
<img width="493" alt="screen shot 2016-07-04 at 10 48 57 pm" src="https://cloud.githubusercontent.com/assets/573856/16561057/702cb314-423a-11e6-9e07-d8d9e8dd86ce.png">

But I am still tempted to change it. But I need you guys opinions.
<img width=

[2016-07-04 16:36] lastMove commented on #218
Hum, Interesting.
For me In absolute terms it's better to have _maskType:String and maskType:MaskType.
The only inconvenient is the Backward compatibility. But IMO we should do it, since more we wait more it will become difficult and hassling for users to have breaking changes.

We will have to write a migration guide. We could, maybe, write a shell-script that will automatically do the transition

[2016-07-04 17:16] tbaranes commented on #218
I'm really not a huge fan of interface builder breaking changes, but if it's necessary with a good documentation, it should be smooth enough. Moreover, if we have to break it, let's do it with swift 3 since it's already breaking everything!

[2016-07-04 22:07] JakeLin commented on #218
Cool, let's change it. Interface Builder will display some warnings if we don't add the underscore. That can help the user notice the changes.

Also as you guys said we should have a migration guild with some detailed images to show how to change them manually. Or change them using an editor with "replace all" for the storyboard file. Or even provide a script to that that.

I'm so excited to impro

[2016-07-04 22:34] lastMove commented on #218
Nice !
So we can consider MaskType (and so the prototype) OK ?

[2016-07-05 02:18] JakeLin commented on #218
Yes, I think it is very good. Shall we PR it to swift3? May add some comment/documentation for it as well.

[2016-07-05 07:52] damtsnkff commented on #102
I'd add a little trick in case someone else (like me) struggle even after the following steps didn't work : After doing all the step above, delete the line 'import IBAnimatable', and re-type it with the autocompletion.

[2016-07-05 08:04] damtsnkff commented on #16
How do you see this ? Re-creating all the components, or just support another implementation (like the one mentioned above) ?

[2016-07-05 12:50] kodekarim commented on #16
this library will be one stop solution for iOS Developer to design and prototype.. great work @JakeLin Sir

[2016-07-05 22:18] JakeLin commented on #16
@damtsnkff it will be a plugin of IBAnimatable and based on Material project. It should get all updates from both projects in the future. Because IBAnimatable uses protocol oriented programming paradigm , it's very easy to use it to extend the other UI libraries.

We are moving the entire project to new organisation GitHub.com/IBAnimatable . This plugin will be a sub project of this organisation.

[2016-07-05 22:36] lastMove commented on #218
I added a little bit of documentation for MaskType.
Since I am not a native english speaker, there is certainly some typos. Feel free to fix it ;)

[2016-07-06 02:49] JakeLin commented on #218
@lastMove Cool, I like it, I think we are ready to bring it back to swift3 now. Would you like to submit a PR or can I do it?

[2016-07-06 15:19] damtsnkff commented on #16
@JakeLin Interesting. When are you moving the project as a new organisation ? I don't know if my skills are enough but I'd definitely be interested in doing this. Doesn't seems that hard.

[2016-07-06 23:34] JakeLin commented on #16
@damtsnkff We are doing that now as Release 2.5. Please see the discussion on https://github.com/JakeLin/IBAnimatable/issues/235

It is not hard. You can try and I always love to offer support if I can. How do you think?

[2016-07-06 23:53] lastMove commented on #229
Great Idea. I will maybe look at this.

[2016-07-07 07:03] damtsnkff commented on #235
For the code of conduct, there is [this template](http://todogroup.org/opencodeofconduct/), used [here](https://code.facebook.com/pages/876921332402685/open-source-code-of-conduct) by Facebook and others.

[2016-07-07 18:12] lastMove opened #238 "IBAnimatable App"
**Demo for how to use in Interface Builder**
- [x] All supported Animations with default parameters
- [x] BlurEffectStyle
- [x] BorderSide
- [x] ColorType
- [x] GradientStartPoint
- [x] GradientType
- [x] Refresh Control (`RefreshTableViewController` already ready to be used, just need to add an entry in the storyboard)
- [ ] BackgroundImageDesignable (#416)
- [ ] TextField: placeholders, images..

[2016-07-07 18:50] tbaranes commented on #238
👍 Love this idea! It's joining what @JakeLin starts  with the transition demo (hidden in "forgot password" ). Moreover, a technical demonstration will be a nice way to avoid some issues about how to use our `Animatable` components. Just few questions:
- Should we add this a another project / demo of IBAnimatable, or put another custom access in the current demonstration? I prefer the first option

[2016-07-07 18:56] tbaranes commented on #235
Another thing we could add is [Pull requests template](https://github.com/blog/2111-issue-and-pull-request-templates). For each PRs (exceptions apart), their always some mandatory steps:
- Docs (README / API) update
- CHANGELOG updates
- Example app update
- ...

That will help to ensure we never forget one important step when submitting a new PRs. It's in the same idea as the [release a new versi

[2016-07-07 19:39] tbaranes commented on #229
@lastMove Just in case, I just push the branch that I had while playing with this issue. I was just thinking about the interfaces, so there's anything concluant yet, but you may find some ideas / inspirations. Anyway, you can use it or start your own, it's up to you :)

[2016-07-07 22:00] JakeLin commented on #235
Cool, good ideas

[2016-07-07 22:48] lastMove commented on #238
Yes I prefer to make another app too.
As I imagined that : The app would be divided in several sections  The animation Section can looks like Spring one; And aside we can have a Transition, Mask, Gestures, UI Components etc
`
Is that new demo will be focusing on how to use IBAnimatable with interface builder, programatically, or both?`
I don't know. I want to say both, but we will need to think it

[2016-07-08 06:33] JakeLin commented on #238
Great idea, @lastMove . I don't mind to extend the existing IBAnimatable Playground or create another repo. If we can publish it to App Store. We can put a link in `IBAnimatable` main project and the users can download it to play around.

As we don't know `Is that new demo will be focusing on how to use IBAnimatable with interface builder, programmatically, or both?` Can we start with it step by s

[2016-07-08 06:49] tbaranes commented on #238
Not sure that is a good idea, most of the users won't see it if it's not in the main project.

We can definitely do the same as `Spring` example. Their example is really easy to use and clear even if they have a lot of options (around the same as our `Animatable`)

[2016-07-08 07:02] JakeLin commented on #238
@tbaranes That's is a good point for using main repo for the demo / companion app.

Another benefit if we keep it in the main repo is when we implement new features, we can valid them in demo app directly.

One of the demo app I really like is https://github.com/scotteg/LayerPlayer, we can download it from App Store https://itunes.apple.com/us/app/layer-player/id949768742?mt=8

It will be great if

[2016-07-08 07:06] JakeLin commented on #238
Another idea is if we keep the demo app in the main project, shall we display the IBAnimtable Playground as the initial scene? And have an item call "Prototyping in Interface Builder" for the existing Todo app. Then display other items like "Animation", "Transition", etc. Or some items like "Animation in code"?

[2016-07-08 08:23] JakeLin opened #240 "Upgrade Swift Playground to support Xcode 8"
For some reasons, the Swift Playground doesn't work anymore 😢 even for beta 2.

Relate to #221

[2016-07-08 20:21] DonBaronFactory opened #242 "TransitionType UIViewController -> presentViewController"
Not sure what I do wrong but the transition does not seem to be applied... it still transitions with the standard built in transition...

[code]

My UIViewController is a Subclass of AnimatableViewController ...

any help?

[2016-07-09 00:05] JakeLin commented on #242
@cre8it

Why don't you use it in Interface Builder and segue? It is the simplest way to use the library.

And if you use in code. The `transitionAnimationType` is applied to fromViewController / sourceViewController, in your case is `self`.

Also, if you use in code, we recommend you using Apple's way like

[code]

It gives you full controll. Please let me know if you have any questions, thanks.

[2016-07-09 10:54] DonBaronFactory commented on #242
Was late night, how can I miss this one... done it hundreds of time this way for custom transitions, but did not think of it when trying with IBAnimatable... Thank you for this awesome library which is in use in almost all my apps

[2016-07-09 12:01] JakeLin commented on #242
@cre8it cool, one design principle of IBAnimatable is to extend but not change Apple's APIs. Please let me know if you have any questions. I close it now, but feel free to re-open if you have any questions.

[2016-07-09 12:01] #242 closed, assigned to nobody

[2016-07-09 12:57] lastMove commented on #218
Hi all,
I started working on AnimationType. It's pretty straightforward now.
Everything seems to work from code.
But when using it in storyboard it can be painful since it's case-sensitive.
for example "squeezein" will not work.
So I will try (I don't know how yet) to make it case-insensitive.

[2016-07-09 13:02] lastMove commented on #238
Yes, nice. The playground part of the existing app is completely in the spirit of what I thought.
It certainly a good entry-point.

[2016-07-09 13:23] JakeLin commented on #218
@lastMove thanks for picking up `AnimationType`. I think we should support case-insensitive, good idea 👍

I thought we could do it better by simplifying the enum with parameters. Because before we didn't find a good way to support Swift enum, we use `slideInLeft`, `slideInRight` and so on. But now we have a good way to support Swift enum with `IBEnum`.

Can we use something like `case slideIn(from

[2016-07-09 15:14] lastMove commented on #218
Oh Yes I see. Nice, It will simplify a lot the enum.
Maybe something like this :

[code]

[2016-07-09 23:10] lastMove commented on #218
This model Seems better :

[code]

I don't know how to  name the `Way` enum, I don't really like "Way"
Any Idea.

[2016-07-10 01:04] JakeLin commented on #218
@lastMove I like the last one, it provides excellent readability for Interface Builder. e.g. `slide(in,left)`, `squeeze(out,up)`

I have little concern for that when you use this enum in code, as you said the name of "Way" is one, I don't know how to make it better 😅. But the concept of Way is great 👍. And the second parameter `from` might not be correct in some cases. e.g. `let sideOutToRight = A

[2016-07-10 13:25] JakeLin commented on #16
![animatableraisedbutton](https://cloud.githubusercontent.com/assets/573856/16713775/151b34d6-46f5-11e6-9334-875453a01a9a.gif)

@damtsnkff I have started playing around this task and created `AnimatableRaisedButton`. I added you to the project https://github.com/JakeLin/IBAnimatable-Material , will move it to the IBAnimatable organisation once the main project moves to it.

[2016-07-10 14:31] damtsnkff commented on #16
@JakeLin Ok perfect. Then I'll have a look on what you started.

[2016-07-11 12:01] tbaranes commented on #16
Nice starter @JakeLin, that's looks very promising!

[2016-07-11 23:24] lastMove commented on #240
Strangely It's still not working on my side. There is no errors but nothing is shown. Anyone Else has this issue ? (Swift3 branch, Xcode 8 Beta 2)

[2016-07-12 12:46] JakeLin commented on #240
@lastMove, My one (Version 8.0 beta 2 (8S162m) is still working. Did you try "Cmd + k" to clean and rebuild, I fixed them by commenting out all and uncommenting one line be one line to check. Xcode 8 beta is very fragile and can't display the error.

[2016-07-12 12:51] f1nality opened #243 "UIVibrancyEffect designable?"
Hello!
IBAnimatable has UIBlurEffect support, but doesn't have UIVibrancyEffect.
Can this be added?

Thanks!

[2016-07-12 23:03] JakeLin commented on #243
@f1nality thanks for suggesting this feature, i think it is a good idea to have it. But when can we do it, I need to have a look first. Would you like to help us with that? We should be able to support you to do that.

[2016-07-13 04:25] TheDarkCode opened #244 "UI Picker / Text Field Updates"
Here's one article regarding clock input:
http://uxmovement.com/forms/why-a-clock-widget-is-easier-for-picking-time/

I would love to see this as an alternative to date picker. I'm thinking since it depends on a base clock graph, a generic graphing library base (bar, line, pie chart, etc) might be necessary to round out a pull request for it. Furthermore, it then becomes a question of how we displ

[2016-07-13 13:32] lastMove commented on #218
@JakeLin  @tbaranes I was thinking that reworking AnimationType would be as easy as conforming to IBEnum ... I was wrong ;)
Following JakeLin recommandations I ended up with something I like. (The counter part are the breaking changes ...).

AnimationType is now like that :

[code]

So I have [reworked Animatable.swift](https://github.com/JakeLin/IBAnimatable/commit/26dc6516a673c1550df5780752f7eee

[2016-07-13 18:29] tbaranes commented on #244
That would be a huge feature, but an awesome one! An `AnimatablePicker` with a `PickerType` will definitely fit in `IBAnimatable`! It's also joining the same idea as transitions, and issues #229 and #230.

We just have to do it starting now 😬

Before going with the real deal (custom picker), we can start bt abstracting the native picker  (support for designable, and animatable). We can take inspir

[2016-07-13 18:50] tbaranes commented on #218
Really nice work on the example! A good first step for #238.

About the commit, I really like the output. The code is easier to read, and more concise.

Here two feedbacks about the commit you linked:
- `case .squeeze(let way, let direction):` -> `case let .squeeze(way, direction):`. I know we are not following a particular convention, but I prefer the second switch syntax. It's easier to read  an

[2016-07-14 02:47] TheDarkCode commented on #244
Once I get some free time this weekend I will do the generic Animatable / Designable Picker and make a PR unless someone beats me to it. I already have a base skeleton for something I was calling UIPicker that effectively serves the exact same purpose.

[2016-07-14 13:58] f1nality commented on #243
@JakeLin this feature is already being implemented by @tbaranes

[2016-07-14 18:55] tbaranes opened #246 "Custom activity indicator"
We already talked about sliders, pickers, progressView, ... but here a new one: activity indicator. As the others, it will be mainly drive by a designable `activityIndicatorType`.

Plus the type, their will be some features straight forward:
- Loader color
- Background color / blur
- Blocking user interaction or not
- Start / stop animations
- hideWhenStopped
- ...

Just a though: I think the prot

[2016-07-14 21:41] lastMove commented on #218
Thank you for your feedback.

Strangely I didn't know about this syntax, it effectively better, thanks I will use it.

I am agree, there are some repetitive code in the implementation. Could you provide me an example of what you mean ?

[2016-07-15 06:27] tbaranes commented on #218
I was thinking something like that:

A function which return the right values following a direction:

[code]

Then the squeeze becomes:

[code]

That's what I was thinking about. Using this will avoid to have 4-5 switch just to calculates a distance and scale from a direction. There probably a way to make it even better by improving the tuples usage with typealias, or whatever, maybe even creating

[2016-07-17 07:50] JakeLin commented on #246
I like the effects in NVActivityIndicatorView. It doesn't need any assets too. Since we are going to have an IBAnimatable plug-in system. We need to draw a line for core elements or plug-in elements. I like to ask all collaborators to decide. We can vote using reactions 👍.

One of my ideas is if we are going to extend UIKit elements, it should be in Core. e.g. `UIActivityIndicatorView` and `UIPres

[2016-07-17 08:17] JakeLin commented on #218
Very nice work @lastMove you have made a huge step to improve the demo app. And your API design makes the APIs much cleaner.

@tbaranes 's implementation is great too. One thing I hate about is the `Animatable.swift` file is **toooooo big** and I wanted to but didn't find a way to simplify it. You guys solution is making that happen.

I have a concern, should we make all parameters within the enum

[2016-07-17 09:58] tbaranes commented on #246
I agree with you, every `UIKit` related should be in the core, and the others are in plugins.

[2016-07-17 11:43] #243 closed, assigned to tbaranes

[2016-07-17 19:39] lastMove commented on #218
I made a commit yesterday, [in the spirit of what @tbaranes suggested](https://github.com/JakeLin/IBAnimatable/commit/52cb8f5236cb3cf0e1b5ec5198ede20ca35ef92b)

Also I introduced `slideFade` which is actually the equivalent of the old `fade`
The new `fade` is just for non-sliding fade animations (fade /in/out/inout/outin)

It's another breaking change but I found it clearer.
How do you think about

[2016-07-18 11:48] TheDarkCode commented on #246
Here's another repo for inspiration: https://github.com/lukagabric/LASIImageView

[2016-07-18 12:25] JakeLin commented on #218
@lastMove thanks, I think we should use `slideFade` instead of `fade` because `slideFade` is more precise for the animations.

`self = .wave(direction: WaveDirection(rawValue: params[safe:0], default: .up).lowercased()), width: Float(params[safe:1] ?? "40"), offset:Float(params[safe:2] ?? "0") )` is better 👍

[2016-07-18 17:53] tbaranes commented on #246
@TheDarkCode That is more a custom progress (#230) than an activity indicator, don't you think?

[2016-07-18 18:03] TheDarkCode commented on #246
My thoughts were not so much restrictive to a numerical or overall status indication. It was the thought of a custom animated text component to the view that might have optional looping and potentially even sound and custom font attributes. Imagine it having an advertisement or some other call to action. Sort of like when you have the sentence or two on a video game load screen.

Might be interest

[2016-07-19 01:15] JakeLin commented on #246
I think https://github.com/lukagabric/LASIImageView is more for an image downloader. It uses https://github.com/pokeb/asi-http-request 😱. Some libraries are doing this now like https://github.com/onevcat/Kingfisher and https://github.com/rs/SDWebImage. They require more programmatical APIs than Interface Builder settings.

[2016-07-19 09:59] ghost opened #251 "playground can'f find IBAnimatable"
playground can'f find IBAnimatable
open the 'IBAnimatable.playground',the Xcode prompt No such module 'IBAnimatable'
how can I break this problem???TKS!!!

[2016-07-19 10:12] tbaranes commented on #251
Here the steps to follow if you want to use IBAnimatable playground:
1. Open IBAnimatableApp.xcodeproj
2. Select IBAnimatable Framework scheme and build it with Command + b
3. Select IBAnimatable.playground, choose one page in Swift playground, then click on "Assistant editor" button to split the playground. After that, select "Timeline" on the top of right-hand side to preview the animation. We c

[2016-07-19 10:21] JakeLin commented on #251
Related to #102

[2016-07-19 10:21] ghost commented on #251
TKS,but still error! @tbaranes

[2016-07-19 10:22] ghost commented on #251
before i put the issue,I searched the issue and try it like #102,But still error @JakeLin

[2016-07-19 10:23] JakeLin commented on #251
@ysfox can you run the demo app? which version of Xcode are you using? Just try to restart Xcode few times if the problem is still there.

[2016-07-19 10:26] ghost commented on #251
the Demo running is Ok,just the playground error!,the Xcode is Version 7.3.1 (7D1014) @JakeLin

[2016-07-19 11:13] tbaranes commented on #251
What error are you getting? Do you have any logs in the console... ?

[2016-07-21 10:02] JakeLin opened #255 "Losing AutoLayout constraints when using`blurEffectStyle` in a container view"
AutoLayout constraints will be gone when using`blurEffectStyle` in a container view.

![simulator screen shot jul 21 2016 7 02 02 pm](https://cloud.githubusercontent.com/assets/573856/17017175/a6e405fe-4f75-11e6-9be8-489ea8f2f915.png)

May document it and remove `BlurDesignable` from `AnimatableScrollView` and `AnimatableStackView`

[2016-07-21 11:14] tbaranes commented on #255
Instead of removing from `AnimatableScrollView` and `AnimatableStackView`, can't we _transfer_ the constraints to the new view?

[2016-07-21 11:34] JakeLin commented on #255
I'll try, but seems quite hard

[2016-07-24 23:39] lastMove commented on #218
Hi all,
I think we can remove `BlurEffectStyle` and just make UIBlurEffectStyle conforms to IBEnum. What do you think about it ?

[2016-07-24 23:44] JakeLin commented on #218
@lastMove perfect idea ✌

[2016-07-26 12:16] lastMove commented on #235
Nice ! (party)
🎈 🎉
New home ^^

[2016-07-26 12:51] JakeLin commented on #235
Dear all, @TheDarkCode @damtsnkff @lastMove @gkye @lexrus Do you use Slack? Please send your email address to me (you can find my email at https://github.com/JakeLin), then we can send you an invite to IBAnimatable channel. Happy coding. 🎉

[2016-07-26 13:24] JakeLin commented on #235
Have tested CocoaPods and Carthage, both are working fine with the new release 2.6 (with new organization) https://github.com/IBAnimatable/IBAnimatable-PackageManagementExamples

Time to bed 😴

[2016-07-27 14:51] lastMove commented on #218
Hi I have worked on `BlurEffectStyle` It seems working.
Since I am updating those enums I need to be able to easily test them.
So I could improve existing demo (playground part of the app) by the way.

What about having for BlurEffects a similar system than Animations one ?
(A picker view with 2 components, one for `blurEffect` and the second one for `vibrancyEffect`).
We could also apply this log

[2016-07-27 15:16] tbaranes commented on #218
That would be nice. It's easier to use, and give a quick result when testing IBAnimatable 👍

[2016-07-27 22:15] JakeLin commented on #218
I like the idea, I like the animations demo very much. Well done 👍👍👍we have two ViewControllers in the demo app for testing blurEffect, please have a look , there is a layout issue for vibrancy effect view because we need to change the view hierarchy for that effect. I haven't found a way to fix it. Have created an issue for it.

Sent from my iPhone

[2016-07-30 13:17] lastMove commented on #255
There is maybe another bug :
Each time `configBlurEffectStyle` is called (when changing blurOpacity or blurEffect value for instance) a new Blur subview is added : `insertSubview(blurEffectView, at: 0)`.
This behaviour can easily be tested using https://github.com/IBAnimatable/IBAnimatable/tree/feature/BlurEffectStyle

[2016-07-30 17:23] tbaranes commented on #255
You are right @lastMove, we have to remove the previous one before adding a new blur view.

[2016-07-31 01:13] JakeLin commented on #255
How about we add a tag like `IBAimatableBlurEffectView`? Then we can remove the effect view before re-add if it exists.

[2016-07-31 14:50] tbaranes commented on #255
Sounds faire enough 👍

[2016-07-31 15:32] lastMove commented on #255
You are thinking about a tag or about a UIView subclass.
I prefer the internal subclass approach, since with tag there is a collision risk.

[2016-07-31 22:17] JakeLin commented on #255
An internal or even private subclass would be better, I didn't figure out this approach, 👍

Jake
Sent from my iPhone

[2016-08-01 18:59] DanielAsher opened #262 "Subclass of AnimatableView rendering problem in IB Preview window"
Hi,
thanks for a great framework!

I have attempted to use a custom subclass of `AnimatableView` in Interface Builder, but noticed that the view does not correctly render in the Preview window.

I've created a branch on my fork that demonstrates the issue: [animationview-subclass-rendering-in-ibpreview](https://github.com/DanielAsher/IBAnimatable/tree/bugexpression/animationview-subclass-rendering

[2016-08-02 06:13] tbaranes commented on #235
Closing this since the migration is done. Still missing the PR template, but if that's really important, it will go up later.

[2016-08-02 06:13] #235 closed, assigned to nobody

[2016-08-02 06:14] tbaranes commented on #251
I'm closing this now since we can't help more right now. @ysfox Don't hesitate to reopen it if you still having an issue or any questions about that issue!

[2016-08-02 06:14] #251 closed, assigned to nobody

[2016-08-02 06:16] JakeLin commented on #235
Cool, thanks for organising this. 🎉

Sent from my iPhone

[2016-08-02 06:19] tbaranes commented on #193
Closing it now since the new structure is already there. We can still open a new issues just to list the documentation missing.

[2016-08-02 06:19] #193 closed, assigned to nobody

[2016-08-02 06:39] tbaranes commented on #262
You are right, that's not the result expected. Your image should have a black background color since you set the `fillColor`.
The issue is in you `CustomAnimatableImageView`, if you want it to be designable in the interface builder, you have to tell him by adding `@IBDesignable` before the declaration:

[code]

Once that added, your image will be as expected.
Another thing, in the current state, y

[2016-08-02 08:47] DanielAsher commented on #262
@tbaranes @JakeLin thanks for spotting this oversight. Looks like it's working very nicely now!

[2016-08-02 08:47] #262 closed, assigned to nobody

[2016-08-04 04:35] learnwithgabbar opened #263 "Code is breaking on xcode 8.0 beta 4"
Code is not working on xcode 8.0 beta 4, throws many error

[2016-08-04 05:04] JakeLin commented on #263
@techmehra did you try swift3 branch https://github.com/IBAnimatable/IBAnimatable/tree/swift3

[2016-08-04 05:06] learnwithgabbar commented on #263
Yes I have try the swift3 branch but throwing lot of error
and is there is any way to integrate it through cocoapods

[2016-08-04 05:13] learnwithgabbar commented on #263
@JakeLin this library become one of my toolkit for ios development please help me with this

[2016-08-04 05:19] JakeLin commented on #263
I need to upgrade it to support Xcode 8 beta 4, or can you help me with this to create a PR?

[2016-08-04 07:42] learnwithgabbar commented on #263
@JakeLin    guard let unwrappedAnimationTypeString = animationType, animationType = AnimationType(rawValue: unwrappedAnimationTypeString) else {
      return
    }
getting use of local variable animationType before it declaration

[2016-08-04 07:44] learnwithgabbar commented on #263
Type 'ContainerTransition' does not conform to protocol 'UIViewControllerContextTransitioning'

[2016-08-04 07:47] learnwithgabbar commented on #263
Method does not override any method from its superclass  for frameOfPresentedViewInContainerView

[2016-08-04 08:39] learnwithgabbar commented on #263
@JakeLin  i am not able to fix the  guard let unwrappedAnimationTypeString = animationType, animationType = AnimationType(rawValue: unwrappedAnimationTypeString) else {
return
} and now the code is working but animation is not working

[2016-08-04 09:57] learnwithgabbar commented on #263
@JakeLin I have fixed the code for xcode 8.0 beta 4 please check the pull request

[2016-08-04 12:37] ingeniousgenius opened #265 "UIView has no corner radius when applied with a gradient"
I pretty much explained it in the title, Anyways I installed the latest version via Cocoapods and I need it urgently to continue my project :)

Here're some images showing it. It appears the corner radius mask does not apply to the gradients. In your tutorial, you manage to achieve what I am trying to do but for some reason, I
 fail to replicate it.

Without Gradient - Corner Radius is there
![scr

[2016-08-04 14:00] tbaranes commented on #265
Thanks for reporting this, there was an issue in the gradient implementation, the `cornerRadius` was just ignored when a gradient was applied.

The PR #266 will fix your issue, once that's merged, you can target `IBAnimatable` master in your `Podfile` or wait for the next release.

[2016-08-04 14:01] ingeniousgenius commented on #265
Thanks so much! I'll go ahead and add the changes manually :) Thanks for responding so quickly. I suspected it was something like that

[2016-08-04 14:14] tbaranes commented on #265
🎉 Hope that was the right fix!

[2016-08-04 15:55] Abdul-Moiz opened #267 "Shadows not working with Mask type."
I am trying to apply shadow on Mask type Circle seems like it's not working. Removing mask working properly.

[2016-08-04 21:48] #265 closed, assigned to nobody

[2016-08-05 04:05] #263 closed, assigned to nobody

[2016-08-05 11:21] JakeLin commented on #267
@Abdul-Moiz I introduced this bug when I fixed another bug https://github.com/IBAnimatable/IBAnimatable/pull/180 , I am looking at how can we fix it.

[2016-08-05 13:57] JakeLin commented on #267
@Abdul-Moiz  I have tried to fix this issue, please have a look at the commit https://github.com/IBAnimatable/IBAnimatable/commit/3c5bc85a9d6a7497ac58d64d9de2e8a75cbe810d

But the effect is not right, it is not easy to fix it. If you have time, can you have a look and let me know if you find anything? Thanks

![simulator screen shot aug 5 2016 11 45 48 pm](https://cloud.githubusercontent.com/asset

[2016-08-07 04:09] loganblevins opened #269 "Swift 2.3 Support"
For those of us wishing to develop in Xcode 8 beta 4, but stick with Swift 2.3 rather than taking the large step of using Swift 3. I know you have a Swift 3 branch, but I only want to Swift 2.3.

[2016-08-07 06:39] JakeLin commented on #269
@loganblevins thanks for your suggestion, we are focusing on swift3 at the moment. Could you like to help us with this? Once your PR is ready, we will create a `swift2.3` branch to maintain all the changes. Once Xcode 8 releases GM, we can merge into `master`.

[2016-08-07 14:21] loganblevins commented on #269
@JakeLin Sure, I'll give it a shot.

[2016-08-07 20:03] gkye commented on #269
Added a `swift 2.3` branch available here. https://github.com/IBAnimatable/IBAnimatable/tree/swift2.3
Description of the updates made can be found here  https://gist.github.com/gkye/50e8dabb531a50256549a2d21eab1080 @JakeLin @loganblevins check it out when you get a chance

[2016-08-07 21:59] gkye commented on #269
@tbaranes

[2016-08-08 02:17] JakeLin commented on #269
@gkye thanks 👍

[2016-08-08 02:26] JakeLin commented on #269
I have updated README.md to let the user know about Swift 2.3 support.  @loganblevins can we close this issue now?

[2016-08-08 02:30] loganblevins commented on #269
@JakeLin Sounds good! Thank you.

[2016-08-08 02:30] #269 closed, assigned to nobody

[2016-08-08 03:41] JakeLin commented on #269
@loganblevins cool, please let me know if you want to help us with some tasks, for example, maintaining `swift2.3` branch, merging changes from master to swift2.3, improving the code quality like removing forced unwrapping code.

[2016-08-08 10:55] NiteshKhandal opened #271 "Flip issue"
when i tap on create Account then according to you next controller should open with flip animation but in the github it is opening with only with transition effect. please resolve it because i want flip animation between two UIViewController as soon as possible.

[2016-08-08 11:15] tbaranes commented on #271
I just verify the demo app, there's no flip animation expected when clicking on `Creating account`. Where did you find that?

The flip animation is already available, you can find the demo by clicking on `Forgot Password` -> `Transitions` -> `Flip`.
You can also find the documentation for custom transition [here](https://github.com/IBAnimatable/IBAnimatable/blob/master/Documentation/Transitions.md

[2016-08-08 13:34] loganblevins commented on #269
@JakeLin Sure, I could tie up some loose ends. Is there a group for contributors?

[2016-08-08 13:56] Abdul-Moiz commented on #267
@JakeLin I tried to look into the issue. Somehow the shadow is clipping within the view bounds.
The approach I can think of to fix it is adding sublayer below main layer. And avoid the masking completely.

For time being going with the workaround 2.

[2016-08-08 23:17] JakeLin commented on #269
@loganblevins great, welcome onboard. We can discuss more details. Can you send me your email for Slack? You can find my email address on my Github page github.com/JakeLin, thanks.

[2016-08-09 10:22] JakeLin commented on #267
@Abdul-Moiz thanks for looking at it. As you said, I think we need to have two layers. And apply the mask to `shadowPath` of the second layer. Would you like to give it a go with a PR when you have time?  Please let me know if you are interested.

[2016-08-11 09:40] Shunzi007 opened #272 "Animation don't work in branch swift3"
It could run with Xcode8.0 beta4, but animations don't work.

[2016-08-11 13:03] JakeLin commented on #271
@NiteshKhandal I close this issue now, please let me know if you have any questions. Feel free to reopen it if you think there is an issue.

[2016-08-11 13:03] #271 closed, assigned to nobody

[2016-08-11 13:07] JakeLin opened #274 "Update scripts to generate ColorType.swift and GradientType.swift"
Update `FlatColorsTypeScript.swift` and `GradientsTypeScript.swift` to generate `ColorType.swift` and `GradientType.swift`.
- [x] `GradientsTypeScript.swift`
- [x] `FlatColorsTypeScript.swift`

We can generate the code using `#colorLiteral` like `#colorLiteral(red: 0.08235294118, green: 0.6980392157, blue: 0.5411764706, alpha: 1)`, then Xcode 8 can display the color in code editor like

<img width

[2016-08-11 19:54] Abdul-Moiz commented on #267
@JakeLin This is the code that made the shadow render correctly on the view with masking. I didn't tested all the cases but working fine for AnimatableView, Button and image.

[code]

![simulator screen shot aug 11 2016 3 47 04 pm](https://cloud.githubusercontent.com/assets/3176559/17602697/c8cc1302-5fdb-11e6-8746-9ef756eb6cb3.png)

[2016-08-11 21:39] gkye commented on #274
I've got a working script for `GradientsType` but i think it could be improved slightly. Any ideas? @tbaranes @lastMove

https://gist.github.com/gkye/1bdc8ccf86099b26f6ef7204c487cfa7

[2016-08-12 12:39] JakeLin commented on #267
@Abdul-Moiz thanks, looks very good. The solution should be fine. I am busy on preparing a presentation for [Dev World](http://2016.devworld.com.au/)  will have a deep look later.

[2016-08-12 12:51] JakeLin commented on #274
@gkye LGTM, just a few of small suggestions about the method names.

`func getColorLiteral(hexString: String) -> String`
`func JSON(from urlToRequest: String) -> Data`
 `func parse(JSONData: Data) -> [[String: AnyObject]]?`

 I am not good at naming as well 😁, any feedback is welcome.

[2016-08-13 01:28] #272 closed, assigned to nobody

[2016-08-13 12:34] tbaranes commented on #255
@JakeLin Did you find a solution about this issue? Should we update the docs?
Another though, it could be great to add an example of blur / vibrancy in the playground app.

[2016-08-13 16:12] lastMove commented on #255
I added a demo of blur / vibrancy "User interface => Blur Effect"
With your fix, it should work perfectly

[2016-08-14 09:44] tbaranes commented on #16
Closing this now since the [IBAnimatable-Material](https://github.com/JakeLin/IBAnimatable-Material) has its own development running!

[2016-08-14 09:44] #16 closed, assigned to nobody

[2016-08-14 09:59] tbaranes commented on #198
I'd like to add more examples to cover all the features supported by our presentation controller. Which one should be the best:
- A list containing different ready use cases (like the current transition examples): animations, custom dimming view, ... we can easily create at least 20 examples using a list
- Creating a list of textfield for each customisation available, and creating the popup based

[2016-08-14 12:30] JakeLin commented on #255
@tbaranes I didn't find a solution for that, I think we should remove `BlurDesignable` from `AnimatableScrollView` and `AnimatableStackView`. And only `AnimatableView` and `AnimatableImageView` can support `BlurDesignable`. And add documentation comment to `BlurDesignable.vibrancyEffectStyle` to let the user know all constraints for the subviews will be lost once well apply the Vibrancy Effect sty

[2016-08-14 13:21] JakeLin commented on #198
I like the examples what @lastMove did for other features, how about we have a list of fields to let the user select
- animationType (picker view)
- modalPosition (picker view)
- modalSize (picker view)
- cornerRadius (slider)
- dismissOnTap (toggle)
- backgroundColor (don't know how to present this, color picker or hex code)
- opacity (slider)
- blurEffectStyle  (picker view)
- blurOpacity  (slid

[2016-08-14 13:32] tbaranes opened #281 "Releasing new presentation controller"
This issue is related to #198 but is mostly dedicated to list all the points missing in order to get a new release containing our presentation controller feature:
- [x] Documentation: how to use it, which features are supported...
- [x] Changelog
- [x] Impoving demo apps:
  - [x] animationType (picker view)
  - [x] dismissalAnimationType (picker view)
  - [x] modalPosition (picker view)
  - [x] mo

[2016-08-17 09:53] lastMove opened #285 "[Swift 3] Open VS Public"
The highly discussed [Proposal 0117](https://github.com/apple/swift-evolution/blob/master/proposals/0117-non-public-subclassable-by-default.md) is now implemented :

We now have to choose
We have to explicitly decide which class are subclassable and which methods / properties are overridable.
I am not a big fan of this decision to make classes non-subclassable by default, since we sometimes need t

[2016-08-17 11:13] JakeLin commented on #285
@lastMove Thanks for picking up this.

`IBAnimatable` is an extension of `UIKit`. All `UIKit` elements will be `open`, I think `IBAnimatable` elements should be `open` too. Even our demo also subclasses from some `IBAnimatable` elements. So I prefer to use `open` for all `IBAnimatable` UI classes.

But I think it is almost not to subclass transition animators. We may keep them `public`

[2016-08-18 22:07] cemolcay commented on #221
can you update xcode 8beta6 please?

[2016-08-18 22:15] JakeLin commented on #221
@lastmove has taken the initiative on this, please have a look at https://github.com/IBAnimatable/IBAnimatable/commit/22475b3911ef6b11938ecac58fb21f19442a957b

If you have time, could you please help us to check the changes? we also discuss a big change about access scope on #285

[2016-08-19 23:46] lastMove opened #286 "Xcode 8 Beta 6 IterateEnum"
Hi,
Within the project there is a function that allows us to iterate over all values of an Enum (by returning an iterator).
There is some change with UnsafePointer in the last beta release of Xcode 8 ; so the function don't compile anymore.

[code]

Does someone have an idea of how to migrate this function ?
Except this function (I commented it) the code is migrated here : #287

[2016-08-20 22:17] dylan commented on #286
Give my branch a shot, it seems to work well in playgrounds.

[2016-08-21 08:48] #255 closed, assigned to nobody

[2016-08-21 16:46] lastMove commented on #286
Oh thanks a lot ! I will try it out :+1:

[2016-08-21 21:24] #286 closed, assigned to nobody

[2016-08-21 21:40] lastMove commented on #286
It works well !

[2016-08-21 22:19] JakeLin commented on #286
Great, well done guys 👍👍👍

[2016-08-21 22:22] dylan commented on #286
![salute](http://gif.dyli.sh/bruceyes.gif)

[2016-08-22 06:21] tbaranes commented on #285
_@lastMove comments from #287_

Just a question about this, shouldn't we do the reverse? Let `public` for the one we think that won't overridable then changing them to `open` if there good reasons. If it's for a bug, we should fix it. After, since the most of `IBAnimatable` elements are from `UIKit`, I agree with you to say they should be `open`.

[2016-08-22 11:59] JakeLin commented on #285
@tbaranes I think we only set UI elements to `open` now. We may revisit them again since from `open` to `public` is a breaking change. And from `public` to `open` is a feature 😁

[2016-08-22 21:37] #274 closed, assigned to nobody

[2016-08-23 12:21] #281 closed, assigned to nobody

[2016-08-25 08:05] thanhdevapp opened #293 "Xib file not effect when i setting"
The agent crashes
Xib file not effect when i setting, but i try run it work ok. I see button Debug crash in custom class, please help

[2016-08-25 08:58] #293 closed, assigned to nobody

[2016-08-26 23:36] #246 closed, assigned to nobody

[2016-08-27 21:19] lopezquekk opened #294 "referece to the class Outlet"
How can I create an outlet reference from IBanimatable object like a Button or textfield?

[2016-08-28 03:32] JakeLin commented on #294
In identity inspector, change the class to AnimatableButton or AnimatableTextField, then connect an IBOutlet, the class will be AnimatableButton or AnimatableTextField, make sure you import IBAnimatable in your ViewController

[2016-08-31 11:20] JakeLin commented on #294
@lopezquekk I close this issue now, please let me know if you have any questions.

[2016-08-31 11:20] #294 closed, assigned to nobody

[2016-09-01 11:47] JakeLin commented on #267
@Abdul-Moiz Sorry for the late action, I have submitted a PR #295  to address this issue, please have a look when you have time. Thanks for fixing this issue.

[2016-09-01 11:52] #267 closed, assigned to nobody

[2016-09-02 09:24] lastMove commented on #218
Hi guys,
I wasn't available these days. I will advance on this issue this WE :)

[2016-09-02 11:58] JakeLin commented on #218
@lastMove no worries, I am working on adding release 2.7 to swift3 branch. There are so many conflicts 😔

[2016-09-03 11:07] huntit commented on #48
Coverage with 2.7 release is at 6%.
Would it be useful for me to work on increasing Cocoadocs coverage for the Swift 3 release, or would other documentation be more useful ?

[2016-09-03 13:11] JakeLin commented on #48
@huntit Thanks, I think we have started adding more and more documentation comments in `swift3`, the reason why the percentage has decreased for master branch because we have added a lot of `ActivityIndicatorAnimation***` classes without documentation comments.

If we add some documentation comments for  `ActivityIndicatorAnimating` like

[code]

It will improve a lot because the documentation com

[2016-09-03 15:44] huntit commented on #48
@JakeLin Thanks. Yes, coverage has increased to 21% now that I've got jazzy working locally on the Swift 3 branch. Once Xcode 8 goes RTM, Cocoadocs should update their version of jazzy for Swift 3 (support for open, fileprivate, etc). I'll have a look at your git process and start with doc comments for some of the protocols.

[2016-09-04 01:29] JakeLin commented on #48
@huntit thanks, good to know we are getting better. Our git process is very simple, just master and feature branches. no `develop` and so on. please let me know if you have any questions.

[2016-09-06 14:59] SMFakhir opened #303 "clipsToBounds not working"
Seems like clipsToBounds not working anymore since the latest release.

[2016-09-06 21:50] JakeLin commented on #303
Can you provide more information? For example, provide a small demo app using Cocaopods. With the latest version 2.7 , it should show the issue, with older version, it works fine. Thanks.

[2016-09-07 08:53] #285 closed, assigned to nobody

[2016-09-07 22:11] mikhailmulyar opened #305 "Most of transitions do not respect non translucent navigation bar leading to glitches and wrong frames."
When using some transition animations with `push`, if the Navigation bar set to `translucent=false`. The following transitions are not working properly:
- [ ] Flip
- [x] Explode
- [x] Card
- [x] Turn
- [ ] Fold

There are no problems for `present` transition or if Navigation bar set to `translucent=true`.

----- Original message ------
Hi. When navigation controller uses opaque navigation bar, tra

[2016-09-07 23:17] JakeLin commented on #305
@mikhailmulyar thanks for reporting this issue, how do you use these animators? We recommend you use them in Apple's way like #242 when you use them in code.

[2016-09-07 23:40] mikhailmulyar commented on #305
I use them in code, but this issues happens in all cases.This issue is reproduces in your Example project, if you go to playground part, to Transitions.storyboard and set navigation bar to non translucent.

[2016-09-08 02:24] alexchan1680 opened #306 "Compile error in Xcode 8.0 GM Seed"
In `Xcode 8.0 GM_Seed` version,  `IBAnimatable` framework is not compiled with some errors due to _non escaping_ parameters of `AnimatableCompletion`.

May I create pull request with  [My branch](https://github.com/alexiosdev/IBAnimatable/tree/swift3_alex) ?

[2016-09-08 03:11] JakeLin commented on #306
Yes, please

[2016-09-08 04:44] JakeLin commented on #305
@mikhailmulyar thanks for your reply, we are busy on `swift3` branch at that moment. Please let me know if you have any initial idea how to fix them. I haven't done a deep look, hopefully, it's as simple as calling `initialFrameForViewController:fromVC` and `finalFrameForViewController` and set the Rect of the views. A PR will be appreciated 😉

[2016-09-08 06:53] #306 closed, assigned to nobody

[2016-09-08 10:07] JakeLin commented on #305
@mikhailmulyar I have a look at `Flip`, it is not that simple. There is some issue with `createSnapshots` to calculate the frame. But I haven't found a solution yet.

[2016-09-10 18:40] mikhailmulyar commented on #305
I have checked all transitions, more than half of them are easy to fix, like all system. But other will require some time to fix, like Flip and Fold

[2016-09-10 23:28] JakeLin commented on #305
@mikhailmulyar thanks for looking at this issue, if you would like to help me out with this, don't need to fix them in one PR. You can PR them bit by bit. We are about to merge `swift3` into `master`, would you like to work on `swift3` (future `master`) or current `master` (will be `swift2.3`), it is up to you? Please let me know if you have any questions.

[2016-09-11 08:52] mikhailmulyar commented on #305
Added PR #309 for Card, Fade, NatGeo, Slide and all System animations

[2016-09-12 11:45] JakeLin opened #312 "Known issues for Swift 3"
After upgraded to Swift 3, some of the features are broken.
- [x] Presentation transition: Size of the modal seems not to work from the demo
- [ ] Portal transition animator

[2016-09-14 08:42] vincentlong889 commented on #221
Swift 3.0 Released!

[2016-09-16 06:10] tbaranes commented on #303
Closing this issue now, let us know if you have any questions.

[2016-09-16 06:10] #303 closed, assigned to nobody

[2016-09-16 06:36] SMFakhir commented on #303
Hi,

Sorry i was quite busy last week. Please refer to attached code as requested.

[AnimtableTest.zip](https://github.com/IBAnimatable/IBAnimatable/files/476198/AnimtableTest.zip)

[2016-09-16 10:11] JakeLin commented on #303
@SMFakhir Can you provide some details? I can see the first one is OK and the second one has the problem. But can you provide more details on what's the difference between them? What's your requirement?

![simulator screen shot sep 16 2016 8 11 10 pm](https://cloud.githubusercontent.com/assets/573856/18582708/ccf7e7e6-7c49-11e6-96d5-49b36108e6c2.png)

[2016-09-16 11:46] SMFakhir commented on #303
Actually my requirement is more related to first one but i thought it would be good if i provide a variation, well, i kind of requires clipsToBounds to work with corner radius too but as you can see in the second case, it even fails without it, so in both cases the inner view should be cut off. this is exactly happening in 2.6 but latest version doesn't comply anymore.

I don't quite have time to

[2016-09-16 12:38] JakeLin commented on #303
@SMFakhir sorry, I still can't what causes this issue. A PR will be appreciated, thanks.

[2016-09-16 20:24] francocorreasosa opened #320 "Swift 3 errors"
Hi, I'm currently in the process of migration from Swift 2 to 3 and I'm getting this errors:

[code]

[2016-09-17 03:55] gkye commented on #320
I think the pod hasn't been updated yet, you can download straight from the `master` branch in the meanwhile by using

`pod 'IBAnimatable', :git=> "https://github.com/IBAnimatable/IBAnimatable.git"`

[2016-09-17 04:39] JakeLin commented on #320
@francocorreasosa, @gkye is right, we are busy on finalizing version 3. Once we release version 3, you can come back to latest version, thanks.

[2016-09-17 12:41] tbaranes opened #324 "Broken transitions"
Here a full list of the broken transitions:
- [ ] Fold
- [ ] Explode
- [ ] Turn
- [ ] Flip

[2016-09-17 12:42] tbaranes commented on #312
Closing in favor of #324

[2016-09-17 12:42] #312 closed, assigned to nobody

[2016-09-17 12:44] tbaranes commented on #324
Duplicate of #305

[2016-09-17 12:44] #324 closed, assigned to nobody

[2016-09-17 13:46] tbaranes commented on #305
I catch up the discussion you started in #309. I search a bit about why the transitions are broken. I have no explanation, but the transitions are working as expected on the iPhone 6 simulator but broken on the iPhone 7. Any idea what's difference could be have between both?

Also, it's definitely the `resizableSnapshotView` which is broken, but not sure how we could replace it.

[2016-09-18 02:10] JakeLin commented on #324
@tbaranes looks like they are different issues. Those transitions are broken when we build the library using Xcode 8. There are no problems when we build it using Xcode 7.  And #305, there is an exiting issue when we set the navigation bar to not translucent even using Xcode 7. But both issues are caused by the transition animators, either we implemented them wrongly, or Apple changed the behaviou

[2016-09-18 07:54] tbaranes commented on #324
The issue doesn't seem to be related with Xcode 8, they are working as expected on the iPhone 6 simulator. They are just broken on the iPhone 7.

[2016-09-18 08:01] #320 closed, assigned to nobody

[2016-09-18 08:02] #240 closed, assigned to nobody

[2016-09-18 09:01] JakeLin commented on #324
@tbaranes you are 100% right, it is so weired it is working on iPhone 6 (iOS 10) but not iPhone 7 simulator 😱

[2016-09-18 10:58] tbaranes commented on #324
Something interesting would be to test with a real device, maybe it's just a simulator bug?

[2016-09-18 21:41] winkelsdorf opened #328 "New BlurEffectStyle prominent and regular broken iOS 9 compilation on Master"
Hi,

BlurEffectStyle new enum cases `prominent` and `regular` are breaking compilation for iOS 9 due to a missing version check.

Please adjust the `#available` check to include iOS and _not only iOS Extensions_

[code]

in BlurEffectStyle.swift, L 28 & 33 on Master.

Cheers,
Frederik

[2016-09-18 22:02] JakeLin commented on #328
Thanks, I am on the train at that moment, can you submit a quick PR for it, or I will fix it tonight? 🙏

[2016-09-18 22:08] JakeLin commented on #324
Hopefully there is a simulator bug and Apple fixes it soon, I don't have iPhone 7 in hand yet, haven't got chance to test it 😞

[2016-09-19 05:59] learnwithgabbar commented on #221
Not getting updated code on 2.8.1
I updated code through pod but not getting the updated code, It giving error in every file

[2016-09-19 06:17] tbaranes commented on #221
v2.8.1 is swift 2.3 support, if you want swift 3, you have to target the master directly, the swift 3 release will arrive this week or next one.

[2016-09-19 06:19] learnwithgabbar commented on #221
Okay

[2016-09-19 07:38] #328 closed, assigned to nobody

[2016-09-19 09:03] winkelsdorf commented on #328
@JakeLin Thanks, you were quicker 😁 The usual timezone differences ^^

[2016-09-19 12:15] JakeLin commented on #328
Hi @winkelsdorf All credits go to @tbaranes , I didn't do it 😉

[2016-09-20 17:25] nadirozgurler opened #335 "issue when pod install"
When I pod install some following issues appears, something wrong with last changes?

<img width="1273" alt="screen shot 2016-09-20 at 20 15 55" src="https://cloud.githubusercontent.com/assets/7475071/18681296/276e3d0a-7f70-11e6-8f0f-3c521c18f01a.png">

[2016-09-20 21:54] JakeLin commented on #335
Can you tell me which Swift version are you using? 2.3 or 3. Which version of IBAnimatable of the pod. 2.8.1 or master? Master is for Swift 3. 2.8.1 is for Swift 2.3.

Sent from my iPhone

[2016-09-21 04:54] learnwithgabbar opened #337 "Failed to set borderside, animationType"
Failed to set (borderSide) user defined inspected property on (IBAnimatable.AnimatableView): [<IBAnimatable.AnimatableView 0x102232860> setValue:forUndefinedKey:]: this class is not key value coding-compliant for the key borderSide.

[2016-09-21 05:12] JakeLin commented on #337
@techmehra please have a look at this PR https://github.com/IBAnimatable/IBAnimatable/pull/332, There is a document for migration. Please let me know if you find any issues.

[2016-09-21 05:14] learnwithgabbar commented on #337
@JakeLin I will surely look at this PR #332

[2016-09-21 06:37] nadirozgurler commented on #335
I am using swift 2.2 and IBAnimatable 2.8.1

[2016-09-21 06:42] JakeLin commented on #335
Got it, if you are using Xcode 7, please use release 2.7 .

[2016-09-21 09:58] #218 closed, assigned to lastMove

[2016-09-21 10:23] JakeLin commented on #218
Finally, well-done guys @lastMove @tbaranes  🎉 🎉 🎉

[2016-09-21 10:32] JakeLin commented on #221
Finally, we close this now, well done guys.

[2016-09-21 10:32] #221 closed, assigned to nobody

[2016-09-21 10:33] JakeLin commented on #337
@techmehra I close it now, please let me know if you still have any problem.

[2016-09-21 10:33] #337 closed, assigned to nobody

[2016-09-22 01:24] wanaya commented on #335
this still not working, i have Xcode 7.3.1 with swift 2.3 and IBAnimatable 2.8.1 and i have the same issues.

[2016-09-22 01:35] JakeLin commented on #335
@wanaya , if you are using Xcode 7.3.1, you are using Swift 2.2 then please use IBAnimatable 2.7.

If you are using Xcode 8, and you are using Swift 2.3 then please use IBAnimatable 2.8.1.

[2016-09-22 02:08] JakeLin commented on #335
@wanaya @nadirozgurler I have updated the README.md for this https://github.com/IBAnimatable/IBAnimatable#swift-22-or-23

[2016-09-23 19:23] #335 closed, assigned to nobody

[2016-09-24 07:42] digidhamu opened #339 "AnimatableLabel slideFade(in,right) is not working in TableViewCell in iOS 10"
There is an issue when to use `slideFade` or `slide` animation inside a `TableViewCell` in iOS 10.

There are not problems if we don't use those animations within a `TableViewCell` . Or there are not problems in iOS 9.

------Origin message---------------------
I am currently migrating to version 3.0 and observed that AnimatableLabel with _animationType = "slideFade(in,right)" not working when I h

[2016-09-24 07:53] tbaranes commented on #339
I just try it in the demo app, it seems to be working as expected for me. Here my setup:

<img width="387" alt="screen shot 2016-09-24 at 09 51 58" src="https://cloud.githubusercontent.com/assets/1402212/18806986/8dd0ee48-823c-11e6-95ff-aa50ae1f92b4.png">

Few questions in order to reduce the potential errors:
- What's not working? Is it the Fade? The slide? No animation at all?
- Did you try to u

[2016-09-24 08:07] digidhamu commented on #339
No animation at all.
I have even tried `slide(in,right)` this and not working.

Which screen of Demo app you have tried? Let me try as well.

[2016-09-24 08:09] tbaranes commented on #339
I just added an `AnimatableLabel` without any customisation (just few constraints leading / top) in the root controller of the `Main.storyboard`, then added your animation and delay. Let me know how it goes for you!

Also, are you using CocoaPods? Carthage?

[2016-09-24 08:15] tbaranes commented on #339
One more thing, are you able to reproduce that in a sample project? If so, can you send it to us?

[2016-09-24 08:16] digidhamu commented on #339
Cocoapods and but it was working nicely with same constraints before.
Sure I will create sample project soon and send you soon.

[2016-09-24 08:17] digidhamu commented on #339
Which screen of Demo app you have tried?

[2016-09-24 08:25] tbaranes commented on #339
Just added a label on the top of the first screen, not sure if there's an example using `slideFade` directly in the interface builder.

<img width="442" alt="screen shot 2016-09-24 at 10 24 31" src="https://cloud.githubusercontent.com/assets/1402212/18807188/1977f438-8241-11e6-87f7-8ec74b4100c9.png">

[2016-09-24 10:38] digidhamu commented on #339
I can see working on the home screen. But when I add label into TableViewCell not working. Please see the attached sample project as you requested. Please advise.
[IBAnimatableLabelTest.zip](https://github.com/IBAnimatable/IBAnimatable/files/491063/IBAnimatableLabelTest.zip)

[2016-09-25 02:24] JakeLin commented on #339
@dhamukrish I have tried out your demo code, it is not working inside the table view cell. But Pop animation is working fine, I can see the `x` was right to be `375` (on iPhone 6), but the animation doesn't run. I am not sure it is an issue of iOS 10 or not. Will have more investigations. On the other hand, if you have a static number of cell item, you can use stack view like the demo app does. "D

[2016-09-25 02:29] digidhamu commented on #339
@JakeLin Thanks for your update. I would rather wait for your fix at this moment.

[2016-09-25 04:48] JakeLin commented on #339
@dhamukrish thanks, I have tried it in iOS 9, it is working as expected.

![slidein](https://cloud.githubusercontent.com/assets/573856/18813036/f4d7ef7e-832c-11e6-89d7-5ec5960ad755.gif)

I don't know it is a bug of iOS 10 or Apple intended to change the implementation for `UIView.animate`.

[code]

But it is still working fine when we do not put it in a table view cell. I am busy on preparing a ta

[2016-09-25 09:40] creativebuild commented on #161
Worth checking out https://sympli.io/downloads/xcode

Still a bit of a manual process but can drag all properties of an element in sketch artboard to an element on storyboard.

Xcode plugin looks cool tho, gives interactive preview of artboard.

[2016-09-25 15:26] digidhamu commented on #339
Thanks for your update and can wait for your fix.

[2016-09-26 06:58] tbaranes opened #340 "Option to draw border inside / outside"
With the swift3 implementation we change the way to draw the borders from outside to inside. For me, it introduces some breaking interface. It would be great to have an option to choose how drawing it.

What do you think about it?

[2016-09-26 07:09] JakeLin commented on #340
Sure, the user will have more control. How can we add this info, via a new property as enum?

[2016-09-26 07:13] tbaranes commented on #340
Do you mean by creating a new enum with a new designable properties... or by duplicating the current borders (AllIn, AllOut, TopIn, TopOut...)?

[2016-09-26 07:57] JakeLin commented on #340
I think your idea is better, we may keep the old one mapped to default behaviour like all -> allIn

[2016-09-26 11:42] JakeLin opened #341 "Predefined gradient doesn't render in Interface Builder"
Not sure it is a bug of iOS 10 or not? It is not rendering in Interface Builder, but it is OK in Simulator.

<img width="362" alt="screen shot 2016-09-26 at 9 38 31 pm" src="https://cloud.githubusercontent.com/assets/573856/18833037/0bbe28f6-8432-11e6-93a4-e61dc5d4b090.png">
in Interface Builder

<img width="382" alt="screen shot 2016-09-26 at 9 38 48 pm" src="https://cloud.githubusercontent.com/a

[2016-09-26 12:11] JakeLin commented on #303
@SMFakhir I have submitted a PR #343  to address this issue, please have a look when you have time, thanks.

[2016-09-26 14:06] tbaranes commented on #340
Closing, after some tests, it's just how you play with it, but you can have the expected behaviour with the default draw.

[2016-09-26 14:06] #340 closed, assigned to nobody

[2016-09-27 08:15] JakeLin commented on #340
@tbaranes Do you mean we can configure the frame of the view in Storyboard to get the expected effect like border inside or outside? If yes, I think we can keep the current implementation.

[2016-09-27 08:30] tbaranes commented on #340
Yes, that's right

[2016-09-27 09:05] JakeLin commented on #340
Cool, thanks @tbaranes

[2016-09-28 04:09] nico75005 commented on #251
I have the same error, even after building the IBAnimatable Framework.

Here are the logs:

[code]

[2016-09-28 04:17] nico75005 opened #345 "No such module 'IBAnimatable' in common.swift"
This is the bug I have when I compile the IBAnimatable Framework in the demo project. I have the same bug on my project. I run both projects thought despite this error.

![screenshot 2016-09-28 17 13 44](https://cloud.githubusercontent.com/assets/1647328/18900586/521e8e4e-859f-11e6-8a3c-741f9d0ac73e.png)

Any idea ?

[2016-09-28 04:51] nico75005 opened #346 "Slide a button to the left and slide it back to its original position."
I wanted to slide a button to the left, then change its title and slide it back to the right for it to get back to it's original position.

Is it possible to do that with IBAnimatable?

I tried this:

[code]

but the second time, I just see it passing by really quick...

[2016-09-28 06:34] gkye commented on #346
You could extend the animation duration after the text is changed then perform your second slide animation

[2016-09-28 10:37] JakeLin commented on #345
@nico75005 sometimes, Xcode is not very stable. Can you clean and build again?

[2016-09-28 19:03] nico75005 commented on #345
Yes I did. Indeed, Xcode is unstable most of the time...

[2016-09-29 17:32] #345 closed, assigned to nobody

[2016-09-29 18:33] nico75005 commented on #346
What do you mean?

For me, when you do a slide, it basically send the `UIView` away with a certain force, not to a certain point, so when you change the slide, you change the direction and the `UIView` is sent away to this direction but not to a certain point? Am I wrong?

[2016-09-29 18:57] gkye commented on #346
I meant you could slide your button back `in` after changing the text. ie.

[code]

Or if you want to move the view to certain position and back to its original position you can use `moveTo`, i.e

[code]

[2016-09-29 19:00] nico75005 commented on #346
Okay perfect. Didn't actually realise how `.in` and `.out` were actually working.

Thanks a lot.

[2016-09-29 19:00] #346 closed, assigned to nobody

[2016-09-30 11:24] JakeLin commented on #346
Thanks @gkye for answering this question.

[2016-10-02 08:24] retsohuang opened #349 "Failed to render and update auto layout status"
### Expected behavior

Interface Builder render correctly.
### Actual behavior

Failed to rendering in Interface Builder, but it is OK in Simulator.

[code]
### Tested on
#### Xcode Version

Version 8.0 (8A218a)
#### Pod Version

2.8.1
#### Swift Version

2.3

[2016-10-02 13:52] JakeLin commented on #349
Thanks for reporting this issue, how do you use IBAnimatable? Via cocapods? Can you re-install the pod? Can you rebuild the project? If the issue still happens, can you upload a demo project with the issue? Thanks.

[2016-10-02 13:55] JakeLin commented on #349
I also noticed the tool chain is not right, XcodeDefault.xctoolchain , if you use Swift 2.3 the tool chain should not be default

[2016-10-02 14:41] retsohuang commented on #349
I use IBAnimatable via CocoaPods, I have clean and re-install it not work.

Am I missing something on setting toolchain?

[2016-10-02 20:03] ksinghal opened #350 "Corner Radius iOS 10/Xcode 8/swift 3"
I'm running into an issue where setting the corner radius in storyboard for an imageview does not actually work on the device - it previews correctly in interface builder but does not work in the running app on simulator or device. THis only happened after iOS 10 and I believe it may have something to do with the timing of when corner radius is set. See the link below for some reasons why this may

[2016-10-02 21:07] JakeLin commented on #350
Hi, have you tried the code in mater? We have fixed an issue for corner radius in https://github.com/IBAnimatable/IBAnimatable/pull/343 . That may fix you issue too. Also please have a look at a demo project GitHub.com/Jakelin/IBPresentation . It also uses corner radius in iOS 10 without problems. If your issue still happens, please upload a simple demo app and we can address this issue easier, th

[2016-10-02 21:11] JakeLin commented on #349
I think it is a general issue not specific for IBANimatable . Is IBAnimatable missing a .swift_version file? I don't know the solution since I can not reproduce this issue. If you can upload a small demo project will help us a lot. Or try to google why Xcode use the wrong tool chain.

[2016-10-02 21:14] gkye commented on #341
Setting `startColor` and `endColor` doesnt render in interface builder either.  :disappointed:

[2016-10-03 03:24] retsohuang commented on #349
I have clean install Xcode from App Store but it still not working, I can't found anything talking about setting Xcode toolchain.

[This](https://github.com/retsohuang/IBAnimatableBug) is demo project.

And I found [same issue](https://github.com/MengTo/Spring/issues/175) from another project.

[2016-10-03 04:28] JakeLin commented on #349
Hi Retso,

Can you have a look at this https://forums.developer.apple.com/thread/63237?
It may fix your issue.

Thanks
Jake

On 3 October 2016 at 14:24, Retso Huang notifications@github.com wrote:

[2016-10-03 10:16] retsohuang commented on #349
Hi @JakeLin

It works,  I did this

[code]

[2016-10-03 10:16] #349 closed, assigned to nobody

[2016-10-05 08:20] retsohuang commented on #303
Hi @JakeLin

Can you add this fix to version 2.8.1 ?

[2016-10-05 09:31] JakeLin commented on #303
Yes, @retsohuang  but I am busy on a talk for Yow Connected tomorrow, I need to do it after. If OK, can I ask you a favor to create a PR to swift2 branch? The change is https://github.com/IBAnimatable/IBAnimatable/pull/343/files#diff-31a58763e1e26ac0a8bd2adf82b0bd4bR72 thanks.

[2016-10-06 08:01] shshalom commented on #14
Hi @JakeLin, Is there any chance to push this to an earlier version?  that's my only blocker from using this great framework.

[2016-10-06 11:20] JakeLin commented on #14
@shshalom  I don't have any plan to work on this feature yet. If you would like to take the initiative, please go head, I will offer some help if I can.

[2016-10-06 11:28] shshalom commented on #14
I might do that :-).

I wonder, how should we go about this. did you had anything in mind? maybe follow some other similar library that does it?

[2016-10-06 22:42] JakeLin commented on #14
@shshalom great, I don't have a concrete idea how can we do it, I think there are a few ways we can try.
1. Similar to https://github.com/Draveness/DKChainableAnimationKit
   which provides nice syntax like `view.animation.makeScale(2.0).spring.animate(1.0)`, They provide an extension property called `animation` for all `UIView` objects in https://github.com/Draveness/DKChainableAnimationKit/blob/

[2016-10-06 23:09] gkye commented on #14
https://github.com/AugustRush/Stellar is also a pretty good example

[2016-10-07 10:06] shshalom commented on #14
@JakeLin Nice find, I'll get to it this weekend I hope.
I'll do some research and try to figure what would be the most simple and elegant approach.

 @gkye  Thanks for the link :-)

I'll post an update as soon I'll get some insights.

[2016-10-12 19:13] tbaranes commented on #155
Some others lovely animations: https://github.com/PiXeL16/RevealingSplashView

[2016-10-12 22:09] JakeLin commented on #155
@tbaranes cool one

[2016-10-23 00:53] JakeLin commented on #341
@gkye not sure it is a bug of Xcode 8 or not. It works in the simulator. Also, works for the first view of the view controller in both Interface Builder and simulator.

[2016-10-23 01:03] JakeLin commented on #350
@ksinghal  We have shipped 3.0.1, it has fixed the bug. Close this issue now, please let me know if you have any question.

[2016-10-23 01:03] #350 closed, assigned to nobody

[2016-10-23 01:12] JakeLin commented on #198
@tbaranes shall we close this issue now since we have a powerful [AnimatablePresentationController](https://github.com/IBAnimatable/IBAnimatable/blob/master/IBAnimatable/AnimatablePresentationController.swift). We can create another card if we need to work on other features. Some of the features are original thoughts.

[2016-10-23 15:15] ksinghal commented on #350
Thanks @JakeLin I have fixed the issue by using master, and am happy to see you released the update. This is by far my favorite library thank you so much for your hard work

[2016-10-24 07:01] tbaranes commented on #198
There just one more featureI that I think is important enough: `OverCurrentContext / fullscreen` implemented, otherwise, can close it if you want :)

[2016-10-24 07:26] JakeLin commented on #198
@tbaranes thanks, either we close this one can create a new one for `OverCurrentContext / fullscreen` or leave this one.

I think we can leave this one for now.

[2016-10-24 07:28] JakeLin commented on #350
@ksinghal no worries, good to hear.

[2016-10-27 13:05] terenzeyuen opened #354 "Carthage – no Animatable UI Classes appearing in Storyboard"
Hi,

I have installed via carthage, but adding AnimatableView as class and IBAnimatable in module has no effect (no fields showing in Storyboard inspector).

Works if I copy the source files folder manually to project but we'd really want to use Carthage.

Please help.

Thanks

[2016-10-27 13:47] tbaranes commented on #354
That's a known issue from github, sadly we can't do anything about this.
For more information, you can read the following [carthage issue](https://github.com/Carthage/Carthage/issues/335)

[2016-10-27 15:15] terenzeyuen commented on #354
Hm ok, but if we use Swift Package Manager – is this going to be the same? @tbaranes

[2016-10-27 20:52] tbaranes commented on #354
I have no idea about this since I never tried, but since it's using frameworks too, there's a big chance that will be the same.
If you try it, let us know I'm curious too know!

[2016-10-27 21:18] terenzeyuen commented on #354
I did, doesnt seem to work. :(

So either Pods or manual then?

[2016-10-27 21:48] JakeLin commented on #354
CocoaPods works fine, here are some examples https://GitHub.com/Jakelin/IBAwesome https://GitHub.com/Jakelin/IBPresentation

[2016-10-28 12:28] terenzeyuen commented on #354
Ok, we are looking to not use Pods in this project. Anyway, had  to use a workaround of Carthage + Workspace. Storyboards are picking them up as well, will stick with this for now. Thanks.

[2016-10-28 17:51] leejunhui commented on #251
I also got this error with my Xcode
Playground execution failed: error: /var/folders/h3/fn8cn44d0r115xs93lt7hbt80000gn/T/./lldb/26602/playground2.swift:3:8: error: no such module 'IBAnimatable_Sources'
import IBAnimatable_Sources
       ^
- thread #1: tid = 0x31822f, 0x0000000105b7a3c0 Predefined Animations`executePlayground, queue = 'com.apple.main-thread', stop reason = breakpoint 1.2
  - frame

[2016-11-04 10:15] ninokierulf opened #355 "tvos support"
remove ios dependent like pinch gesture and such and it should be okay.

[2016-11-04 22:56] JakeLin commented on #355
@ninokierulf thanks for your suggestion, would you like to take the initiative to give a try?

[2016-11-18 11:17] JakeLin opened #358 "Update Singleton syntax"
According to this article [THE RIGHT WAY TO WRITE A SINGLETON](http://krakendev.io/blog/the-right-way-to-write-a-singleton), we can update the Singleton syntax like

[code]

- [x] `PresentationPresenterManager`
- [x] `TransitionPresenterManager`

[2016-11-19 11:27] JakeLin opened #360 "Using Swift Struct as the key for dictionary"
In [WWDC 2016 - Understanding Swift Performance](https://developer.apple.com/videos/play/wwdc2016/416/)

Kyle mentioned we should use Swift Struct instead of `String` as the key in the dictionary. We should use that pattern in `IBAnimatable`.

- [x] `cache` in `PresentationPresenterManager`
- [x] `cache` in `TransitionPresenterManager`

[2016-11-19 11:34] JakeLin commented on #25
That has been fixed in Xcode 8 🎉

[2016-11-19 11:34] #25 closed, assigned to nobody

[2016-11-19 11:50] #358 closed, assigned to nobody

[2016-11-20 15:00] tbaranes commented on #354
@terenzeyuen I miss your last comment, what's your workaround to get it working? I'm interesting in a solution since I'm keeping a Podfile just for designable libraries!

[2016-11-20 22:52] JakeLin opened #362 "Setup Danger to check code style before merging PR"
We can setup [Danger](https://danger.systems/) to let us check some warnings before merging a PR.

[2016-11-21 07:16] tbaranes commented on #362
We can also use it to check if an entry in the CHANGELOG has been made.

[2016-11-21 10:59] JakeLin commented on #362
@tbaranes I never used Danger before, sounds very powerful.

[2016-11-22 12:16] bauermusic opened #363 "New 'shared' singleton inaccessible."
Missing `public` before `static let shared = TransitionPresenterManager()`

[2016-11-22 12:20] tbaranes commented on #363
😨Thanks for the report!

I created #364 to fix that. We will release a minor version today or tomorrow, until then, you can target the branch `hotfix/public_singleton` to have a _working_ version.

**Side note:** It would be interesting to add a use case using `TransitionPresenterManager` directly in the example app to avoid that kind of bugs.

[2016-11-22 12:25] bauermusic commented on #363
Thanx! Great response time!

[2016-11-22 13:00] #363 closed, assigned to nobody

[2016-11-22 13:16] JakeLin commented on #363
@bauermusic thanks for reporting this issue. Release 3.1.1 is shipped.

Can you tell me why do you use `shared` directly in your code base? Do you subclass `AnimatableModalViewController`? For using those transition animations, we probably don't need to use `PresentationPresenterManager.shared` or `TransitionPresenterManager.shared.retrievePresenter` directly.

[2016-11-22 13:19] JakeLin commented on #363
@tbaranes thanks for fixing this issue 👏

[2016-11-22 22:44] JakeLin opened #365 "Proposal: Make PresenterManager Singleton classes `internal`"
## Introduction
`IBAnimatable` library is an extension of Interface Builder and UIKit. aka. Make Interface Builder and UIKit great again. `IBAnimatable` is unlike AsyncDisplayKit to create a pattern to develop iOS app. We should use what UIKit provides. For example, `IBAnimatable` provide a set of custom transition animators, when we use them programmatically, we should use the UIKit's default way

[2016-11-23 07:19] tbaranes commented on #365
Agree with you. That would be for the best, the only advantage I see to have access at this managers is to do easily custom animations, but it still possible to implement the delegate ourself if necessary (we just have a default implementation).

💯

Also, if we go for a 4.0, it would be the moment to push all the others breaking change that we want to make (if there's others) 😬

[2016-11-23 09:16] bauermusic commented on #363
@JakeLin We just use it to control some of the animation properties.

[2016-11-23 10:52] JakeLin commented on #363
@bauermusic Do you use the Singleton to retrieve back the animator, then control the properties of the animator?

Can you have a look at [Proposal: Make PresenterManager Singleton classes `internal`](https://github.com/IBAnimatable/IBAnimatable/issues/365) Does the way (using a delegate) we described in #365 fit your requirement? Because we are thinking to make those Singleton classes to `internal

[2016-11-28 14:12] shshalom commented on #363
@JakeLin, Our use case with TransitionPresenterManager is to customize how SlideSegue works and make it fit to our needs.
for example:

[code]

As you can see, it seems simpler that way than doing what is suggested here  [Proposal: Make PresenterManager Singleton classes internal](https://github.com/IBAnimatable/IBAnimatable/issues/365).

Also, I don't think that forcing going in UIKit way is nece

[2016-11-30 00:37] JakeLin commented on #363
@shshalom Thanks for letting me know. Got it, you are making/customizing your own Segue, I didn't think about this use case. I believe it is valid. The user (client code) of the lib should be able to customize segues and use them in **Interface Builder**.

The suggestion I made in  [Proposal: Make PresenterManager Singleton classes internal](https://github.com/IBAnimatable/IBAnimatable/issues/365)

[2016-11-30 00:39] JakeLin commented on #365
@shshalom made a great point for this Proposal [New 'shared' singleton inaccessible.](https://github.com/IBAnimatable/IBAnimatable/issues/363#issuecomment-263280635). I am going to close it if there is no objection.

[2016-12-04 04:19] JakeLin commented on #365
Because those Singleton classes are used for customizing segue, and we can use the custom segue in Interface Builder. I think we should keep them `public`. I close this issue now.

[2016-12-04 04:19] #365 closed, assigned to nobody

[2016-12-04 21:04] tbaranes opened #370 "Enable SwiftLint trailing_whitespace"
Just a long and boring task... any volunteer? 😬#369

[2016-12-04 21:05] tbaranes opened #371 "Enable SwiftLint line_length"
Can be a tricksy task, I don't think all the warnings will be easy to fix but it will definitely improve the code. #369

[2016-12-07 01:21] #370 closed, assigned to nobody

[2016-12-08 07:34] #362 closed, assigned to nobody

[2016-12-16 05:03] nttra83 opened #375 "Corner radius don't apply into AnimatableButton"
Hello,
I set a background image for this button. I wanna set corner radius for button but It don't work.
Could you help me fix this issue?
Thanks,

![screen shot 2016-12-16 at 12 04 02 pm](https://cloud.githubusercontent.com/assets/24289191/21252247/e38ada24-c387-11e6-9ddd-05f8796273a7.png)
![screen shot 2016-12-16 at 12 01 26 pm](https://cloud.githubusercontent.com/assets/24289191/21252248/e56a11

[2016-12-17 06:08] JakeLin commented on #375
Hi @nttra83, thanks for reporting that. I believe it is fixed by @mmadjer and has been merged in master, can you use master and try out? If it is fixed, I will make a release asap. Thanks.

[2016-12-18 01:03] Davtyanag opened #376 "Works only on simulators not real devices"
Animation doesn't appear on real devices (ios 9, ios 10), but works on simulator. Does anybody know how to fix that? Swift 3, Carthage or manually installed doesn't matter. Nothing helps.

[2016-12-18 11:12] JakeLin commented on #376
@Davtyanag Can you provide more info, for example, iPhone 7 + iOS 10, iPhone 6 + iOS 9.2, which animation? How do you use this animation? code, Interface Builder? Thanks.

[2016-12-18 11:29] JakeLin commented on #375
Hi @nttra83 , I have tried and found out you need to set **Clip to Bounds** to **true**
<img width="565" alt="screen shot 2016-12-18 at 10 29 32 pm" src="https://cloud.githubusercontent.com/assets/573856/21293201/54f1c610-c571-11e6-855e-51a9c600bad6.png">

When we use background image for `AnimatableButton`
<img width="487" alt="screen shot 2016-12-18 at 10 30 03 pm" src="https://cloud.githubuserc

[2016-12-18 12:47] Davtyanag commented on #376
@JakeLin I've tried on iPhone 6 10.2, iPhone 5 9.3, tried in code, also tried in Interface Builder, for instance, I set animation type, and then call animate() function, on simulator everything appears, when I debug on device I see how each method is called and everything looks working, but nothing happens. I don't see any change in animation. Meanwhile tried another library for animation and that

[2016-12-19 03:48] nttra83 commented on #375
Hello JakeLin,
Thanks for your support :).
It's work perfect :). But I wanna set a shadow color for AnimatableButton. It don't work when I set a shadow color :(. Could you fix it?
Thanks,

![screen shot 2016-12-19 at 10 44 29 am](https://cloud.githubusercontent.com/assets/24289191/21300674/a3c9a1a6-c5d8-11e6-9096-d82e8d322ac5.png)

[2016-12-19 10:59] mmadjer commented on #375
It is working for me using your shadow values and code of master.
Change the shadow color, i.e. to black and you should see the shadow rendering. Light Gray and these values are very hard to see on white background.

[2016-12-19 11:11] JakeLin commented on #375
@mmadjer I think @nttra83 's issue is when we set the shadow e.g. shadow color, shadow radius, shadow opacity or shadow offset, then corner radius (in this case, 10) is ignored. Because he / she (sorry, I am not sure) uses the `backgroundImage` property of the `AnimatableButton` (actually is in `UIButton`). It requires setting **Clip to Bounds** to `true`. But Setting shadow will set it to be fals

[2016-12-19 11:14] JakeLin commented on #376
@Davtyanag Thanks for following this up for me. That's the first time I hear about this issue. And I am not able to reproduce this issue by myself. Can you please update a small demo app and I can reproduce this issue? Thanks.

One idea is if you create the view manually, do you call `configureAnimatableProperties()`? That may cause the problem if you don't. You can find this example here https://

[2016-12-19 11:15] JakeLin commented on #360
Thanks to@mmadjer, it is done by #373

[2016-12-19 11:15] #360 closed, assigned to nobody

[2016-12-19 11:19] mmadjer commented on #375
Ah, yes I see now.

[2016-12-19 12:18] Davtyanag commented on #376
@JakeLin yeah! That was an issue configureAnimatableProperties(), thank you very much!

[2016-12-19 12:18] #376 closed, assigned to nobody

[2016-12-19 12:27] JakeLin commented on #375
I have tried to use `mask` for all corner radius. But found out an interesting issue.

If we comment out `if cornerSides == .AllSides` case like
[code]

Then we can support `AnimatableButton` (`UIButton`) with `backgroundImage` for both `cornerRadius` and shadow
<img width="571" alt="screen shot 2016-12-19 at 11 23 04 pm" src="https://cloud.githubusercontent.com/assets/573856/21312717/e179166c-c64

[2016-12-19 12:29] JakeLin commented on #376
@Davtyanag good to hear you fix it. I didn't find a good way to call `configureAnimatableProperties` automatically. If you use IB, you don't need to do it. But in code you have to call it.

[2016-12-19 15:31] nttra83 commented on #375
Hello,
I faced same issue above :). I hope you can fix it soon :).
Thanks @mmadjer @JakeLin

[2016-12-19 23:51] JakeLin commented on #375
I have found out the reason because we don't call `configureMaskShadow()` inside `cornerRadius` property.

We can fix it like
[code]

I will do a fix when I have some spare time, I am still looking after two boys 🙈🙉🙊. Or you can give it a go. Apply this change to all Elements e.g. `AnimatableButton`, `AnimatableView` and create a PR. Thanks.

[2016-12-20 02:18] nttra83 commented on #375
Hahaha, I also looking my son 👶 :).
I will try to fix it in my side.
Thank for your support :).

[2016-12-20 22:36] mmadjer commented on #375
@JakeLin, will apply the proposed change.

[2016-12-21 16:06] tbaranes opened #378 "Custom gradient startPoint"
Probably something like: `.custom(CGPoint, CGPoint)`, or `.custom(startX, startY, endX, endY)`

[2016-12-22 04:17] JakeLin commented on #378
@tbaranes do you mean rotate the `startPoint` or it can be the center, inside or outside of the view?

[2016-12-22 07:17] tbaranes commented on #378
Just a way to customise where the gradient will start in the view. We can currently start from one of the border, but we have no way to start from X (even if, it's not the center, a border...).

[2016-12-23 08:52] tbaranes opened #381 "AnimatableCollectionViewCell cornerRadius not working with backgroundColor"
Here an `AnimatableCollectionViewCell` with a `cornerRadius` set to 12, and a green background color. The dark blue is a subview added.

![screen shot 2016-12-23 at 09 50 53](https://cloud.githubusercontent.com/assets/1402212/21450246/50fae6ae-c8f5-11e6-9a4f-3473b539c43c.png)

Apparently (I didn't look deeper, will do later if I have time), the cornerRadius is applied to all the subviews (`UIImage

[2016-12-24 01:15] JakeLin commented on #381
I think that's related to #377 . It may have some conflict with clipToBounce

[2016-12-26 22:55] lastMove opened #382 "Proposal : Improve Chain-ability"
The goals of this proposal is to improve the Chainability based on the existing with the less possible breaking changes.  ( #14 )

### Introduce `AnimationConfiguration`
  One of the problems of Animatable’s Chainability is Animation Parameters.
 AnimationType is not enough to describe an Animation.
The animation Parameters   (Damping, Velocity, duration, force, delay) are stored directly in the V

[2016-12-28 01:27] JakeLin commented on #382
@lastMove Thanks for starting the initiative.

The syntax `animate.then.completion` is very well structured and clean 👍

I have a few of ideas as below, they are not concrete, though.

I agree with you `AnimationType`  is not enough to describe an Animation. I am still thinking shall we expose `AnimationConfiguration` to the user? It seems a little over for using `AnimationConfiguration` every tim

[2016-12-29 15:07] rscodra commented on #339
Can confirm this is still persisting, at least in my app. Did anyone work on it, any suggestions?

[2016-12-30 19:25] lastMove commented on #382
Yes, it's ok for me.

Great syntax 👍  And it's not complicated to implement :)

Personally I prefer the first approach seems it seems more natural and easier to read;  but they are not exclusive.
We can maybe start by the first approach and after add the second one.

So it will be something like :

[code]

[2016-12-30 23:27] JakeLin commented on #382
@lastMove the syntax looks very good 👍

[2016-12-30 23:42] JakeLin commented on #339
@sambing sorry, I haven't got time to look at this issue. Can you confirm this issue only happen in iOS 10 not iOS 9? It looks like an iOS 10 specific issue. Thanks.