[2016-12-31 07:56] digidhamu commented on #339
I have just tested and I can see still see the same issue on iOS 10 but not on iOS9. Basically the issue is that when I add AnimateLabel inside UITableViewCell with animation type slideFade(in,right).

[2016-12-31 10:02] #378 closed, assigned to nobody

[2016-12-31 22:57] JakeLin commented on #339
@dhamukrish I investigated this issue before and found out it is an iOS 10 specific issue. It's not easy to find out why. Apple may change the lifecycle for `UITableViewCell`. I suggest you use `StackView` for `slideFade(in,right)` animation for that moment.

[2017-01-01 14:05] digidhamu commented on #339
Ok sure

[2017-01-02 10:23] lastMove commented on #382
Ok nice, I will try to implement this.

[2017-01-02 23:06] rscodra commented on #339
@JakeLin iOS 10 only. Before i read your comment i simply animated the views programmatically and that works fine.

[2017-01-02 23:54] JakeLin commented on #339
@dhamukrish Would you please try @sambing 's approach? Thanks for your feedback @sambing .

[2017-01-03 08:05] rscodra commented on #339
@JakeLin Thank you.

[2017-01-03 20:34] username1290 opened #383 "Where to change to 2.7?"
Hi, the example app mentions:
1.- Open IBAnimatable.xcodeproj,
2.- Compile

But where does one change to 2.7 to test on Xcode 7?

[2017-01-03 22:33] JakeLin commented on #383
To use Xcode 7 with Swift 2.2, please check out [2.8.1](https://github.com/IBAnimatable/IBAnimatable/releases/tag/2.8.1), it supports Swift 2.3, if it doesn't work, use [2.7](https://github.com/IBAnimatable/IBAnimatable/releases/tag/2.7) instead.

[2017-01-04 03:30] username1290 commented on #383
Tried both, 2.8.1 and 2.7 on Xcode 7.0 and also on Xcode 7.2.1,
Result: all failed.
Is there anything else that needs to be installed? i.e. a particular iOS simulator version?

[2017-01-04 03:56] JakeLin commented on #383
it shouldn't need anything else. How do you use them? Using CocoaPods? What's the error message? I remember 2.7 was built by Xcode 7.3. But I don't have Xcode 7 anymore.

[2017-01-04 04:49] username1290 commented on #383
Message says "build fail", and a lot of error messages (392)

How do I use them:
1.- Installed Xcode on Yosemite
2.- Downloaded 2.8.1 and 2.7 from your link
3.- Opened the .xcodeproj file
4.- Pressed the Build button.

I also noticed that "Deployment target" says "9.2" but the available simulators to download only are up to 9.1.

Changed "deployment target" to 8.0 and build errors went down to 29.

[2017-01-04 06:54] JakeLin commented on #383
@sogen, have you tried Xcode 7.3? Can you use Xcode 8.2? I think most of apps are using Xcode 8 and above.

[2017-01-04 07:28] JustinM1 commented on #376
@JakeLin Is that in the docs somewhere? I was having trouble with animations not working properly and took me a while before I saw this. Why not override the init in AnimatableView and call configureProperies after making the call to super?
<img width="1027" alt="ibanimatable" src="https://cloud.githubusercontent.com/assets/18277828/21634449/5d391e98-d225-11e6-8245-115e311d9513.png">

[2017-01-04 15:45] username1290 commented on #383
Downloaded 7.3 and 7.3.1 but they don't work in Yosemite...
Guess it's time to update to El Capitan.

Thanks!

[2017-01-05 00:04] JakeLin commented on #383
@sogen got it, thanks. If you use El Capitan, it is better to get Xcode 8.2 from App Store and use the latest version of IBAnimatable.

[2017-01-05 04:09] ibhavin opened #384 "AnimatableActivityIndicatorView is not displaying in iPad"
I have put a `UIView` in my `UIViewController` and give it class to `AnimatableActivityIndicatorView`. In Animation type: `ballRotateChase` and set the color.

Get outlet from storyboard  to viewcontroller file and in `viewDidLoad()` I have start animating by
`loading.startAnimating()`.

The problem is loader is displaying in simulator but when I run it in iPad it is not displaying. It just displa

[2017-01-05 10:38] lastMove commented on #384
I will try to reproduce your issue.

[2017-01-06 12:59] JakeLin commented on #384
@ibhavin It will be great if you can update an example project and specify which iPad / iOS version are you using. Does this issue happen on iPhone or other iPad?

[2017-01-07 03:54] ibhavin commented on #384
@JakeLin  I have iPad air 2(9.3.5 iOS version) in which `AnimatableActivityIndicatorView` is not working and in iPhone 6s (10.1 iOS version) it is working.

[2017-01-08 17:47] tbaranes commented on #383
Closing this now, @sogen don't hesitate to reopen if you still need help!

[2017-01-08 17:47] #383 closed, assigned to nobody

[2017-01-08 17:53] tbaranes commented on #14
Closing in favor of #382

[2017-01-08 17:53] #14 closed, assigned to nobody

[2017-01-08 19:43] tbaranes commented on #155
https://github.com/lkzhao/Hero

That's the last kind of transitions we don't handle!

[2017-01-08 23:10] JakeLin commented on #155
@tbaranes we don't, our transitions don't support moving an element from fromVC to the toVC. It was a card #17 for it. We grouped it inside this card.

[2017-01-10 07:08] tbaranes commented on #354
https://github.com/Carthage/Carthage/issues/335

Should we try that last comment?

[2017-01-11 01:44] JakeLin commented on #354
@tbaranes yes, worth trying, good find.

[2017-01-12 15:38] tbaranes opened #387 "Add support dash border in BorderDesignable"
That could be useful, but how handle the inspectable part? Using a a border type  (solid, dash...)?

The code is quite simple (didn't try it, paste from SO):

[code]

[2017-01-13 01:14] JakeLin commented on #387
@tbaranes will it be a `var borderType: BorderType` property, and `BorderType` is an enum?

[2017-01-13 07:03] tbaranes commented on #387
Yeah something like that, I'm gonna give it a try, will see if it looks good :)

[2017-01-13 08:37] tbaranes commented on #384
Did you try to log the frame of the `AnimatableActivityIndicatorView` or using the inspectable view?
I'm using myself on iPad and iPhone that class, it's working fine for me, we are gonna need more information to help you with that issue.

[2017-01-15 10:35] #387 closed, assigned to nobody

[2017-01-16 04:05] yzcoder opened #390 "Can I use this by launage of Objective-C?"
In xcode 8.2, I try to use this framework, but xcode show me crash like this
[code]
and I can't fix it by myself, please help me.

[2017-01-16 04:19] JakeLin commented on #390
@yzcoder Are you using CocoaPods? We don't officially support Objective-C, you can see the [Technical Considerations](https://github.com/IBAnimatable/IBAnimatable/blob/master/Documentation/Roadmap.md#technical-considerations) here. But it may support Objective-C automatically.

[2017-01-16 06:58] yzcoder commented on #390
Thanks.

[2017-01-17 17:18] emcphersonburke commented on #251
For anyone still experiencing this, add $(SRCROOT) to the Project's (not the Target's) Framework Search Paths in Build Settings. Set it to recursive and build.

[2017-01-17 22:54] JakeLin commented on #251
@emcphersonburke thank you very much for pointing out this. Could you please create a PR for this change? Many thanks.

[2017-01-19 11:21] tbaranes opened #392 "No built-in presentation animations are broken"
- Zoom
- Cover
- ...

Working: Flip, CrossFade...

[2017-01-19 13:32] tbaranes commented on #392
Some deeper search later, I find the cause of that issue exists because the both methods are not called anymore:

[code]

The delegate is still set since the following one is still called:

[code]

These three methods are from `UIViewControllerTransitioningDelegate` which is conformed by `PresentationPresenter`.

I have no idea why that's happening right now.

[2017-01-19 14:28] #392 closed, assigned to nobody

[2017-01-20 07:26] ibhavin commented on #384
@tbaranes  I have log the frame of the `AnimatableActivityIndicatorView`.

`print(loading.frame)`

**Output:** `(147.0, 293.0, 80.0, 80.0)`

[2017-01-20 07:31] #390 closed, assigned to nobody

[2017-01-20 08:08] tbaranes opened #394 "CornerSides is case sensitive"
For example:`TopLeft` in interface builder won't work.

[2017-01-27 02:31] XOneto9 opened #395 "How to connect storyboard and class code?"
How can I connect storyboard and programmatically code class?
Now, If I want to use this IBAnimatbale module, then I should change the name of Class and modules in storyboard.
But, If I do that. I don't know how can I connect code?

ex) storyboard tableview using  name is 'AnimatableTableView' but, code class name is 'Aview'
How can I connect?

[2017-01-27 04:26] gkye commented on #395
Based on the example given it sounds like you need to connect your code and storyboard using `IBOutlets`.

- You can create an instance of `AnimatableTableView` in storyboard within your `ViewController`
![capture](https://cloud.githubusercontent.com/assets/14007152/22360356/dfef49d0-e41c-11e6-8455-d73d5585fd98.PNG)

- Assign your `ViewController` to the class you wish to use. In this class you ca

[2017-01-27 05:43] XOneto9 commented on #395
@gkye wow, Thanks!!
 I hadn't known like this to connect ways. thanks I learn new way how to connect!
also, Rapidly reply to me
thanks! all of

// additionally, is not exist UICollectionViewController of Animatable module?

[2017-01-27 06:34] tbaranes commented on #395
Sadly, we currently have no AnimatableCollectionView. We are tracking this in #53, it will come one day 🙃

[2017-01-27 10:59] XOneto9 commented on #395
@tbaranes It so sad T^T
Thank you so much to rapidly answer to me!
Thanks

[2017-01-27 10:59] #395 closed, assigned to nobody

[2017-01-27 11:23] XOneto9 commented on #395
Sorry, Lastly!!!
could you please tell me about TableviewCell class connecting with storyboard??
if I create UITableViewCell class :):)

[2017-01-27 13:57] XOneto9 opened #396 "additional question about tableviewcell connection"
Thanks to help me!
Actually, I already ask question smiler to this request.

I'm understand how to connect storyboard with code class. but In Cell class
like class of UITableViewCell, How can I create instance for connecting storyboard of AnimatableTableViewCell?????

ex) class Aview: TableviewCell {
      }
but It is hard to connect both of them which are storyboard and TableviewCell class

Thank

[2017-01-27 19:52] tbaranes commented on #384
Sorry for the delay @ibhavin. Can you provide us a sample project in order to reproduce that issue? We are currently not getting it, so it's hard to help you...

[2017-01-28 04:48] ibhavin commented on #384
@tbaranes  Here is the demo project:
[IBAnimatable_Demo.zip](https://github.com/IBAnimatable/IBAnimatable/files/736706/IBAnimatable_Demo.zip)

[2017-01-28 10:33] JakeLin commented on #396
@XOneto9 your question is a general question on how to custom `UITableViewCell`, I suggest you follow this tutorial and try https://www.ralfebert.de/tutorials/ios-swift-uitableviewcontroller/custom-cells/

If you want to use the features in `AnimatableTableViewCell`, then you can change

[code]
to
[code]

Then, you can use the inspectable properties from `AnimatableTableViewCell`.

[2017-01-28 11:20] XOneto9 commented on #396
@JakeLin
Thanks...

Well,, I'm solving the problem, I have known the way suggested you to me how can I connect as a above answer.

Well now, I'm solved, when I ask you question, I saw the error to my complier in AnimatableTableViewCell

but I'm re try compiling, then the error is removed totally.
because of error, I have wonder of having a other ways to connect storyboard with code of class.

Than

[2017-01-28 12:35] JakeLin commented on #396
@XOneto9 good to hear you have solved the problem. Sometimes, Xcode is very weird. We need to recompile to fix some issues. In the future, you may have to remove something called derived data too 😓. Have a nice day.

[2017-01-31 18:53] #396 closed, assigned to nobody

[2017-02-01 10:11] tbaranes opened #397 "borderWidth set to 0 won't remove the current border"
Steps to reproduce:
- Set a valid border
- Set borderWidth to 0 in order to remove that border
- Expected: no more border, current result: the border is staying there

That issue is due to the following guard in `BorderDesignable`:

[code]

I'm not sure what is the right fix here: should we just remove the `borderWidth` check, or reseting the layers when we are in this case?

For now, a workaround

[2017-02-01 10:23] JakeLin commented on #397
Shall we put
[code]
in a method internal closure and call it with in the guard as well?
[code]

[2017-02-01 10:24] tbaranes commented on #397
I think that could be a good move.

[2017-02-01 11:20] #397 closed, assigned to nobody

[2017-02-13 12:28] tbaranes commented on #53
A few interesting UICollectionView layout animations: [AnimatedCollectionViewLayout](https://github.com/KelvinJin/AnimatedCollectionViewLayout?utm_campaign=This%2BWeek%2Bin%2BSwift&utm_medium=web&utm_source=This_Week_in_Swift_121)

[2017-02-13 12:51] JakeLin commented on #53
@tbaranes those are like our transitions.

[2017-02-13 13:30] tbaranes commented on #53
Yeah, but they are collectionView transitions 😆
I don't know well the API, but we may be able to reuse the viewControllers animations for some cases.

[2017-02-13 18:20] thierrybucco opened #399 "Unable to get vibrancyEffectStyle working"
How vibrancyEffectStyle is supposed to work?

My code has no effect.

progressViewContainer.cornerRadius = 8
progressViewContainer.vibrancyEffectStyle = .dark

Do yo have an idea?

Thanks

[2017-02-13 22:11] JakeLin commented on #53
In our case, we conform to `UIViewControllerAnimatedTransitioning` and implement ` func animateTransition(using transitionContext: UIViewControllerContextTransitioning)` . In collection trainsitons, we need to subclass `UICollectionViewFlowLayout` and override `layoutAttributesForElements`. All animations are based on `attributes`. We need to abstract how collection view attributes to transition `

[2017-02-13 22:15] JakeLin commented on #399
@thierrybucco How is `vibrancyEffectStyle` not working, can you put up a simple example project or upload some screenshots?

There is a technical limitation for `vibrancyEffectStyle`. Please have a look at the documentation comment.

[code]

Looks like you are using it as a `Container`. All elements within it will lose the layout because of the technical constraints.

[2017-02-14 17:55] thierrybucco commented on #399
Thanks @JakeLin for your answer.
Here is a screenshot. There is no subviews..

(lldb) po progressViewContainer!
<IBAnimatable.AnimatableView: 0x7f9bc249b2d0; frame = (137.5 251.5; 100 100); opaque = NO; autoresize = RM+BM; layer = <CALayer: 0x618000238fe0>>

![capture d ecran 2017-02-14 a 12 53 55](https://cloud.githubusercontent.com/assets/12764744/22941735/b003fd46-f2b4-11e6-8456-cc3a4444a7e5.pn

[2017-02-15 02:26] JakeLin commented on #399
@thierrybucco  haha, you should use `blurEffectStyle` for the blur effect, `vibrancyEffectStyle` is used for the content on top of the blur effect.

[2017-02-17 17:47] thierrybucco commented on #399
Oh! Sorry...
Thanks a lot for your help.

[2017-02-17 17:47] #399 closed, assigned to nobody

[2017-02-17 23:58] JakeLin commented on #399
@thierrybucco my pleasure 😉

[2017-02-21 09:19] mikhailmulyar opened #401 "PresentationConfiguration has no public initialisers."
At the moment it is not possible to use PresentationPresenter for custom UIViewController, not for AnimatableModalViewController. The problem is first in var presentationConfiguration of PresentationPresenter, which is not public and is not assignable, but required to be non nil if you want to use PresentationPresenter. Second thing that PresentationConfiguration has no public initialisers, so it

[2017-02-21 09:23] tbaranes commented on #401
That's normal, if you want to use a `PresentationConfiguration` directly, you have to pass by `PresentationPresenterManager`'s `retrievePresenter` which will give you a valid since it will handle a cache for you,

Side notes: as talked in #363, even if we let access to these classes, we don't encourage you to use them. If possible, you should directly use `PresentationPresentedViewController` to m

[2017-02-21 09:33] mikhailmulyar commented on #401
As far as i can see `PresentationPresenterManager` creates `PresentationPresenter` with `presentationConfiguration = nil`. So it is not usable as `UIViewControllerTransitioningDelegate` until you assign some `presentationConfiguration`. `AnimatableModalViewController` assigns presentationConfiguration in its `setupPresenter` method which is internal.

[2017-02-21 09:41] tbaranes commented on #401
My bad, I misread your question. I will need more input about your context. Why don't you want to use `AnimatableModalViewController` directly? Can you give us a concrete example of how you will use this flow if we add a public initialiser to `PresentationConfiguration`?

[2017-02-21 09:44] mikhailmulyar commented on #401
I have view controller from another framework, so i can not subclass AnimatableModalViewController. But i want to use PresentationPresenter features to allow presentation features of it in my view controller.

[2017-02-21 09:51] tbaranes commented on #401
I understand now, that's make sense! I ended opening the project and realise that's an implementation error. I mixed up the usage of the presentation feature 😆

Just pushed #402, if you want to give it a try, it should solved your issue.

[2017-02-21 10:09] mikhailmulyar commented on #401
`var presentationConfiguration: PresentationConfiguration?` in `PresentationPresenter` should be also public to be able to set it

[2017-02-21 22:38] JakeLin commented on #401
@mikhailmulyar thanks for reporting that. <del>We</del> I always think more about how to use `IBAnimatable` in *Interface Builder*, not programmatically, especially how to customize UI elements.

@tbaranes thanks for responding that quickly, you make the project better and better 👍.

[2017-02-22 14:09] #401 closed, assigned to nobody

[2017-02-24 17:38] tbaranes commented on #354
Just tried, but sadly, not working.

[2017-02-25 16:35] JakeLin commented on #354
@tbaranes 😥 don't know how https://github.com/toshi0383/RateTV makes it work. There are two more comments said it doesn't work either. Just curious, did you try the `release` configuration? https://github.com/toshi0383/RateTV/pull/8/files#diff-9ec25524da2b844b9faead9e93b88ae9R553

[2017-02-25 23:08] DanielAsher opened #404 "BorderDesignable doesn't smoothly animate when borderSides != .AllSides"
Hi,
thanks for a fantastic framework!

I've noticed that if I use an `AnimatableView` with `borderSides` not equal to `.AllSides` (e.g. `bottom`) that border does not smoothly animate when using `UIView.animate(withDuration:)` on the frame of the view. Instead the border immediately redraws to the target frame size, with the view then smoothly animated to its target frame.

I've read that `path` i

[2017-02-26 00:29] tbaranes commented on #404
I have to say that I'm not surprised the animation is not working. The current implementation is reloading the border only after receiving `layoutSubviews`. I'm not sure how we can handle that case since we don't get notify of an animation running (do we?).

The best case I can think of right now is that you trigger a `layoutSubviews` in the animation closure, but even using that tricks, I don't t

[2017-02-26 08:15] shshalom opened #405 "BorderType is missing"
It seems that BorderType class is missing in the current version of IBAnimatable framework.

I did a Pod update, and after attempting to build the project failed with error stating the following:

"Use of undeclare type of BorderType"

please fix this ASAP.

[2017-02-26 08:26] shshalom commented on #405
Seems like POD install resolved the problem.

[2017-02-26 08:26] #405 closed, assigned to nobody

[2017-02-26 09:07] DanielAsher commented on #404
@tbaranes I would assume this applies to all custom drawing features within IBAnimatable - I understand how difficult this could be to solve, though I would suggest that this would be a real barrier to using in any environment that required a mixture of designer and programmatic animation.

Perhaps this could be clearly outlined in the read me.

thanks again for such a rapid response.

[2017-02-26 15:32] DanielAsher opened #406 "MaskDesignable removes custom mask by default"
Hi,
thanks again for a great framework!
I require using a gradient mask on a subclass of AnimatableView. I didn't find a way to do this from the designer - so I created a `layer.mask` in my derived class. However, `MaskDesignable` removes the layer mask by default (i.e. when `.none`) in [this](https://github.com/IBAnimatable/IBAnimatable/blob/master/IBAnimatable/MaskDesignable.swift#L53) line.
I g

[2017-02-26 17:06] tbaranes commented on #406
Thanks for that report! It's true that the current implementation of `MaskDesignable` doesn't support any custom mask. It's a bit restrictive but we are in a complex context since we have to remove the mask if you choose to remove the mask later.

From what you are saying, I see three solutions:
- Use `GradientDesignable` directly to make your gradient. If it's not working let's debug it to make i

[2017-02-26 17:11] tbaranes commented on #404
Yeah, we have currently no support for animated the drawing features. If you are interested to work on this, let us know if we can help!

[2017-02-26 17:29] DanielAsher commented on #406
@tbaranes thanks for your super-quick responses.
I certainly agree about the complexity of the context! I also had similar ideas to all three of your suggestions. To your points in order:
* This doesn't seem orthogonal as a designer may require a fill gradient as well as a mask gradient
* Perhaps a `gradient` option to `MaskType` would handle this scenario, though full details of the mask gradient

[2017-02-26 17:51] tbaranes commented on #406
About the option 1, I give it a try, and it's already working:

<img width="161" alt="screen shot 2017-02-26 at 18 45 27" src="https://cloud.githubusercontent.com/assets/1402212/23342066/c0d6f0bc-fc53-11e6-8b32-8a5bc10e659b.png">

When I said "GradientDesignable" I'm talking about the `startPoint`, `endPoint`, ... that you can find in the interface builder (or programatically).  `GradientDesignabl

[2017-02-26 17:58] tbaranes commented on #354
Interesting case, maybe we can find the solution in this. I didn't try release, but I don't see what that can change?
Anyway, I'm reopening this issue to keep in mind that we still have more solutions explore 🙃

[2017-02-26 18:42] DanielAsher commented on #406
I don't believe a gradient mask necessarily requires any code. It's simply a gradient with two colours (.clear and .black suffice), that smoothly shows/hides it's containing view. An image view with a radial gradient mask allows for an otherwise square image to have beautifully graduated circular border.
A gradient mask on a blurred copy of the image allows for a natural focus effect.

As for the

[2017-02-26 18:45] DanielAsher commented on #406
I should say I'm not a public library designer, understand I have no experience in providing a stable API and very much defer to you in this matter!

[2017-02-26 21:32] tbaranes commented on #406
I'm not sure to understand what gradient are you looking to do. I mean, what is missing to `GradientDesignable` to fulfill your goal? That protocol already makes gradient creation available in interface builder, and usable like the others protocol (either with Animatable* or your own classes by conforming to the protocol).

Agree with you to say it would be for the best to make `.custom` by defaul

[2017-02-26 22:56] DanielAsher commented on #406
The gradient defined in `GradientDesignable` would need to be applied to the `layer.mask`, for which there is no mechanism at the moment. Then the designer would not be able to use this as an ordinary (fill) gradient.

Also `GradientDesignable` is over-featured for a gradient mask. Colours are unused in a gradient mask. I think the correct way to do this would be a `GradientMaskDesignable` with a

[2017-02-26 22:59] DanielAsher commented on #406
There may be a confusion here. A gradient mask is not a fill gradient on masked layer. It is a `CAGradientLayer` that is assigned to `layer.mask`

Apologies if this is still unclear.

[2017-02-26 23:05] DanielAsher commented on #406
As to the issue of removing previous `layer.mask`, would a `previousMaskType : MaskType?` Be enough to know whether the `layer.mask` needs to be removed before being set?

[2017-02-26 23:08] DanielAsher commented on #406
I'll try to sketch some code and either post or PR early next week 😇

[2017-02-26 23:21] tbaranes commented on #406
I think I got the nuance now, thanks for the explanation! I don't know well enough this API to have a good opinion on the implementation. I will try to look at it or... wait for your PR 😜

I was thinking about a `previousMaskType` too, it should be enough to handle that case.

Looking forward! Thanks for bringing these discutions to us, it's great to make `IBAninatable` even better altogether 😊

[2017-02-27 02:50] JakeLin commented on #354
thanks @tbaranes we may have to wait for Apple to fix that 😢

[2017-02-27 07:08] tbaranes commented on #406
Night thought: if we go with a `previousMaskType`, then I think we can apply the "don't remove custom mask" directly to `.none` instead of creating a new type!

Up to you 🤓

[2017-02-27 08:07] DanielAsher commented on #406
@tbaranes that's certainly the simplest fix and has no repercussions on API clients. I would recommend this approach.

[2017-02-27 18:14] tbaranes commented on #394
That's also the case for `BorderSide`.

[2017-02-27 22:15] JakeLin commented on #394
@tbaranes interesting, we do call `lowercased()` like `let sideElements = rawValue.lowercased().characters.split(separator: ",")` in `BorderSides`

[2017-02-28 11:51] JakeLin commented on #404
@DanielAsher maybe off the topic, is it possible just an issue of the playground? Did you try that on a simulator or device? Sometimes, I found out the animations on the playground are quite leggy.

[2017-02-28 11:56] DanielAsher commented on #404
This happens also in the simulator (I saw it there first)
On Tue, 28 Feb 2017 at 11:51, Jake Lin <notifications@github.com> wrote:

[2017-02-28 20:09] mmadjer commented on #394
@tbaranes, I double checked the border sides and seems to be fine. Any special case you checked?

[2017-03-01 07:01] tbaranes commented on #394
Maybe I've been faked by Xcode update. Let's consider it as a bad report, I will open a new issue if I reproduce it, sorry! 🤕

[2017-03-01 10:32] mmadjer commented on #394
no worries @tbaranes. That's how XCode functions..or doesn't function. ;o)

[2017-03-01 10:49] #394 closed, assigned to nobody

[2017-03-03 15:04] DonBaronFactory opened #410 "CheckBox Button in Dynamic TableView"
Hi, I'm experiencing a weird behavior with AnimatableCheckBox within a dynamic TableView.

The checkbox is part of a custom cell (with always the same identifier) and is populated dynamically in a simple UITableView.

While the checkbox works as advertised when the user clicks on it, something else and weird happens within the tableview.

Say I have a tableview with 20 rows in total but only 10 vi

[2017-03-03 15:14] tbaranes commented on #410
It's normal, `UITableView` will reuse all your cells once they aren't visible anymore. If you clicked your row 2, that same row will be reuse as 12, 22...

You have to configure your cell each time `tableView(UITableView, :cellForRowAt:` is called. In that method, you can configure again your cell, including wether your checkbox has been clicked or not. If you do not change the checkbox state, it

[2017-03-03 15:18] DonBaronFactory commented on #410
Thanks for the hint, although I do understand the basics of what you're saying, I'm not sure what you mean by configure each time. Does that mean I can't use the same cell identifier for each cell? How would the code look like the way you mean it?

[2017-03-03 15:25] tbaranes commented on #410
Your identifier is used to reuse your cells, that's not a problem, it's even recommended!

When the `UITableViewDataSource` is calling `cellForRowAt` each time a cell will be visible, that means if you are displaying 10 cells, then scroll, before showing the eleventh, it will call `cellForRowAt` first. In that same method, you can customise your cell: colours, labels, whatever you need to set, it'

[2017-03-03 15:38] DonBaronFactory commented on #410
Thanks for the more detailed answer. In fact what you're suggesting is actually what I'm doing right now but it kinda doesn't work as expected. Did it before with UISwitches and it does behave correctly... anyway will keep digging as it really seems not being a problem with IBAnimatable... thanks

[2017-03-03 15:38] #410 closed, assigned to nobody

[2017-03-03 16:58] redent opened #411 "3.1.3 slideOut are miscalculated"
Due to [this change](https://github.com/IBAnimatable/IBAnimatable/commit/12d8261a5ec67878b1861a57526bfca940d5e7d6?_pjax=%23js-repo-pjax-container) introduced in 3.1.3 release, slide out animations are not calculated correctly.

This code:

    @IBOutlet weak var animatableView: AnimatableView!

    var viewVisible: Bool = true
    @IBAction func buttonClicked(_ sender: Any) {
        viewVisible =

[2017-03-03 17:24] redent commented on #411
This seems to fix all scenarios:

[code]

It can be tested with this code:

[code]

[2017-03-03 17:25] tbaranes commented on #411
Oh you are right, didn't think about that case when I fixed that issue 😑
Thanks for the explanation, and looking for a fix! Can you make a PR including that fix?

[2017-03-03 17:27] tbaranes commented on #410
Alright, don't hesitate if you get more information or have any questions!

[2017-03-05 12:13] tbaranes commented on #341
Just tried it, and it's working well for me using the last version of Xcode 🤔

[2017-03-05 12:21] tbaranes commented on #384
@ibhavin Sorry again for the delay, I didn't have an iPad at home to test it until recently...
I tried your sample, and it's working as expected for me. Do you still reproduce it?

[2017-03-05 12:23] tbaranes commented on #381
Closing in favor of #377

[2017-03-05 12:23] #381 closed, assigned to nobody

[2017-03-06 09:09] #411 closed, assigned to nobody

[2017-03-06 09:15] tbaranes commented on #406
@DanielAsher I'm closing this now, but if you think that a `GradientMask` could be useful for `MaskDesignable`, don't hesitate to open a new issue to track that!

[2017-03-06 09:15] #406 closed, assigned to nobody

[2017-03-06 11:21] JakeLin commented on #341
@tbaranes It is working if we set it to the top view of the view controller. **Xcode version: Version 8.2.1 (8C1002)**

<img width="1137" alt="screen shot 2017-03-06 at 10 16 57 pm" src="https://cloud.githubusercontent.com/assets/573856/23607875/c5966f2a-02ba-11e7-94b9-397471da21b1.png">
Working for the top view of the view controller

<img width="1037" alt="screen shot 2017-03-06 at 10 15 40 pm"

[2017-03-06 11:36] DanielAsher commented on #354
I use `carthage update --use-submodules --no-build --no-use-binaries` and manually add the both the framework project and the framework as an embedded dependency.

This method is robust, and fine-grained, but perhaps not as easy as dragging the built framework into your project.

[2017-03-06 11:47] JakeLin commented on #354
@DanielAsher thank you very much for letting us know this solution. Since you shipped test✈️, I believe this solution is solid. Can I ask you a favour to add a side note to the [Carthage section in README.md](https://github.com/IBAnimatable/IBAnimatable/blob/master/README.md#carthage)? Do you know we can modify the README.md on the browser without `git clone`? But I know you have a fork 😉. Thanks.

[2017-03-06 12:39] tbaranes commented on #341
Got it, definitely a Xcode bug 😬

[2017-03-07 01:01] Clcanny commented on #263
I meet the same problem in another framework, can you tell me how to fix it by myself?

[2017-03-07 01:06] JakeLin commented on #263
@Clcanny Could you please put more details on what are you talking about? We support Xcode Version 8.2.1 (8C1002) already.

[2017-03-08 07:11] kodekarim commented on #198
PresentationModalSize - custom size is not working.. kindly have a look
Half and full parameters are working but the custom size is not..

[2017-03-08 07:17] tbaranes commented on #198
@abdulKarim002 Can you open a new issue about this including as much details as you have?

[2017-03-08 07:22] kodekarim commented on #198
Yes sure...

[2017-03-08 07:29] kodekarim opened #413 "Present Modal custom size is not working"
Present Modal Custom Size is not working as it should be, the other parameters are working good like the corner radius , blur , animation type etc but the custom modal size is not working

the following view is the result modal width and height is 300 X 450 yet the result is as the image
![img_1973](https://cloud.githubusercontent.com/assets/13949425/23694274/e5b5c78e-03fe-11e7-8d54-d501470e9ede.P

[2017-03-08 08:30] tbaranes commented on #413
I just tried, it seems to be working as expected, I updated the example app the possibility to use a custom size (#414)

So for your case, we will need more input of how are you using it to be able to reproduce it. Can you give us any details that can help us to reproduce your issue?

[2017-03-08 09:15] kodekarim commented on #413
on one view controller with a button action, i am presenting the view which is a subclass of AnimatableModalViewController and this is how my xcode attribute inspector of my popup view

plz correct me if I am doing wrong

<img width="240" alt="screen shot 2017-03-08 at 2 41 53 pm" src="https://cloud.githubusercontent.com/assets/13949425/23697336/6b4d24f6-040d-11e7-8f65-9666656b7b27.png">

[2017-03-08 09:33] tbaranes commented on #413
In order to use `ModalSize.custom` you have to specify the custom keyword in the field, so instead of `300` and `400`, can you try to put in `custom(300)` and `custom(400)`? That's should solve your issue.

I think we can improve the size customisation by accepting directly numbers as you did, but have to check first if that's possible or no in the current implementation.

Let me know if that's so

[2017-03-08 09:55] kodekarim commented on #413
@tbaranes  hey its working thanks

[2017-03-08 09:55] #413 closed, assigned to nobody

[2017-03-12 11:46] JakeLin opened #415 "swing animation doesn't work any more"
For some reason, the swing animation stop working.

`view.animate(.swing(repeatCount: 1))`

[2017-03-14 07:09] #382 closed, assigned to lastMove

[2017-03-25 12:24] phimage commented on #339
If we look at `animate` stack call if `auto` = true (animate on layoutSubviews)
on ios10 we see
- UIView.layoutSubviews
- **UIView.performWithoutAnimation**
- UITableView._performWithCachedTraitCollection
- UIView.layoutSublayers

on ios9
- UIView.layoutSubviews
- UIView.layoutSublayers

Just to try, enqueueing the animation to main queue allow to play the animation
[code]
but the translation to s

[2017-03-25 14:07] phimage commented on #229
one PR about it
#417

[2017-03-27 05:33] JakeLin commented on #339
@phimage thanks for your workaround/solution for that issue. Do you know why iOS 10 changed the behaviour of that for adding 'UIView.performWithoutAnimation'? Because `autoRunAnimation()` method is used for everywhere, I think it is too big to change it to have  `DispatchQueue.main.async` inside. We may suggest the user use your solution for the animation within table view cell.

[2017-03-30 08:46] tbaranes commented on #384
Closing, @ibhavin don't hesitate to reopen that issue if you still need help on this!

[2017-03-30 08:46] #384 closed, assigned to nobody

[2017-03-30 08:59] ibhavin commented on #384
@tbaranes  Don't know why but issue is still there in iPad.

[2017-03-31 06:23] #371 closed, assigned to nobody

[2017-04-01 12:56] JakeLin commented on #371
@tbaranes well done 👍

[2017-04-02 08:08] tbaranes opened #428 "BackgroundImageDesignable not working"
I wanted to go ahead by finalising (docs and example) `BackgroundImageDesignable`, but when reading the code, something seems off to me: we create a view, but we don't add / remove it anywhere. So, I tried it (in case I missed something), but it didn't work (normal or bad usage?). Is that expected @phimage ?

Also, while writing the documentation, I started to wondering why is `BackgroundDesignabl

[2017-04-02 12:23] phimage commented on #428
The function to add or remove image view is call in `didSet` of image view field
(like refresh control, that could be too soon if apple do not allow to play with view hierarchy when affecting attributes)

I am testing now on demo app for table cell
- I go into demo app scene with 4 statics cells (Work, Food,..)
- remove the ImageViews, children of Content View
- I go to the table cell view and cho

[2017-04-02 13:44] tbaranes commented on #428
I will test this again following your instruction, I may miss one. Thanks for the explanation! Closing his since it's working for you, I will reopen it if I have more questions :)

It would be interesting to comment the `BackgroundDesignable` since it's not straightforward to understand.

[2017-04-02 13:45] #428 closed, assigned to nobody

[2017-04-03 06:57] tbaranes commented on #415
Just tried in the animation playground, seems working as expected, what's broken?

[2017-04-04 05:33] JakeLin commented on #415
I am silly when I tested `.swing` with a circle. Can't see it that time. I close it now.

[2017-04-04 05:33] #415 closed, assigned to nobody

[2017-04-04 16:04] phimage opened #433 "Animation on touch event"
I want to animate views like `UIButton` when touching it.

For instance a scale when touching and an unscale when releasing.

## Where to do it
We could override `UIResponder` functions `touchesBegan`, `touchesMoved`, `touchesEnded`, `touchesCancelled` or maybe register to `UIControlEvents`

## An animation example
### In touch Begin
[code]
### In touch End or Cancel
[code]
## some conception idea

[2017-04-05 06:52] tbaranes commented on #433
Looking forward to this! That will be an awesome feature 👍

[2017-04-05 10:38] phimage commented on #78
Hi guys, I have some code which can help

I make a proof of concept project
Here a video https://www.dropbox.com/s/pj61i4t2m86cl8p/Ibfakery.mov?dl=0
https://github.com/phimage/IBFakery

In user defined runtime attributes
- to the left we assign the type of data
- to the right, the field where the value must be set

I use swift framework https://github.com/vadymmarkov/Fakery for my fake data
And I

[2017-04-05 23:33] JakeLin commented on #78
@phimage it is very cool. I see the code is quite small but super powerful 💪

[2017-04-06 07:06] tbaranes commented on #78
Should we move that issue in a dedicated project and why not adding that project in IBAnimatable organization (if that's ok with you @phimage)? 🙃

[2017-04-06 07:27] tbaranes opened #434 "Add unit tests"
As suggested by @SD10 on slack, adding tests can be a great move. Creating this issue to keep a track on this!

@SD10 I'm assigning this to you since you wanted to give it a first try (to avoid that someone else starts something), but don't hesitate to unassigned yourself if you are not interesting in anymore, not enough time... or for whatever reason is it

[2017-04-06 07:50] phimage commented on #78
Yes, it's ok with me
The idea come after reading this issue

[2017-04-07 07:43] #198 closed, assigned to nobody

[2017-04-07 13:04] phimage opened #436 "FatalError: "No opposing HollowState for HollowState.none" in playground"
When trying to see all transition animation available I try systemCameraIris

maybe related to #427 because we get in `SystemTransitionAnimator`

[code]

Then in playground the definition is
[code]
instead of
[code]
so we have always `none` type and the `fatalError`

[2017-04-07 16:23] tbaranes commented on #436
Oh you are right, I think we should drop the hard code string from the example app in order to avoid this kind of issues. If I remember well the only reason that we had strings instead of the enum type was to set the title in the navigation bar

[2017-04-08 02:41] JakeLin commented on #436
I think we used the string values to demonstrate how can we use those values in Interface Builder. If you have a toString method for the enum. We should always use enum in code. Since @SD10 is working on refactoring. The compiler won't give any error on those changes.

[2017-04-10 13:46] tbaranes commented on #433
Another idea of animation: https://github.com/BalestraPatrick/SquishButton

[2017-04-11 05:42] SD10 commented on #436
Ok I'm closing this because it has been taken care of by #438

[2017-04-11 05:42] #436 closed, assigned to nobody

[2017-04-11 05:57] JakeLin commented on #436
@SD10 thanks for taking care of that.

[2017-04-11 12:00] phimage opened #440 "Turn transition animation doesn't work. π stuff"
we have in `TurnAnimator`
[code]
instead of
[code]

Maybe when converting the deprecated `M_PI_2` some mistake happen
I think other `.pi` must be checked

[2017-04-11 12:04] tbaranes commented on #440
Introduced in https://github.com/IBAnimatable/IBAnimatable/pull/237/commits/10104cd0a15cfc29d0c38112d5b4b6ad04aa0a3c

As you said, it seems that we have a few more like this one. Do you want to take care of them?

[2017-04-11 12:21] phimage commented on #440
Not for the moment, because I am not sure of animation result for Fold and Flip

[2017-04-11 22:30] JakeLin opened #444 "Use `private` instead of `fileprivate` if possible"
Following up @tbaranes 's comment on  https://github.com/IBAnimatable/IBAnimatable/pull/437#discussion_r110823732

We should consider using `private` if possible instead of `fileprivate`.

Personally, I don't like the idea of having two `private`s: `private` and `fileprivate`. But since we have them, we should follow [Principle of least privilege](https://en.wikipedia.org/wiki/Principle_of_least_p

[2017-04-11 22:37] JakeLin opened #445 "Remove unnecessary `self.` if possible"
It is a controversial topic to use `self.` or not within the class, struct or extension. But in our project, we try to not use unnecessary `self.` if possible.

## What is unnecessary `self.`?
If we remove the `self.` , the code still can compile correctly. We call them unnecessary `self.`. For example within a subclass of `UIView`. `self.bounds =.zero` is same as `bounds = .zero`. `self.addSubvie

[2017-04-12 00:51] SD10 commented on #445
I would love to do this it has been silently KILLING me 😃

[2017-04-12 03:14] #440 closed, assigned to nobody

[2017-04-12 06:09] tbaranes commented on #305
Should we really close this? There's still a few bugs related 🙃

[2017-04-12 08:23] SD10 commented on #445
Resolved in #446

[2017-04-12 08:23] #445 closed, assigned to nobody

[2017-04-15 12:03] DonBaronFactory opened #451 "TextField Placeholder / Image Programatically"
Hi, I'm facing a weird problem. When I create an AnimatableTextField via IB then all works as expected. In contrast when I create the same Textfield programatically and apply a left image and placeholder, then the latter don't get displayed...

[code]
Any Idea what I'm doing wrong?

PS: the Borders get displayed properly

[2017-04-15 12:48] phimage commented on #451
you do it when? as class attribute? in viewDidLoad of your controller?

sometime user interface code don`t support to be at class initialization
you can make your variable lazy but one time the bug could come back

[2017-04-15 16:39] DonBaronFactory commented on #451
I do create these fields as class attributes in a custom UIView... but from what I understand this may be a bug right?

[2017-04-15 20:51] phimage commented on #451
I think you could change your code to fix it for the moment

And for IBAnimatable, maybe `configureImages` must be called in `configureAfterLayoutSubviews` and not `configureInspectableProperties`

---

how/when did you add the emailField to the CustomView?

to add an image to the textfield I think component bounds or frame is needed
and if your component is not in view hierarchy or If you don't s

[2017-04-15 21:35] phimage commented on #444
for the future please look at
https://github.com/apple/swift-evolution/blob/master/proposals/0169-improve-interaction-between-private-declarations-and-extensions.md
and the rejected one https://github.com/apple/swift-evolution/blob/master/proposals/0159-fix-private-access-levels.md

[2017-04-16 09:07] phimage commented on #354
I use carthage too, compile IBAnimatable with it
And yes there is no IBAnimatable classes in storyboard

So I create a workspace with my project and IBAnimatable sources that you can find in Carthage/Checkout by draging and dropping the IBAnimatable project.
The sources are present in workspace but I do not add any target dependencies on my main projet

[2017-04-16 10:00] phimage opened #452 "Animate UIBarItem"
# Why
After PR #443 (Add AnimatableTabBarController) I am wondering why not animate the `UITabBarItem` (one of the `UIBarItem`)

Could animate when appearing or when clicking/touching

For `UITabBarController` you could override `tabBar(_ tabBar: UITabBar, didSelect item: UITabBarItem)` to make animation

# What we have
I look at IBAnimatable code and see
- AnimatableBarButtonItem
- In `Animatable

[2017-04-16 10:12] phimage commented on #452
duplicate of #15

[2017-04-16 10:12] phimage commented on #15
# Why
After PR #443 (Add AnimatableTabBarController) I am wondering why not animate the `UITabBarItem` (one of the `UIBarItem`)

Could animate when appearing or when clicking/touching

For `UITabBarController` you could override `tabBar(_ tabBar: UITabBar, didSelect item: UITabBarItem)` to make animation

# What we have

I look at IBAnimatable code and see
- AnimatableBarButtonItem
- In `Animatabl

[2017-04-16 10:48] phimage commented on #12
How about adding in Animatable
[code]
and to Animatable classes something like that

[code]
and in AnimationConfiguration
[code]

Instead of `CAMediaTimingFunction` we can have our own type `TimingFunctionType` enum or class which provide a `CAMediaTimingFunction`
So we can parse the string for custom CAMediaTimingFunction types
Wrapping allow providing optionnaly also multiple CAMediaTimingFuncti

[2017-04-16 15:22] DonBaronFactory commented on #451
will be trying out your suggestions... I basically add the textfield to my view (addSubView) during the init of my custom class. The frame as such might be zero, nonetheless I do constrain it in my code using AutoLayout and anchors

[2017-04-17 10:20] #354 closed, assigned to nobody

[2017-04-17 15:05] DonBaronFactory commented on #451
I did manage to make it work by calling `configureImages` after setting the left image of the textfield and its padding... @phimage you mentioned "for the moment", does that mean you'll be fixing it in a future release? if yes, we should mark this issue as bug / enhancement

[2017-04-17 23:49] JakeLin commented on #12
@phimage Thanks for posting your idea. This is a useful feature. In one of my app, I slide a panel up and down. And I should use `easeInEaseOut` instead of Spring because using Spring will have a gap at the bottom (when bouncing) for a short period.

### `timingFunction` property
I like your idea to have inspectable property `timingFunction` 👍. As you said, we may have our enum like `TimingFunctio

[2017-04-18 07:19] JakeLin opened #453 "UI testing for the demo app"
Following up #450, when we do refactor, we may accidently break some features.

I don't know the best practice for unit testing UI. We developed a demo app (IBAnimatable Playground) to test our features. We use it for testing new features, fixing bugs and doing refactor. But it is not straight forward and we have to check them manually. If we can have some [UI Testing in Xcode](https://developer.a

[2017-04-18 07:28] tbaranes commented on #453
Even if the current state of `XCUITest` are a bit limited (can't test the layer, the animations...), we can still do basic animations with a simple navigation which ensure us to be able to launch each feature without crashing.

Let's hope that will be improved in the future version of `XCUITest`!

[2017-04-18 15:00] phimage commented on #451
I have no time to reproduce it at the moment so I am not sure about if it is a real bug or wrong use of IBAnimatable
I ask question just to help and to allow someone to reproduce ;-)

[2017-04-20 05:50] JakeLin commented on #305
@tbaranes I don't think we should close this issue. I closed it when I merged the PR.

[2017-04-20 06:19] phimage commented on #12
I will make the first move today
Create the feature branch and the enum, modify the Animatable classes, use enum when possible
Have already done the code yesterday, need some tests

I will add #12 to where I have questions

[2017-04-20 15:45] SD10 commented on #434
I think it's highly unlikely that anyone wants to take a stab at this issue, but if you do please get in touch with me first as I've already begun this process.

[2017-04-20 21:43] phimage commented on #12
branch feature/timingfunction
https://github.com/IBAnimatable/IBAnimatable/tree/feature/timingfunction
https://github.com/IBAnimatable/IBAnimatable/compare/feature/timingfunction?expand=1

See all  #12 in code for the question and work to do
Currently default value for animation is not well managed. There is a `none` case but I think about putting nil instead, depending on IBAnimatable philosophy.

[2017-04-20 23:37] JakeLin commented on #12
@phimage great start 👍 Do you think we can create a PR like `[WIP] Support timing function for animation`? then we can make comments on the PR.

I think in `IBAnimatable` we use `none` for `enum`s and nil for String value which maps to `none` case like `MaskType` and `AnimationType`.

If `timingFunctionType` is `none`, should we use the Spring animation as what we have already? If it is `.default`

[2017-04-21 07:17] phimage commented on #12
PR #456 has been created
I will not have time this weekend to do more, so everybody could work on

[2017-04-21 12:58] tbaranes commented on #451
Not sure what the bug is are how to fix it, but I'm able to reproduce it. Thanks for the report @cre8it !

@phimage Moving the `configureImages` to `configureInspectableProperties` will just freeze the app (infinite loop)

[2017-04-21 13:21] tbaranes commented on #451
@cre8it #458 should fixed your issue if you want to give it a try. Otherwise, it will be soon available in master

[2017-04-22 13:24] DonBaronFactory commented on #451
@tbaranes thank you, I will be trying it out as soon as released in master ... I know many use Storyboard and thus do not encounter this issue, but Storyboards have made our life so difficult over the years and across development teams that we dropped it completely and only work with autolayout programatically ... IBAnimatable though, has become the prime framework we install for every app we deve

[2017-04-24 19:39] #451 closed, assigned to nobody

[2017-04-26 04:24] SD10 opened #461 "backgroundColor for AnimatableStackView not set by FillDesignable"
### Issue
backgroundColor for `AnimatableStackView` not set by `FillDesignable` protocol and remains `nil`

Apparently `UIStackView` is a non-drawing view so `drawRect()` is never called and the `backgroundColor` is not applied.

EDIT: This obviously affects setting the `opacity` as well

### Possible Solutions
We can possibly solve this by:
1) Adding a backing `CAShapeLayer` with the background c

[2017-04-28 17:14] lastMove opened #464 "MaskDesignable custom Mask"
Hello All :)

I would like to add the ability to set a custom Mask using the powerness of MaskDesignable.
Code is better and simpler than explanation ^^
I would like to be able to do this :
[code]

It implies to add this to MaskType :
[code]
It's better than setting directly a mask. This solution is Autolayout compatible (thanks to MaskDesignable) and doesn't require to subclass multiple UI* Class

[2017-04-28 17:41] lastMove commented on #461
I think that we shouldn't fix this issue.
the current behavior is very similar to UIKit's one.

`UIStackView` has a `backgroundColor` property but setting it has no effect. (This is the kind of problem which OO code). UIStackView is non-drawable but Apple (for some good reasons) makes it inherit from UIView Even if there some of `UIView` property non-compatible with `UIstackView` purpose.
So if we

[2017-04-28 18:11] SD10 commented on #461
@lastMove I think that's a valid point. There is obviously a reason why Apple decided to give `UIStackView` this functionality. @JakeLin @tbaranes your opinions?

`UIStackView` is not fully tested yet, but it's possible that other drawing code is not working on it as well. Maybe we should re-evaluate this class?

[2017-04-28 18:20] SD10 commented on #464
@lastMove could you achieve this by using a closure that returns a `UIBezierPath` or `CAShapeLayer` and calling it immediately? Sorry if not, I'm a noob with drawing code 😑

I mean the whole library is called IBAnimatable, I don't know if we currently have things that aren't available in interface builder, but I think IB compatible is more of the vision. If we don't have this restriction then I'm

[2017-04-28 18:27] lastMove commented on #464
Yes, It would be ideal but the problematic is that the mask should be adapted to current bounds. Mask are redrawn each time the view's frame change, that's why it has to be a closure, so we can recall it when needed. MaskDesignable will still IB compatible, it's just that we will not be able to use the `custom`  case from IB.

[2017-04-28 22:09] tbaranes commented on #461
I agree with @lastMove, I would follow apple opinons on this. Since `FillDesignable` does the same thing as the `backgroundColor` property, we shouldn't make special case and keep copying the behavior.

In a long term process, I would be in favor to remove that designable protocol since it doesn't add features but that's another discussion 😬

[2017-04-28 22:16] tbaranes commented on #464
I think it could be an interesting feature to add even if it's not supported by IB. Even if one of the main goal is to be IB compatible, a lot of people is using it programmatically, so why not makes things easier for everyone?

Beside the feature itself, let's just keep in mind that it's more interesting for the community to add new masks to IBAnimatable than using custom masks. At least, when th

[2017-04-29 05:05] quanguyen opened #466 "cornerRadius: ambiguous use"
Hi Jake,

I am trying to subclass `AnimatableView` like below:

[code]

But I got the error at `cornerRadius` assignment.

How should I fix this?

Regards,

[2017-04-29 06:11] JakeLin commented on #466
are you using Material library at the same time? can you comment import Material out. i think material add an extension for UIView. if you want to use both together, can you have a lot at the second part of the talk https://youtu.be/xvH-XiVObWM

thanks
jake

Sent from my iPhone

[2017-04-29 10:05] lastMove commented on #464
Yes, you are right, I needed some very specific masks. It could be nice to make a lists of useful masks.

[2017-04-29 12:05] lastMove commented on #466
Nice Talk !

[2017-04-30 01:54] JakeLin commented on #464
Since IBAnimatable has a lot of decent features to support IB like cornerRadius, mask, shadow, etc. I can see more and more developers are using it programmatically. I like to feature actually.

I am thinking in the future, we should improve the programmatical API like what we did for Release 4. one issue was mostly asked is shall we automatically call `configureAnimatableProperties` when the user

[2017-04-30 05:38] quanguyen commented on #466
Ok. Thanks, Jake

[2017-04-30 05:38] #466 closed, assigned to nobody

[2017-04-30 06:36] #464 closed, assigned to nobody

[2017-04-30 09:54] quanguyen opened #468 "Strong reference cycle should be avoided"
Hi Jake,

Thanks for this great lib. I really love it.

By the way, I often see you directly access `self` in closure, which could cause the strong reference cycle. Is there a reason when you use it?

For e.g.: In file `AnimatablePresentationController.swift`, line 190:

[code]

which should be:

[code]

Do you agree?

[2017-04-30 23:32] JakeLin commented on #468
@quanguyen Thanks for reporting this issue. I scan the code in the project, most of them should be fine because most of them are used within class methods like `UIView.animate()`. But there are some potential issues like what you found:

- [ ] AnimatablePresentationController e.g. within `coordinator.animate` - two places
- [ ] FlipAnimator e.g. `animateFlipTransition`
- [ ] PresentingViewControll

[2017-04-30 23:55] SD10 commented on #461
Prematurely closed. This bug (which is becoming a feature) is still under review.

[2017-05-01 01:40] quanguyen commented on #468
Ok, no problem. I'd just like to report so you could improve this great library in the next release.

[2017-05-01 01:40] #468 closed, assigned to nobody

[2017-05-01 07:42] JakeLin commented on #461
I agree with @lastMove too. UIStackView is like viewgroup in Android. It is a view container.

[2017-05-01 08:59] quanguyen opened #469 "animate with animation not work"
Hi Jake,

I find the chaining syntax in the `IBAnimatable` (as described in `README` - `How to animate programmatically`) beautiful, but failed to implement it.

With my `controller` declared as an `AnimatableView` (`private let controller = AnimatableView()`), I am trying to animate with an animation type but failed as in the picture below:

<img width="612" alt="screen shot 2017-05-01 at 3 50 01

[2017-05-01 12:03] lastMove commented on #469
Hi,

I just tried this code :

[code]
and it works.

Are you using the latest version ?

[2017-05-01 23:25] JakeLin commented on #469
@quanguyen can you have a look at the Swift Playground files. They have some example how to use `.moveBy`. Also, if you init your `AnimatableView` in code, you need to call `configureAnimatableProperties` manually.

[2017-05-02 06:25] quanguyen commented on #469
OK. I got it working now.

Earlier, I had not because I passed in a `CGFloat` to `x` and `y`. After reviewing the API, I found that they must be `Double`.

Thanks

[2017-05-02 06:25] #469 closed, assigned to nobody

[2017-05-02 07:17] JakeLin commented on #469
@quanguyen we may add overloaded methods for it.

[2017-05-02 07:23] quanguyen commented on #469
Ok, I see.

[2017-05-03 04:13] SD10 commented on #434
## Current Coverage: - 6.64%
### Protocols:
- [X] CornerDesignable
- [X] FillDesignable
- [X] SliderImagesDesignable
- [X] PaddingDesignable

[2017-05-08 12:46] #12 closed, assigned to nobody

[2017-05-08 16:06] phimage commented on #13
close by #456

[2017-05-08 16:06] #13 closed, assigned to nobody

[2017-05-10 15:53] phimage commented on #121
I am interested with scaleTo animation but also scaleFrom or maybe scale/scaleFromTo

Using spring animation (animation with timing function could also be done)

# scaleTo(x, y) ( = scale(1, 1, x, y) )
[code]
# scaleFrom(x, y)  ( =  scale(x, y, 1,1) )
[code]

# scale(fromX, fromY, toX, toY)
[code]

If I could PR something about that after TimingFunctionType
if we choose the new `AnimationType` cas

[2017-05-10 23:31] JakeLin commented on #121
@phimage Since `IBAnimatble` has decent features for designing in Interface Builder. We can keep going with improving the animation programming APIs. How about we set the theme to animation programming APIs and UT improvements for release 5? Can you re-submit the timing function PR again? let's unblock it and keep going with the other great improvements like this one.

[2017-05-11 08:35] phimage commented on #67
Project with animated checkbox
https://github.com/Marxon13/M13Checkbox
which use path animation

[2017-05-11 20:45] SD10 opened #479 "Project Organization & Submodules"
## Project Organization & Submodules
Recently, we have been discussing the current organization of the project on Slack.

### Basis for the Discussion:
- IBAnimatable is a large codebase and will continue to grow as we add more features.

- We want to limit the amount of unused imported code and decrease the size of the dependency.
    e.g) Using IBAnimatable solely for `Transitions` yet still hav

[2017-05-12 07:15] tbaranes commented on #479
I agree with the needs here, a few questions:
- How will it works for Carthage, Submodules... ? If one subspecs is a dedicated framework, then it will be straightforward
- How will we name them? If you named it `UIControls`, does that mean I will have to do `import UIControls`? It's not quite clear _what_ it represents, but if you named it `AnimatableUIControls`, it's starting to be long to write.

[2017-05-13 19:16] SD10 commented on #479
Let me address the 4 points you brought up:
1. I have very limited knowledge of Carthage so that's why I didn't mention this. I would love to hear anyone's suggestions on this subject.

2. I think `UIControls` is a clear name choice. It would never be possible to import something like `UIControls` directly, it would have the prefix `IBAnimatable/UIControls`. This import would then import all the o

[2017-05-14 08:51] phimage opened #482 "New mask types and change proposal"
# Change proposal for faster new mask type implementation

- `MaskType` enum could provide an `UIBezierPath` using a function like this `func bezierPath(for rect: CGRect)`
- Then in `MaskDesignable` we ask the path and call the draw function only one time code

I think also a lot of code to create `UIBezierPath` must done in one `UIBezierPath` `extension` instead of `MaskDesignable` or `MaskType`

[2017-05-15 03:21] JakeLin commented on #482
@phimage Great, will make an educational game with my son using IBAniamtable soon ❤️❤️❤️

[2017-05-15 07:30] tbaranes commented on #479
I globally agree with you, I think we can go ahead and make adjustments with the PRs review!

About Carthage: it will simply compiles every shared frameworks schemes found in a xcworkspace / xcodeproj to generate a dedicated framework. Once that done, the user can choose which frameworks to add in its projects. Since designable is broken using Carthage (#354), I don't think we have that much users

[2017-05-17 08:23] tbaranes commented on #479
Second though: I'm wondering if we shouldn't do a feature release before starting this. Otherwise, let's keep make a temporary branch `feature/modules` where we can merge all the PRs and then releasing it in master when everything is ready to go.

[2017-05-17 18:46] SD10 commented on #479
I agree that would probably be the best approach 👍

[2017-06-03 23:29] GoldenJoe opened #493 "Wanted: specify distance/inset for a slide animation."
Sometimes you want to slide a view, but not have it come all the way from offscreen. For example:

// Slide in from 30pts to the right of the view's current position
view.animate(.slide(way: .in, direction: .left, distance: 30))
view.animate(.fade(way: .in))

// Slide in from 16pts to the left of the container view's right edge
view.animate(.slide(way: .in, direction: .left, inset: 16))
view.anima

[2017-06-04 15:01] phimage commented on #75
we could have a `jump(Double)` and a `jumpFlip(Double, Axis)`

----

A simple `jump` is a position translate with autoreverse

[code]

a flip is already implemented but we could implement one with  old api if necessarry
[code]

[2017-06-04 23:23] JakeLin commented on #493
Can you implement your requirement by using moveTo and moveBy APIs?

Sent from my iPhone

[2017-06-04 23:38] JakeLin commented on #75
Yes, if we have the new type for jump, then we can use it in IB. Otherwise, your solution is very straightforward when using in code 👍

I think the CAAnimation API is better for flip , please change it if you think it is better, thanks.

[2017-06-05 00:04] GoldenJoe opened #496 "Is there a way make percent-driven animations?"
When making interactive controller transitions, it's important to be able to interrupt and "scrub through" animations. It's not clear how to do this in the sample app, or if it's even possible.

Can this be interrupted? Can you set its progress manually?
mysubview.animate(.flip(along: .x))

[2017-06-05 13:05] JakeLin commented on #496
Yes, it's possible to use precent driven transition, use the animators via transition delegate , because IBAnimatable just extends UIKit. We can use those animators as the normal UIKit way. please have a look at https://www.raywenderlich.com/146692/ios-animation-tutorial-custom-view-controller-presentation-transitions-2

Sent from my iPhone

[2017-06-05 17:38] GoldenJoe commented on #496
Awesome. Thanks!

[2017-06-05 17:39] #496 closed, assigned to nobody

[2017-06-06 11:09] #121 closed, assigned to nobody

[2017-06-12 04:54] SD10 opened #500 "IBAnimatable Themes"
### IBAnimatable Themes
It would be nice to be able to set default values for IBDesignable classes without having to subclass.

### How?
I'm thinking we can add a property:
[code]
This would be the name of a `.plist` file to use for the configuration.
Then we could parse this file and apply all the values.

### Some limitations:
- Storing a `UIImage` -- actually, we could just use the IMG name
- C

[2017-06-13 00:54] JakeLin commented on #500
I thought about this but haven't found a way to set the default values within the protocol without doing it in subclasses. It will be great if we can do it. then we don't need to set a lot of `= CGFloat.nan`s

[2017-06-18 19:54] phimage commented on #500
I try something like that using a CSS parser (like 100mango/SwiftCssParser, ...)
but plist or json it's easier
to load file `Bundle(forClass: self.dynamicType)`

[2017-06-18 20:04] SD10 commented on #500
Thank you for sharing SwiftCssParser! I wanted to look at something like this!

[2017-06-18 20:11] dzamani opened #501 "[QUESTION] Custom logic during animation"
Hi,

I may have overlooked solutions and questions already in the issues but I think there isn't something like that. I was wondering if there was a way to add custom logic during an animation, for example take a UIView with some labels inside, I want a flip animation and when I flip I will switch the text inside the labels.

My current code (which is working) looks like this :
[code]

Of course I

[2017-06-18 20:14] phimage commented on #500
I play also with https://github.com/146BC/StyleKit, https://github.com/akane/Gaikan
but I want the result in storyboard editor, not at execution time

I try also to edit storyboard XML (by modifying https://github.com/krzyzanowskim/Natalie) to edit some attributes to make a "theme change"

[2017-06-18 20:17] SD10 commented on #500
@phimage Yeah, I've looked at [StyleKit](https://github.com/146BC/StyleKit).

I think having a "theme change" at execution time still provides value. However, like you, I want the result in the storyboard editor. It's not a simple task but I've been playing with it now and then

[2017-06-19 02:28] JakeLin commented on #501
@dzamani I can't figure out a way how can we change the text during the animation using IBAnimatable. If you would like to have this feature. What kind of API would you like to see? another closure in the chainable API? Thanks.

[2017-06-19 02:32] dzamani commented on #501
Yes a closure would be perfect as it would allow nearly anything.
An equivalent of the UIView.animate that would allow running code during the animation.

[2017-06-19 02:47] JakeLin commented on #501
@dzamani thanks, let's how can we improve it. We have some Core Animation as well. Since we already use `animate` method, can't find a good name for it 🤣

[2017-06-19 15:23] dzamani commented on #501
@JakeLin Adding 2 closures would be the perfect solution, one inside UIView.animate animations and one inside UIView.animate completion handler.
It would only take either some refactoring or another function definition for your API .animate

[2017-06-20 00:10] JakeLin commented on #501
@dzamani we are using chainable API, it will be a promise-like method. And we already have completion method for completion handler
[code]
how can we name the method to run one inside UIView.animate?

[2017-06-20 00:51] dzamani commented on #501
Well it's not the same behaviour, if the custom logic (switching text for example) was working with your completion handler I wouldn't need to user UIView.animate (like you can see in my example, the logic is inside the completion handler). If I use your completion handler, it switch way after the animation which  is not what I want.

For the name we could call it animationHandler or animationCall

[2017-06-20 06:24] tbaranes commented on #501
If I did understand well, you want another closure which will be called while the animation is running? Then, what about a `animationFired` or a name telling us that it will be called during the animation. Personally, I will have a hard time to differentiate the `completion` closure, and a `animationHandler` or `animationCallback` 🤔

[2017-06-20 06:59] JakeLin commented on #501
may call it like `.alsoRun{ label.text = "I am changing during the animation"}`

[2017-06-22 06:43] tbaranes opened #503 "Antialiasing on borders when using mask or cornerRadius"
Didn't find a solution yet, we may have to find a another way to draw our borders

[2017-06-23 03:24] JakeLin commented on #503
![screen shot 2017-06-23 at 1 21 31 pm](https://user-images.githubusercontent.com/573856/27465454-f74f8860-5816-11e7-9efb-26f4a780f0a6.png)

I don't see this problem and I am using the latest release version of IBAnimatable with a UIView (width: 240, height: 128, borderWidth: 10, maskType: .circle)

[2017-06-23 05:48] tbaranes commented on #503
Even when you run the app? I don't have it too in interface builder, only at runtime

[2017-06-26 12:08] tbaranes commented on #493
Closing due to inactivity, don't hesitate to reopen @GoldenJoe if you still have a question!

[2017-06-26 12:08] #493 closed, assigned to nobody

[2017-06-26 12:10] tbaranes opened #504 "Making an animation using several AnimationType"
For example:
- Fade out + moveTo
- Fade out + scale
- ...

Not sure how we can make this real in IBAnimatable 🤔

[2017-06-26 12:47] lastMove commented on #504
Nice one !
Would be fun to implement ;)

[2017-06-27 00:39] JakeLin commented on #503
![simulator screen shot 27 jun 2017 10 37 08 am](https://user-images.githubusercontent.com/573856/27565909-b073e6dc-5b24-11e7-8512-5d292fdd120c.png)

It looks alright for me too when I run it on the simulator Xcode Version 8.2.1 (8C1002) & Simulator iOS 10 iPhone 7.

[2017-06-27 06:50] tbaranes commented on #503
Ok, after a few tests directly in IBAnimatable, I've been able to reproduce it on iPad 2 and iPhone 6 simulators. I think it's 100% reproductible, but it will be visible only with a few colours (limitation of the eye? CALayer bug?). In my case, when setting a white background colour to the main view it was not visible, whereas with a dark background it was reproductible. I pushed `hotfix/border_al

[2017-07-01 20:15] SD10 commented on #503
I was looking into this but have to put it on the backburner for the moment. I just wanted to provide some context for record keeping.

The color bleeding through is the main views layer. The reason this is happening is due to the behavior of the `borderWidth` property of `CALayer`.

From Apple [documentation](https://developer.apple.com/documentation/quartzcore/calayer/1410917-borderwidth):
[code

[2017-07-01 20:22] SD10 commented on #500
@phimage If we use a `didSet` property observer in the `theme` property, won't this parse the stylesheet and apply the values to the storyboard editor?

[2017-07-02 09:45] phimage commented on #500
If you parse your own style sheet(in code or file using the good Bundle to read file) and apply directly to some view attributes, yes it will work on the current view
And if there is issue, you can try with `prepareForInterfaceBuilder`

[2017-07-07 06:11] jjjjjeffrey opened #505 "There is an mistake in v4.0, UITableView dose not have an outlet named delegate."
i find that v3.0 does not have the mistake.

<img width="1399" alt="2017-07-07 2 10 19" src="https://user-images.githubusercontent.com/4246681/27945172-0f05dee8-631e-11e7-8e76-c12db6f03708.png">

there is only one pod in the Podfile, and didn't include any other code in the project.
<img width="1512" alt="2017-07-07 2 23 57" src="https://user-images.githubusercontent.com/4246681/27945533-01d1f70a-

[2017-07-07 06:18] tbaranes commented on #505
I have no idea why is this triggered, but I don't think it's related to IBAnimatable. Do you have a sample project to reproduce your issue?

[2017-07-07 06:21] jjjjjeffrey commented on #505
@tbaranes you can create an new project, add only one pod IBAnimatable 4.0, drag an UITableViewController in the storyboard, the mistake will appear

[2017-07-07 06:30] tbaranes commented on #505
You are right, there is something off, it's also reproducible for `UITableView` 🤔

[2017-07-07 06:37] jjjjjeffrey commented on #505
@tbaranes Any magic in 4.0? 🌚

[2017-07-07 07:41] SD10 commented on #505
@jjjjjeffrey After building the project this error disappears for me. I can also access the delegate of `UITableView` with no autocomplete error or crashing on a force unwrap.

[2017-07-07 07:51] jjjjjeffrey commented on #505
@SD10 it's not work for me, what Xcode version did you used?

[2017-07-07 08:07] SD10 commented on #505
@jjjjjeffrey Sorry for the delay, I had to make sure I wasn't on Xcode9 beta.
I used 8.3.2 and this time the error didn't disappear but `UITableView` has a delegate property that is the `UITableViewController`. I tested this by putting a delegate method in for `didSelectRow(at:)` and nil checking the `tableView.delegate` property. Really strange behavior...

[2017-07-07 09:12] SD10 commented on #505
@jjjjjeffrey I think I've solved this in #506. Thank you for reporting this issue.

[2017-07-07 11:16] #505 closed, assigned to nobody

[2017-08-02 08:43] retsohuang commented on #341
Any update on this?

[2017-08-02 19:45] SD10 commented on #341
@retsohuang I'm not sure how this behaves in Xcode 9, but I still face this problem often in Xcode 8.

[2017-08-07 21:14] justbane opened #507 ".moveBy & .moveTo not working when result of action..."
Hi, having an issue with .moveBy and .moveTo... if I do something like this in viewDidLoad:

`metBar.animate(.moveBy(x: 100, y: 0), duration: (60 / metronome.getFrequency()) / 2, damping: 1.0, velocity: 1.0, force: 1.0)`

it works when the app loads - but if I do the exact same code within a function that is fired by a button... it fails.

`func moveMe() {
     metBar.animate(.moveBy(x: 100, y: 0)

[2017-08-07 23:27] JakeLin commented on #507
@justbane according to `Not only does it fail but from that point on NONE of the other animations work.` do you set up the view in IB or in code, if in code, do you call `configureAnimatableProperties()`?

[2017-08-08 00:23] justbane commented on #507
Hi Jake, I have created the View in interface builder but I am setting it's settings for the animation in code.
No I am not calling that function anywhere - I was not aware of that function.  Should I be if I have created the view and added it's constraints in interface builder or is this only shows that are added using addSubview?

[2017-08-08 00:53] JakeLin commented on #507
@justbane you can create the View in IB and set up the animation in code. Then you don't need to call `configureAnimatableProperties()`. Because you said noon of the animations works, I was thinking you created the View in code and didn't call `configureAnimatableProperties()`. Can you call `pop`, `shake` or some similar animations which don't change the position? I try to get some info what's hap

[2017-08-08 03:39] justbane commented on #507
Actually, yes... pop, shake and the "stationary" effects do work. If I add the code I mentioned above though they stop working.

[2017-08-08 03:45] JakeLin commented on #507
@justbane based on the code you posted above, I can't find out why I am sorry😞

[2017-08-08 03:48] SD10 commented on #507
@justbane I can't help much because I'm not that familiar with `IBAnimatable`'s animation API. However, if you were able to replicate this issue in a simple example project I would look into debugging it for you.

[2017-08-08 03:49] justbane commented on #507
OK, Ill see if I can replicate in a smaller basic proj... or maybe answer my own question :) I'll let you know how it goes!

[2017-08-12 21:01] SD10 commented on #507
@justbane I just wanted to follow up and see if you were able to resolve this issue?

[2017-08-13 00:38] justbane commented on #507
Hi @SD10 - I have not been able to replicate in a basic project but my project still has the issue. I am moving forward with a couple of other features and may return to the issue and dig a little deeper. I will close this out for now until I have more info.

Thanks for checking back!

[2017-08-13 00:38] #507 closed, assigned to nobody

[2017-09-08 09:04] tbaranes opened #508 "Radial gradient"
Would be great to support both gradient type: Linear AND Radial

[2017-09-09 02:39] JakeLin commented on #508
Good idea. `CAGradientLayer` on iOS doesn't support radial gradient, we need to draw it using `CGContextDrawRadialGradient` by ourselves.

[2017-09-09 14:57] ravi6880 opened #509 "Use in objective C"
I want to use it in objective c , how can i implement it ?

[2017-09-12 01:39] JakeLin commented on #509
@ravi6880 as we mentioned in [our Roadmap](https://github.com/IBAnimatable/IBAnimatable/blob/master/Documentation/Roadmap.md#technical-considerations), we don't want to avoid Swift features to support Objective-C. It is heavily using Swift features like `enum` with the pattern matching. `IBAnimatable` may support Objective-C, but not officially support.

Please let me know if you have any other qu

[2017-09-12 01:39] #509 closed, assigned to nobody

[2017-09-20 04:53] jalakoo opened #513 "Version 5 Release?"
Readme mentions using 5.x tagged releases with Xcode 9. But there are no such tagged releases or branches at this time. Are these planned releases or are they located in a different repo?

[2017-09-20 04:58] SD10 commented on #513
@jalakoo Sorry! We haven't had time to push a 5.0 release! We should be doing this ASAP.
For the meantime you can just use `pod IBAnimatable` which will pull the latest code from `master` and has Swift 4 & Xcode 9 support.

[2017-09-20 05:41] jalakoo commented on #513
Thanks @SD10, I'll just patiently wait as I'm one of the few non-Cocoapod fans out there.

For anyone else in the same boat: I'm temporarily using the source files in a framework target with Swift 3.2 specified. That way the rest of my project can still use Swift 4.

[2017-09-20 21:32] justbane commented on #513
I am not seeing a 5.x version available in Cocoa Pods... how might we pull that down?

Also changing the swift version in the pod target reduces the number of errors save for one...

/Pods/IBAnimatable/Sources/Protocols/Designable/PlaceholderDesignable.swift:23:84: Type 'NSAttributedStringKey' (aka 'NSString') has no member 'foregroundColor'

[2017-09-20 21:45] jalakoo commented on #513
If not using Swift 4, you will have to replace NSAttributedStringKey.foregroundColor with NSForegroundColorAttributeName.  Though that may start other issues, because the old attribute name was a string constant and the new .foregroundColor is an enum.

[2017-09-20 21:54] gkye commented on #513
Hey @justbane, the pod for 5.0 hasn’t been released yet, you can use
`pod 'IBAnimatable', :git => 'https://github.com/IBAnimatable/IBAnimatable.git'` to directly fetch from the master branch for now

[2017-09-21 01:20] JakeLin commented on #513
We have released version 5 https://cocoapods.org/pods/IBAnimatable 🎉 🎉 🎉

Please let us know if you have any problem, thanks.

[2017-09-21 01:20] #513 closed, assigned to nobody

[2017-10-05 10:55] ReFiRnE commented on #513
Type 'String' has no member 'foregroundColor'. still appearing for me, even though I have 5 version and I set compiler language Swift 4.0

[2017-10-12 10:59] phimage opened #515 "Issue when changing device orientation with modal view presented over context"
When changing orientation the `dimmingView` of `AnimatablePresentationController` keep the same frame
<img src='https://user-images.githubusercontent.com/8875768/31492673-6a772668-af4c-11e7-9d66-5dad012d1b74.png' >
<img src='https://user-images.githubusercontent.com/8875768/31492677-6be82574-af4c-11e7-8ec8-28ece77fe831.png' >

I have implemented a solution to fix but I make some change (I will PR)

[2017-10-15 19:39] #515 closed, assigned to nobody

[2017-10-15 20:15] phimage commented on #9
https://github.com/maxkonovalov/MKRingProgressView
https://github.com/skywinder/GaugeKit

[2017-10-18 06:01] phimage commented on #482
Change proposal approved here #517
Implementation of some mask here #518

[2017-10-20 06:00] phimage commented on #482
plus and drop #519

[2017-10-21 13:13] phimage commented on #482
![mask](https://user-images.githubusercontent.com/8875768/31852101-4681d21c-b672-11e7-865c-368c6d75cfcf.gif)

[2017-10-22 20:25] phimage commented on #508
![screen shot 2017-10-22 at 22 19 49](https://user-images.githubusercontent.com/8875768/31865912-2a814218-b777-11e7-8539-8b05026387e7.png)

Just some test by using a new `CALayer` class instead of `CAGradientLayer`
_Maybe an enum like `GradientMode` with `linear` or `radial` must created to select the good layer_

[code]
all the startPoint, endPoint etc... must be scale to the view frame.

[2017-10-24 11:45] #482 closed, assigned to phimage

[2017-11-07 08:39] quanguyen opened #522 "[CAAnimation] has no member moveBy"
Hi,

I just installed v5.0.0 from v4.x and got this issue:

<img width="917" alt="screen shot 2017-11-07 at 3 36 13 pm" src="https://user-images.githubusercontent.com/11938078/32484178-7b6a3390-c3d1-11e7-9d05-9ce3653d10cb.png">

Where:
`fileprivate let controller = AnimatableView()`

How should I fix this bug? (This code was working well in v4.x)

Thanks,

[2017-11-07 22:30] JakeLin commented on #522
@quanguyen `.moveBy` is `AnimationType` not `CAAnimation`. Can you have a look at `AnimationsTimingFunctionViewController`. It has an example using it, thanks.

[code]

[2017-11-08 02:39] quanguyen commented on #522
Thanks for the tip, Jake,

I notice that my previous code does not work due to `.then`. It should be modified to:

[code]

Is it true `.then` syntax is no more supported?

[2017-11-08 04:39] JakeLin commented on #522
@quanguyen it is still supported. Can you have a look at the playground file `Chaining Animations`

[code]

You can also change `AnimationsTimingFunctionViewController` like

[code]
I can't figure out why your one is not working 😞

[2017-11-16 21:54] chrisscholly commented on #341
Same here. On Xcode 9.1.

[2017-12-12 10:12] serjooo opened #523 "Interactive Presentation (Question)"
First of all would like to thank everyone who is contributing to this great open source project! It is a very handy one!

I was playing around with the interactive dismiss and all the presentations; however, was wondering what if I want to add an interactive presentation to another view controller while pushing/presenting. How would I go about it yet keeping the AnimatedViewControllers or Animated

[2017-12-13 00:08] JakeLin commented on #523
@serjooo currently, we already add some interaction to dismiss and pop. To use interactive presentation for push / present. We can use the components in `IBAnimatable` like the other normal UIKit components. The goal of `IBAnimatable` is to extend UIKit not rewrite or replace it. For example, `PortalAnimator` conforms to `AnimatedTransitioning`, they are the transition animators. And interactive a

[2017-12-13 04:05] gkye commented on #523
It seems all `UINavigationController`'s transitions are overriden once a `UIViewController` sets its `UIViewControllerAnimatedTransitioning` and from what I understand it seems the only way to have a custom transition while using `pushViewController` is to override these values. (All `UIViewController`s of your navigation controller will take on these transitions unless overridden again)
 I was fa

[2017-12-13 09:40] serjooo commented on #523
@JakeLin Thanks for the informative feedback. I did notice the interactive dismiss, and pop played around with it, checked out the code. Then I noticed an Enum `PresentationOperation` with the cases of `presentation, dismissal`. Saw that presentation was never used in any of the other classes, only the dismissal, thus guessing the interactive presentation was never implemented.

I did attempt at i

[2017-12-13 22:25] JakeLin commented on #523
@gkye If I understand that correctly, it is not an issue of `IBAnimatable`, This behaviour (only one transition effort for all transition within the same `UINavigationController`) is designed by UIKit. I remember we discussed that before when we implement `AnimatableNavigationController`. We keep this behaviour as UIkit. I think if we want to have different behaviour / transition effort, we can us

[2017-12-14 07:25] serjooo commented on #523
@JakeLin Oh alright, I follow now! Thank you for explaining! I will try to get that sample project up and running as soon as I can. Also will try to tackle the interactive present while I'm at it! Again much appreciated for your time and efforts!

[2017-12-14 07:25] #523 closed, assigned to nobody

[2017-12-15 00:31] JakeLin commented on #523
@serjooo cool, feel free to re-open or create another issue if you more thing want to discuss.

[2017-12-19 07:32] SMFakhir opened #524 "ViewControllerDesignable navigation bar glitch"
Hi,

Why we're not using the following method to show/hide navigation bar, the animated way?
`open func setNavigationBarHidden(_ hidden: Bool, animated: Bool)`

there is a glitch comes when using gestures to pop the view controller if we set the navigation bar hidden property

[2017-12-20 01:19] JakeLin commented on #524
@SMFakhir sorry, I don't quite get what you mean? do you suggest to use `setNavigationBarHidden(true, true)` when start popping and `setNavigationBarHidden(false, true)` to see the navigation bar again?

[2017-12-23 23:29] SMFakhir commented on #524
Yup, that's right.

Though there are some issues we get, like if the current and previous views both hides the navigation bar, then it gets glitchy. There is a way to track the navigation bar among views which can be implemented by ViewControllerDesignable, I'll think of something and raise a pull request.

[2017-12-26 02:49] JakeLin commented on #524
@SMFakhir If I remember correctly, this issue started on iOS 10. Please submit an issue and put more details. A PR will be better👍👍👍, thanks

[2018-01-03 01:34] cashmash opened #525 "Configure transition duration using segue"
Hi,

so how can I override the transitionDuration for the Slide Present Animation?

[code]

This does not seem to solve it, because that does not override the `segue.destination.transitioningDelegate` that is set in the lib. Any solution how to change the duration (without creating a custom segue)?

Custom Segue:

[code]

[2018-01-03 05:12] kodekarim commented on #525
@cashmash  you can change the slide duration from constants files of IBAnimatable, search for `Constants` file and alert the values of `defaultPresentationDuration`, `defaultTransitionDuration` according to your needs

[2018-01-03 12:59] JakeLin commented on #525
@cashmash thanks for bringing this question.It is easy to override the duration when we use it in code. Or as you said to create another custom segue like `PresentSlideFastSegue`. As @abdulKarim002 said, you can change the default duration by changing the `Constants`. I don't know any better way 😞. If you figure out one, please let me know.

When I designed those segues, I'd like to provide a supe

[2018-01-10 22:55] #508 closed, assigned to nobody

[2018-01-16 22:13] JakeLin opened #528 "IBAnimatable without Interface Builder"
Currently, we need to use the subclass like `AnimatableView`. If we can provide an extension property like `ib` to UIKit components, then we can use the properties from the protocols e.g. `Animatable`, `CornerRadiusDesignable` etc.  Then we can use this `ib` property to set the animatable or designable properties  like `view.ib.cornerRadius = 20` in code. `view` is a just pure `UIView` not `Animat

[2018-01-17 07:28] tbaranes commented on #522
@quanguyen Closing this due to the inactivity, don't hesitate to reopen it if you have another question!

[2018-01-17 07:28] #522 closed, assigned to nobody

[2018-01-17 07:30] tbaranes commented on #525
@cashmash @JakeLin I renamed the PR. Not sure if that's a realisable feature, but it would be interesting to dig in!

[2018-01-17 07:31] tbaranes commented on #524
Duplicate of #305 ?

[2018-01-17 22:27] JakeLin commented on #524
@SMFakhir can you close this issue and keep track on #305? Feel free to post anything if you have more ideas

[2018-01-17 22:29] JakeLin commented on #525
@tbaranes It looks like a limitation of Interface Builder, we can't do until Apple adds the support of it.

[2018-01-18 07:32] tbaranes commented on #525
Closing for now, will reopen it once Xcode allow us to do it.

[2018-01-18 07:32] #525 closed, assigned to nobody

[2018-01-19 07:56] tbaranes commented on #528
Support for `UIView`:
- Basics #529
- `BorderDesignable` #531
- `RotationDesignable` #532
- `ShadowDesignable` #533
- `BlurDesignable` #534
- `GradientDesignable` #535
- `MaskDesignable` #536

[2018-02-05 14:21] tbaranes commented on #528
Here a list of what's left once #536 is merged:
- Documentation: we need to clarify how we want to do it
- Demo app: is this necessary?
- Support of Animatable: that one is a hard one because everything is depending of `UIView`
- Extends `ib` to more types (BarButton, ...)

If anyone wants to pick one of these task, feel free to do it. I won't have time to work on these during the next weeks 😬

[2018-02-21 13:21] rscodra opened #537 "AnimatableTextField text not aligned properly"
If i create a textfield and make it, lets say approx. 40 in height the text will not be aligned properly. Choosing the vertical alignment options has some various effects, centering it (which is what i need) causes the text to be almost completely cut off (depending on the height of the textfield). Any known fix?

[2018-02-21 22:20] JakeLin commented on #537
@sambing thanks for reporting that. Do you use `AnimatableTextField` in code or IB? In the demo project, I change the height of the text field in the sign in screen. It looks OK, can you play around that one to apply your configuration? Will it have the same issue you mention?

[2018-02-22 02:26] taeyoung4808 opened #538 "how to present method in add animations?"
hi..

i have two storyboard, how to add in animations?
i can't use segment.

this is my code, i want "Explode" Animation..

`        let storyboard = UIStoryboard(name: "Alert", bundle: nil)`
`        let settingboard = storyboard.instantiateViewController(withIdentifier: "defaultAlert")`
`        self.present(settingboard, animated: true, completion: nil)`

sorry for my english level....

[2018-02-22 03:18] JakeLin commented on #538
@taeyoung4808 if you are not using Segue, I assume you are going to have `Explode` transition in code, you can use it in a normal UIKit way. Please have a look at this tutorial, https://www.raywenderlich.com/173576/ios-animation-tutorial-custom-view-controller-presentation-transitions-3 In the tutorial, there is a custom animator called `PopAnimator`, in `IBAnimatable`, we already create a bunch o

[2018-02-22 04:05] #538 closed, assigned to nobody

[2018-02-22 04:06] taeyoung4808 commented on #538
@JakeLin Thankyou!

[2018-03-10 15:11] lukas2 opened #540 "Animations start with delay even if delay is set to 0"
I have a more complex animation setup and I noticed that IBAnimatable animations are delayed by up to 3 seconds. After some digging I noticed that some layers' CACurrentMediaTime is NOT the same as CACurrentMediaTime called on the UIView object using the animation.

According to apple one should convert the media time from the layer itself. ( https://developer.apple.com/library/content/documentati

[2018-03-12 11:07] JakeLin commented on #540
Close because of #541  thanks again @lukas2 . Please let me know if you would like to contribute more on IBAnimatable and join us as a core contributor, I can send you an invite, thanks.

[2018-03-12 11:07] #540 closed, assigned to nobody

[2018-03-13 08:37] lukas2 commented on #540
@JakeLin Maybe in the future. Right now for me opting in to more work would be irresponsible. ;)

[2018-03-13 23:55] JakeLin commented on #540
@lukas2 no worries, please let me know if you would like to join in the future. Thanks again for your PR.

[2018-03-14 12:23] DanielAsher opened #543 "Consider a solution for Carthage users of Interface Builder with Live Views"
Hi,

I've been using  a clunky workaround to the issue of no Live View and `@IBInspectables` when using `IBAnimatable.framework` with [Carthage](https://github.com/Carthage/Carthage/issues/335). This required to include the IBAnimatable project within my workspace, to allow IB to build it for IBDesignables. Although this worked, it was frustratingly slow as IB built IBAnimatable many times when ed

[2018-03-14 15:52] #543 closed, assigned to nobody

[2018-03-23 13:27] tbaranes opened #545 "Zoom out animation is overriding default alpha"
For example: set a custom alpha to a view, then make a zoom out, the alpha will be back to 1 before executing the animation.

[2018-03-26 06:45] #545 closed, assigned to nobody

[2018-03-27 14:22] #504 closed, assigned to nobody

[2018-03-28 05:33] #452 closed, assigned to nobody

[2018-03-30 13:09] phimage opened #548 "Repeating gradient"
We could add easily repeating gradient

We can find the concept in css
https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_gradient-linear_repeating2
https://developer.apple.com/library/content/documentation/InternetWeb/Conceptual/SafariVisualEffectsProgGuide/Gradients/Gradient.html

We need for that the number of repetitions
We could add parameter to the `GradientMode` or I prefer to add

[2018-04-03 04:38] JakeLin commented on #548
TIL, great idea. I prefer to add an associated value to the enum since we provide similar API for Animtable and some other properties. But we need to handle the parsing careful to apply default `1` to not break the existing `@IBInspectable var _gradientMode: String?`.

@tbaranes any idea on the API interface?

[2018-04-08 09:17] weixianlove opened #550 "Use code to animate confused me"
I has four view in the viewController ,"left and right" are use IBAnimatable,"l and r" are use Spring. When I set the animate in the storyboard, they are almost the same. But when I set the animate by code, Spring maintain the animate, IBA can't work good。

` override func viewWillAppear(_ animated: Bool) {
        super.viewWillAppear(animated）

        left.animate(.slide(way: .in, direction: .r

[2018-04-09 04:32] JakeLin commented on #550
@weixianlove after you create the view in code, can you call `configureAnimatableProperties` to init the animatable properties?

[2018-04-09 04:56] weixianlove commented on #550
@JakeLin
`    var left: AnimatableView!
    var right: AnimatableView!

    override func viewDidLoad() {
        super.viewDidLoad()

        left = AnimatableView(frame: CGRect(x: 0, y: 80, width: 150, height: 150))
        left.center.x = view.center.x
        left.backgroundColor = .cyan
        left.configureAnimatableProperties()
        view.addSubview(left)

        right = AnimatableView(

[2018-04-09 05:01] JakeLin commented on #550
@weixianlove is it working now? When I worked on the lib, I was thinking more on Interface Builder. Since more and more developers are using `IBAnimatable` in code. I am thinking to call `configureAnimatableProperties` in `override init(frame: CGRect)` to set up the inspectable and animatable properties automatically.

[2018-04-09 05:04] weixianlove commented on #550
@JakeLin it not work as expected、、、and it worked very well on the lib...But sometimes I need use it in code ....

[2018-04-18 10:52] Raviojha62 opened #551 "cant set the placeholder of textview"
When i am trying to set the placeholder text of textview from code . its showing error
 cell.textView.placeholderText = "Test"
Error is Ambiguous use of 'placeholderText'

[2018-04-18 14:08] SD10 commented on #551
@Raviojha62 Please share your code so that we can better assist you

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-18 20:16] mthooyavan opened #552 "Failed to render and update auto layout status"
I am repeatedly getting this error on all the project storyboards where I uses IBAnimatable, I am not able to render the view.

file:///Users/thooyavan/Desktop/iOS/Channel/Storyboard/Base.lproj/Main.storyboard: error: IB Designables: Failed to render and update auto layout status for ProfileViewController (L9H-io-bch): dlopen(IBAnimatable.framework, 1): no suitable image found.  Did find:
	IBAnima

[2018-04-19 00:05] JakeLin commented on #552
@mthooyavan Are you using `IBAnimatable` via CocoaPods or other ways? Have you tried to restart Xcode? Or remove derived data in Xcode? Can you also have a look at #349 ? They are related.

[2018-04-19 00:06] JakeLin commented on #551
@Raviojha62 are you using another library which also has `placeholderText` property?

[2018-04-19 03:05] mthooyavan commented on #552
Hi,

I am using cocoapods, and yes I tried restarting the XCode, I tried clearing the DerivedData folder and then starting the Xcode, when I do that the layout is rendered but fails to auto update and that too for a very short period of time, which until the initial build by Xcode is completed, once the build is completed the layout rendering fails.

IBAnimatiable version : 5.0.0

&

Xcode Version

[2018-04-19 03:25] mthooyavan commented on #552
Hi, tried the resolve in the post #349 but it doesn't solve the issue, Kindly help me out with the same.

[2018-04-19 04:34] JakeLin commented on #552
@mthooyavan looks like an Xcode 9.3 issue for using `IBInspectable`. Can you see some crash report under `~/Library/Logs/DiagnosticReports` like `IBDesignablesAgentCocoaTouch_*.crash`? I can't see them, it makes me very hard to troubleshoot the issue. If you have those reports, can you have a look and post some useful info here?

[2018-04-19 04:44] mthooyavan commented on #552
I am unable to find those crash logs as I just cleaned everything to try a temporary workaround by downgrading the cocoapods.

Issue seems to be with the Xcode 9.3 update and also Cocoapods 1.5.0

Temporary Workaround is to downgrade the cocoapods to 1.4.0. After the downgrade, restart Xcode, reinstall pods, clean the project and rebuild it. This resolves the issue for now as a workaround.

For yo

[2018-04-19 04:52] JakeLin commented on #552
@mthooyavan thanks, I will keep an eye on this issue.

[2018-04-19 05:30] Raviojha62 commented on #551
No[
<img width="924" alt="screen shot 2018-04-19 at 10 59 11 am" src="https://user-images.githubusercontent.com/11419103/38972908-dccc104e-43c0-11e8-8e31-fd159f412ec0.png">
<img width="1111" alt="screen shot 2018-04-19 at 10 59 50 am" src="https://user-images.githubusercontent.com/11419103/38972910-de4222c4-43c0-11e8-9674-9d9452c69be8.png">

](url)

[2018-04-19 05:31] Raviojha62 commented on #551
i have created a custom tableview cell in which i have put a textview animatableTextView
Other property works except placeholder

[2018-04-19 07:07] JakeLin commented on #551
@Raviojha62 interesting, I don't know why, can you please provide a sample project if possible. Or can you create a method like `setPlaceholderText(text: string) { placeholderText = text }' to get around this issue?

[2018-04-20 07:44] ignivashiju commented on #513
Hi team,

In XCode 9.3, i am not able to use IBAnimatable pods. It throw errors. Please check the attached screenshot for same. I am using version swift 4.1. Any suggestions?

![screen shot 2018-04-20 at 1 06 46 pm](https://user-images.githubusercontent.com/16932010/39036843-68455bfe-449c-11e8-8adb-f5e72efcde95.png)

[2018-04-20 08:00] SD10 commented on #513
@ignivashiju Can you please open a separate issue to track this?

[2018-04-20 08:02] SD10 opened #555 "Update IBAnimatable to Swift 4.1"
We should consider doing a release updating to Swift 4.1 and Xcode 9.3

[2018-04-20 08:50] ignivashiju commented on #513
sure!!

[2018-04-20 08:52] ignivashiju opened #556 "IBAnimatable Storyboard issue"
In XCode 9.3, i am not able to use IBAnimatable pods. When i opened Storyboard, It throw errors. Please check the attached screenshot for same. I am using version swift 4.1. Any suggestions?

![screen shot 2018-04-20 at 1 06 46 pm](https://user-images.githubusercontent.com/16932010/39041291-1bd05d00-44a6-11e8-9ba5-ed996d435fb9.png)

[2018-04-20 12:13] JakeLin commented on #556
@ignivashiju Could you please have a look at #552? there is a known issue of CocoaPods [IBDesignable not works with the frameworks which links with CocoaPods' framework.](https://github.com/CocoaPods/CocoaPods/issues/7606) . There is a walkaround you can use for now, thanks

[2018-04-20 13:38] phimage commented on #461
One way to resolve this issue is to pin an other view and copy the attributes

For instance for FillDesignable and CornerDesigable

[code]

<img width="385" alt="screen shot 2018-04-20 at 15 38 16" src="https://user-images.githubusercontent.com/8875768/39054049-e81951c8-44b0-11e8-9d62-7672a3f52a41.png">

[2018-04-20 19:36] SD10 commented on #461
@phimage I’m pretty sure I read in the Apple docs that `UIStackView` is not meant to be styled, which is why it has this behavior. I also think adding another view could surprise some users 🤔

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-21 03:53] #555 closed, assigned to nobody

[2018-04-21 03:58] JakeLin commented on #461
@phimage thanks for investigating that. I agree with @SD10 we probably keep the default behavior. We may add a comment to `AnimatableStackView` to let the user know we keep the default behavior then there is a way to support background color with a custom sub-class as you provide above. How do you think?

[2018-04-21 04:04] JakeLin commented on #555
@SD10 have you created a release for `INAnimatable` before? Could you like to give it a go? https://github.com/IBAnimatable/IBAnimatable/wiki/How-to-release-a-new-version

[2018-04-21 04:17] SD10 commented on #555
@JakeLin I don't have access to CocoaPods trunk for IBAnimatable.

BTW, we may want to look at automating the release process with something similar to [Moya's Rake script](https://github.com/Moya/Moya/blob/master/Rakefile) in the future.

It updates the podspec, updates the CHANGELOG, creates the release tag, and all that fun stuff automatically.

[2018-04-21 04:19] phimage commented on #461
Yes I agree. Some doc and the issue could be closed.

The default way to do in storyboard is to add a view then inside a stackview

[2018-04-21 04:20] SD10 commented on #461
I think we should just remove the `FillDesignable` protocol from `UIStackView` since it has no effect.

https://github.com/IBAnimatable/IBAnimatable/blob/390f2691dd996f4af18d842eed3e4220892e0e69/Sources/Views/AnimatableStackView.swift#L10

I can submit a PR if you like

[2018-04-21 04:21] phimage commented on #461
Not only FillDesignable

[2018-04-21 04:25] SD10 commented on #461
This is true, anything that relies on `drawRect()` wouldn't work. So we would have to remove everything other than `Animatable` and `RotationDesignable` but I'm not sure for certain if those two work either.

[2018-04-21 04:40] JakeLin commented on #555
@SD10 I can grant you the access to CocoaPods trunk, please give me your account if you would like to. Let me have a look at Moya's script, can we do it in Swift? Although we already use Ruby like CocoaPods.

[2018-04-21 04:52] SD10 commented on #555
@JakeLin I'm not sure about using Swift, but I don't think so. I can look into it when I have more time. My CocoaPods trunk email is [removed]

[2018-04-21 05:00] JakeLin commented on #555
@SD10 you are the owner now, you can delete the pod and run away 🤣

[2018-04-25 07:52] ignivapriya commented on #556
After removing IBAnimatable framework my code runs fine.please don't use this library in xcode 9 and above otherwise u are going to face a lot of difficulties

[2018-04-25 07:59] SD10 commented on #556
@ignivashiju Sorry to hear you are experiencing difficulties. Can you try adding this to your podfile?
[code]

[2018-04-26 00:13] JakeLin commented on #556
@ignivashiju @ignivapriya please have a look at this comment https://github.com/CocoaPods/CocoaPods/issues/7606#issuecomment-380134668 Downgrading CocoaPods to 1.4 works for most of the people. Hope that can help. Sorry for the inconvenience.

[2018-05-14 07:43] tbaranes opened #564 "`timingFunction` not working for spring animations"
All animations using `UIView.animate` doesn't apply the timing function factor. Is there a reason for that?

[2018-05-14 11:32] phimage commented on #564
Some parameters are for spring, others for cubic animations

at the beginning I think timing function is for cubic only
but recently I have made a secret move by adding `viewAnimationCurveOption` to `AnimationConfiguration` - not all timing functions are supported, only the well known ones

If some cubic animation do not use a timing function, it is a mistake

[2018-05-14 12:11] tbaranes commented on #564
Looking at the code for `zoom` animation, I can't see anything related to timing function. I understand that all of them won't be supported, but at least the basic ones?

[2018-05-14 14:05] phimage commented on #564
zoom is spring and use `animateIn`

and since my "secret" move, use `TimingFunctionType.viewAnimationCurveOption` in `configuration.options`

the basic one are : linear easeIn easeOut easeInOut (cf. UIViewAnimationOptions curveXXX  or UIViewAnimationCurve)

[2018-05-14 14:16] tbaranes commented on #564
I'm not sure I get the conclusion, is it expected that`zoom` isn't supporting timing function? Even `linear`, `easeIn`... ?

[2018-05-14 14:22] phimage commented on #564
I think that `zoom` support (linear easeIn easeOut easeInOut) now since I add `configuration.options` in `animateIn`
eb695c3ec7fe5e0c9f52c0e6ac732c041650cb6a Animatable.swift

but maybe this doesn't work. I do not verify with my eyes

then I think in demo app you cannot change select a timing function, because I show the timing function button only for cubic animation, but I can edit that and show

[2018-05-14 15:28] tbaranes commented on #564
Got it, I will update IBAnimatable tomorrow and will give it a try!

[2018-05-14 15:36] phimage commented on #564
If it's works, I will make a PR on demo app (to close this issue)

[2018-05-15 13:56] tbaranes commented on #564
Alright, I give it a try, but it doesn't seem to be working (tried with zoom)

[2018-05-15 14:13] phimage commented on #564
here this old code use UIViewAnimationCurve, not UIViewAnimationOptions
https://medium.com/@RobertGummesson/a-look-at-uiview-animation-curves-part-1-191d9e6de0ab

So in debug I see that I set the option to UIView.animate

Maybe we need additional options
**.overrideInheritedCurve**, .overrideInheritedOptions, .overrideInheritedDuration

maybe do not work also if using velocity and/or damping

[2018-05-21 08:15] phimage commented on #548
New idea, when repeating have an odd numbers of colors, with last colors same as first colors
See #567 for smooth conic gradient

[2018-05-22 05:03] phimage commented on #564
very strange api
using debugger

- .curveLinear = [.curveEaseInOut, .curveEaseIn, .curveEaseOut]
- .curveEaseInOut = [.curveEaseInOut]
- curveEaseIn = [.curveEaseInOut, .curveEaseIn]
- curveEaseOut = [.curveEaseInOut, .curveEaseOut]

the code I test

[code]

[2018-06-01 18:49] DanielAsher opened #568 "Storyboard Assistant Preview does not render animatable view correctly"
This is probably an Xcode bug, but views with custom `instrinsicContentSize`, `draw`, `drawText` etc are not rendered correctly in the Storyboard Assistant Preview window. Simply opening the window in the example `IBAnimatableApp` shows the problem.

Does anyone have information or a workaround for this?

Feel free to close the issue if there is no experience with this editor window (very useful f

[2018-06-02 04:00] JakeLin commented on #568
Thanks @DanielAsher I hope after WWDC, the new version of Xcode will fix that. And I am thinking to add the`init` function to get around this issue.

[code]

[2018-06-02 11:58] DanielAsher commented on #568
Thanks @JakeLin for your quick response. Perhaps filing duplicate radars could help. Let's spread the work. Simply copy [the open radar]( https://openradar.appspot.com/radar?id=5002444492767232) to a new issues here: [https://bugreport.apple.com/web/](https://bugreport.apple.com/web/)

I think the IBAnimatable community is very well placed to provide the force to get this fixed.

[2018-06-02 12:13] DanielAsher commented on #568
@JakeLin - could you elaborate on the `override init` workaround?
Would this be required in addition to the bug fix from Apple, or could this work regardless?

[2018-06-03 00:56] JakeLin commented on #568
@DanielAsher I tried it before. Some of them started working. But not all of them, I have a branch for it. But I am not sure, without Xcode updates, our changes can fix all of those issues or not? It's very annoying 😞

[2018-06-07 10:40] DanielAsher commented on #568
@JakeLin and others - has anyone tried the Xcode 10 beta to see if this has been fixed?
If not, perhaps adding the radar / open radar link to README.md could be an effective way to push this request forcefully to Apple

[2018-06-07 12:18] JakeLin commented on #568
@DanielAsher no, I haven't, very busy these days 😞

[2018-06-22 05:39] jonathansolorzn opened #569 "Change transition background"
Hello,

Is there any possible way to change the background color when transitioning from one controller to another via segue?

Currently it displays a black background, but it kinda feels like _old_ for modern apps.

It would feel a more personalized experience, also, is it possible to have a gradient background while transitioning?

Thanks.

[2018-06-24 16:21] feixue299 opened #570 "Problems with my first installation"
![694b6acd-5101-472d-9616-22b8b0930d65](https://user-images.githubusercontent.com/12168109/41821109-61af49c6-780e-11e8-8461-d02476dd52cd.png)

![89b5cef8-5b86-4010-bec1-34255acd60b0](https://user-images.githubusercontent.com/12168109/41821052-8f6a13ce-780d-11e8-8d85-658904094f76.png)
What should I do?

[2018-06-24 16:29] feixue299 commented on #570
find it

[2018-06-24 16:29] feixue299 commented on #570
find it

[2018-06-24 16:30] #570 closed, assigned to nobody

[2018-06-27 21:54] phimage commented on #564
I know why this doesn't work

curves in `UIViewAnimationOptions` do not work with
`UIView.animate(withDuration:,  delay:, usingSpringWithDamping:,  initialSpringVelocity:, options:, animations:, completion`

because `damping` and `velocity` already describe the timing function (a spring one)

I could see effect of options using
`UIView.animate(withDuration:,  delay:, options:, animations:, complet

[2018-06-28 05:31] JakeLin commented on #569
@felixsolorzano if you are using the segues, we don't support custom background yet 😞

[2018-06-28 12:30] #564 closed, assigned to nobody

[2018-06-28 12:39] phimage commented on #569
@JakeLin black color is used somewhere by segue transition or the black means there is no view?

ps: since there is color in asset, if somewhere we use black as default color, we could use instead `UIColor(named: "IBColorForXXX") ?? .black`

[2018-06-29 00:55] JakeLin commented on #569
@phimage If I understand correctly, not all the transitions can see the background black color, only some of them like `flip`. `fade` won't' see. It is from default iOS app `window.background`. There is a way to change it. But not customizable from `IBAnimatable` lib.

We can set the `window?.backgroundColor` to any color. Then during the transition, we will see the color. Also, we can change it b

[2018-06-29 08:10] JqyModi opened #572 "Set the Animation Type with parameters through XIB"
Set the Animation Type with parameters through XIB, for example: slide(way: way, direction: direction)

[2018-07-02 13:03] serjooo opened #574 "Make AnimatableButton GradientDesignable"

[2018-07-13 10:33] edon2005 opened #577 "NatGeo change center"
HI,

First of all thanks for great framework that you develop.

I found a bug(?) in transition netGeo.

in file ```NatGeoAnimator.swift``` in function ```executeLeftAnimation``` you have  such lines:
[code]
these change center of uiview. and when we make dismiss, the center of fromView is changed. And it is not get back to right position. And this call a problem of using another part of applicatio

[2018-07-13 11:34] edon2005 commented on #577
#578

[2018-07-13 21:54] #577 closed, assigned to nobody

[2018-07-14 12:32] JakeLin commented on #577
Thanks @edon2005 , great work

[2018-07-14 16:07] edon2005 commented on #577
👍

[2018-07-17 03:45] JakeLin commented on #572
@JqyModi sorry, I didn't see your message, please have a look at https://github.com/IBAnimatable/IBAnimatable/blob/master/Documentation/IBAnimatable%203.0%20Migration%20Guide.md#changes-for-animationtype thanks

[2018-07-17 21:05] edon2005 opened #579 "Crash on transition in childViewController"
Hi guys,

To have a transition in my app I use next code:
[code]
Mostly ```self.rootViewController.childViewControllers.first``` is UINavigationController.
So when the animation try to be executed it is crashed.
Transition animation that crashed:
Portal

```UIViewControllerHierarchyInconsistency', reason: 'child view controller:<UINavigationController: 0x7fd3dd032800> should have parent view contr

[2018-07-23 01:01] jonathansolorzn opened #581 "How to code transitions?"
I can't find documentation to code the transitions, could you provide an example?, I don't really use segues, I use the coordinator pattern in order to manage my controllers under a navigation controller.

[2018-07-23 09:48] tbaranes opened #582 "Compability to use custom border sides and custom corner sides together"
In the current implementation, if we set custom corner sides to `CornerDesignable`, we can't use custom border's sides, it fallback automatically to all sides.

[2018-07-23 13:29] jigneshD11 opened #583 "Overlapping accesses Error on Swift version 4.1"
Getting Error Overlapping accesses to 'radius', but modification requires exclusive access; consider copying to a local variable in UIBezierPathExtension line number 246. I am using latest release (5.1.0).

<img width="864" alt="screen shot 2018-07-23 at 6 55 22 pm" src="https://user-images.githubusercontent.com/40355857/43079350-814cafa0-8eaa-11e8-8545-c7117a1f756b.png">

Please refer above Image

[2018-07-23 23:43] JakeLin commented on #582
There are a few of options we may be able to fix it.

1. Call `configureCornorRadius` after `configureMask` to let the corner radius takes the priority. And they can't share the same shape layer.
2. Remove the corner radius support from `Mask`.
3. Something may be better but I don't know, I hope that exists.

How do you think @phimage I know you like the feature of putting corner radius within the

[2018-07-24 06:02] phimage commented on #582
I didn’t look at the code but why mask could interfere with border side ?

Mask and cornerdesignalble are incompatible but If the mask is none, I expect we do not remove the layer or change layer path (using private subclass type)

[2018-07-24 06:46] tbaranes commented on #582
@phimage It interferes because we are using `mask.path` to draw the border instead of using the border's sides path. The main reason for that was too keep the chosen mask, but it has its limitations.

Here the exception following if we have a mask or not: [BorderDesignable](https://github.com/IBAnimatable/IBAnimatable/blob/master/Sources/Protocols/Designable/BorderDesignable.swift#L60)

@JakeLin I

[2018-08-01 18:01] bharath-dev opened #584 "inaccessible due to 'private' protection level"
Recently I updated the cocoa pod and once updated I face the following issue.
![screen shot 2018-08-01 at 11 27 30 pm](https://user-images.githubusercontent.com/16458195/43539608-fc3cb680-95e2-11e8-9d2c-536805bd26dc.png)
What could be the possible reason and how can I clear this issue ?

[2018-08-01 21:34] SD10 commented on #584
@bharath-dev Where is that code located? These APIs are marked as `private` now.

Can you provide your `IBAnimatable` version & Swift version?

[2018-08-12 02:22] 1amageek commented on #552
Same issues

[2018-08-23 10:48] exocode commented on #584
have the same errors:

IBAnimatable 5.1.0

[2018-08-23 12:06] exocode opened #585 "'Style' is not a member type of 'UIBlurEffect'"
Hi there,

I just tried to rebuild an old app using  `IBAnimatable 5.1.0`

How to solve that?

[code]

[2018-08-23 23:21] JakeLin commented on #585
@exocode which `IBAnimatable` did you use before, we have upgrade the library for a few times. There are some migration document in https://github.com/IBAnimatable/IBAnimatable/tree/master/Documentation, please have a look

[2018-08-24 05:17] exocode commented on #585
@JakeLin I used 4.2 before

[2018-08-27 15:34] peteallport opened #586 "AnimatableTextField breaks insets/leftView"
Setting a `leftView` of an `AnimatableTextField` or trying to specify insets otherwise is broken and does not produce the desired leading/trailing padding.

[2018-09-06 13:49] tbaranes commented on #585
I'm getting the same issue using the master version, but I didn't have it before updating, probably getting it because I'm still using swift 4.1
Since I don't have Xcode 10 yet, I don't really know what is the good fix. @djbe any idea?

[2018-09-06 15:16] djbe commented on #585
Can you check if `Sources/Common/SwiftSupport.swift` is part of your project (in your pods directory)? The alias is defined there.

[2018-09-06 15:32] djbe commented on #585
I just tried `pod try https://github.com/IBAnimatable/IBAnimatable`, and it works without issues in both XCode 9 and 10.

[2018-09-07 11:29] #583 closed, assigned to nobody

[2018-09-13 10:09] learnwithgabbar opened #587 "CODE IS BREAKING ON XCODE 10 GM WITH SWIFT 4.2"

[2018-09-13 14:00] tbaranes commented on #587
Did you try on master? Swift 4.2 was supported by #576

[2018-09-18 22:29] #587 closed, assigned to nobody

[2018-09-21 05:07] #585 closed, assigned to nobody

[2018-09-26 07:26] angelinec opened #591 "Version 5.2.0 pod install idle"
<img width="850" alt="screen shot 2018-09-26 at 3 14 42 pm" src="https://user-images.githubusercontent.com/9972417/46063579-d60df580-c19f-11e8-9e53-812f1dab2645.png">
I was stuck at the above process for 10mins and counting. So I terminated the process and pod installed version 5.1.0 instead and no problem encountered. Someone please look into this.

Thank you.

Xcode 9.4.1
Cocoapods 1.5.0

[2018-09-26 23:42] JakeLin commented on #591
@angelinec have you tried to install the master? it maybe relagted to #590, I was on leave and will make a release 5.2.1 soon, thanks.

[2018-10-03 15:12] SerjPridestar opened #593 "Header 'IBAnimatable-Swift.h' not found after pod install for multiple targets"
## Expected Behavior
The IBAnimatable-Swift.h header should be found and project should compile.

## Current Behavior
After I converted my project to Swift 4.2 on Xcode 10 using the latest version of IBAnimatable (5.2.1), the project fails to compile. It informs be that it can not find the header IBAnimatable-Swift.h. Also it informs me that `Could not build Objective-C module 'IBAnimatable'`.

At

[2018-10-03 16:43] retsohuang commented on #551
BTW, It's okay to rename placeholderText to placeholder to align UIKit's naming convention? Or you have another consideration?

[2018-10-04 09:00] phimage commented on #593
$(SWIFT_MODULE_NAME)-Swift.h is set in "Objective-C Generated Interface Header Name"

[2018-10-04 09:15] phimage opened #594 "Variation on IBEnum?"
Just want to discuss about a potential feature.

Unfortunately I think we cannot do "Trait Variation" for "User Defined Runtime Attributes"
So when we define something, it is for all ipads and iphones

I make a little PoC using `NSDataAsset`, that can be variated

A data asset named mask
<img width="926" alt="screenshot 2018-10-04 at 11 05 14" src="https://user-images.githubusercontent.com/8875768

[2018-10-04 10:57] SerjPridestar commented on #593
@phimage can you please elaborate with what you mean by that?

[2018-10-04 12:01] phimage commented on #593
One of the reason to not have the interface generated is to have nothing in "Objective-C Generated Interface Header Name"
<img width="658" alt="screenshot 2018-09-19 at 08 22 25" src="https://user-images.githubusercontent.com/8875768/45734633-76cf4480-bbe5-11e8-9ebd-81732d954e54.png">

For head code in IBAnimatable there is no issue, $(SWIFT_MODULE_NAME)-Swift.h is set

I do not use Cocoapod so I

[2018-10-04 12:04] SerjPridestar commented on #593
@phimage Thank you very much for the clarification! I'll take a look now and see what I can do about it.

[2018-10-04 12:22] SerjPridestar commented on #593
Just for reference, I had rolled back to my previous working commit, and now reproduced the pod install and everything. I didn't get the same error; however, I did get this error for IBAnimatable where `UIApplication.shared` was being used"

`shared' is unavailable: Use view controller based solutions where appropriate instead`

The solution to that problem is to go to your pods --> IBAnimatable T

[2018-10-04 12:22] #593 closed, assigned to nobody

[2018-10-15 11:15] RiyanFransen opened #595 "Broken link documentation AnimationType"

[2018-10-15 23:00] JakeLin commented on #595
Fixed by 2ac44b1d9d6b7075969ec0f1ad2aaf9e3eac759b can you check @RiyanFransen , feel free to re-open this issue if you think there is not fixed, thanks

[2018-10-15 23:00] #595 closed, assigned to nobody

[2018-10-15 23:10] JakeLin commented on #594
@phimage Sorry, I didn't see your issue before, add another `case` is a great idea to support traits. Is it possible to add a `case` to support `UITraitCollection` and the original `MaskType`, then we can do it in the code without another asset file? That may help the users use it easier. And BTW: your example looks very good 👍

[2018-10-15 23:11] JakeLin commented on #591
That should be fixed by [release 5.2.1](https://github.com/IBAnimatable/IBAnimatable/releases/tag/5.2.1) , feel free to re-open it if you think it's not fixed.

[2018-10-15 23:11] #591 closed, assigned to nobody

[2018-10-15 23:15] JakeLin commented on #581
@felixsolorzano can you have a look at https://github.com/IBAnimatable/IBAnimatable/issues/523#issuecomment-351237405 and the relative issues, let me know if you need anything else, thanks.

[2018-11-05 21:44] hcole123 opened #598 "Command CompileSwift failed with a nonzero exit code"
<img width="651" alt="screen shot 2018-11-05 at 4 44 12 pm" src="https://user-images.githubusercontent.com/30845745/48028671-1c009680-e11a-11e8-940d-00c26cef732f.png">

[2018-11-26 08:29] happts opened #599 "compile error in Xcode 9.0"
/Pods/IBAnimatable/Sources/Protocols/Designable/BlurDesignable.swift:71:18: Value of type '[UIView]' has no member 'compactMap'

[2018-11-26 09:05] happts commented on #599
[code]

[2018-11-26 22:25] JakeLin commented on #599
@happts which Swift version are you using if you use an older version, can you check out the old version of `IBAnimatable` in the release too

[2018-11-27 01:58] SD10 commented on #599
@happts I think IBAnimatable 5.0 is the last version compatible with Swift versions 4.0 and below

[code]

If you want to use the latest version of IBAnimable, try adding this to your podfile:
[code]

[2018-12-09 12:27] hanpan1935 commented on #552
Same issues

[2018-12-21 16:12] jonathansolorzn opened #600 "How could I set a corner radius to a Polygon mask image view?"
I'm using an `AnimatableImageView` and I set the border width to 15 points, how could I make the corners rounded?

[2018-12-29 00:47] anas10 opened #602 "Shadow layers added indefinitely"
When I update the constraints on a view programmatically, the shadowLayer of the old frame is still there.
Every time, the view is updated to a different frame, a new CALayer is added.

Steps to reproduce:

- Create a view with autolayout constraints
- Set a shadow via IB
- Update a constraint (i.e. height of the view to make it smaller)
- You will have the shadow correctly applied but the layer f

[2018-12-29 11:41] JakeLin commented on #602
@anas10 thanks for reporting that issue, I didn't know `Unmanaged.passUnretained(self)` returns the value including the frame. The fix would find a way to return a value with the object address like `0x7fb35c86a800`. But I haven't found a way to do it yet. Would you like to investigate the as well? thanks

[2018-12-30 03:32] JakeLin commented on #600
@felixsolorzano currently, the Polygon doesn't corner radius yet.

[2018-12-30 19:21] jonathansolorzn commented on #600
Ok, is it possible to set different colors to each polygon side?

[2018-12-30 23:45] JakeLin commented on #600
@felixsolorzano we don't have that feature either yet 😭

[2019-01-10 14:17] #404 closed, assigned to nobody

[2019-01-10 14:18] #568 closed, assigned to nobody

[2019-02-02 19:34] anas10 commented on #602
I did some investigation and found out when it was not working.
What I said above may not be the reason.

It fails if you set both the shadow and a corner radius along with corner sides.

I've created a failing example to demonstrate that here: https://github.com/Threestup/IBAnimatable

Run the app > Playground > User Interface -> Shadow

I did not see an obvious solution straight away and I canno

[2019-02-03 12:06] JakeLin commented on #602
@anas10 thanks for investigating this issue, if we change the code like
[code]

and don't add `-\(Unmanaged.passUnretained(self))` to do name, will it fix the problem?

[2019-02-03 18:05] anas10 commented on #602
Already tried that and it seems like that is not the issue. The frame doesn't seem to impact actually and the shadow is removed properly.

The issue only happens if you also set corners with sides on the view. And this code is called: https://github.com/IBAnimatable/IBAnimatable/blob/997eb2fa2e2d0087869bd8879c199eb1c5cb70b9/Sources/Protocols/Designable/CornerDesignable.swift#L68-L84

If I set the

[2019-02-04 00:55] JakeLin commented on #602
@anas10 thanks, I think you spot on. We should not remove all layers from the view. We need to remove the layers with the name `cornerSideLayer ` like

[code]

[2019-02-04 01:41] anas10 commented on #602
The code you are suggesting won't work in this case as the corner side layer is only a mask that is applied not a layer added to the superlayer.

Anyway, I manage to find a "quick & dirty" fix that works for my use cases.

You can have a look here: https://github.com/Threestup/IBAnimatable/commit/4e01c14420c96900d509cb7b835a26f6769dd531

I don't have much time to try more cases for now, unfortunat

[2019-02-04 03:05] JakeLin commented on #602
@anas10 thanks, I got it, you hide them instead of removing them.

[2019-02-08 05:11] Genhain opened #604 "[Question] Able to change label text partway through animation"
Is anything like this possible in IBAnimatable?

    UIView.transition(with: self.cameraMessageLabel,
                                  duration: 0.25,
                                  options: [.transitionCrossDissolve],
                                  animations: {
                                      self.cameraMessageLabel.text = "Recognizing".localized()
                }) { _ in

[2019-02-12 12:40] tbaranes commented on #604
We currently has no support for text animations, but as you said #501 would be a nice way to let the user more animations when running one. Still, no one started any development on this, so...

[2019-02-13 10:20] Genhain commented on #604
ah...

Currently trying to meet a deadline, and i plan to add IBAnimatable to the project soon, so if it's still a pending item by then i'll give it a crack

[2019-02-13 10:20] #604 closed, assigned to nobody

[2019-03-01 06:51] snaillovesmile opened #605 "如何在modelPresent一个控制器的时候自定义IBAnimatioin.animationView的背景色"
![ae25f7e8f8d5edff72950acadc71fc99](https://user-images.githubusercontent.com/33648940/53621413-64941080-3c31-11e9-82da-7f6fa5f877ef.png)

[2019-03-01 07:04] #605 closed, assigned to nobody

[2019-03-03 22:41] JakeLin commented on #605
@SnailLoveSmile 你找到解决方法了吗？可以通过 `AnimatableModalViewController.backgroundColor` 来设颜色。

**English translate**
Have you found a solution for it? you can set the background color via setting `AnimatableModalViewController.backgroundColor` . Please let me know if you have any qustions, thanks

[2019-03-05 01:23] snaillovesmile commented on #605
嗯嗯, 已经好了,谢谢坚哥于百忙之中给与的帮助

[2019-03-06 15:11] serejaonly opened #606 "Chaining doesn't work at all"
![image](https://user-images.githubusercontent.com/33960459/53891175-d8bc2300-403a-11e9-8cbf-1716020d172d.png)

May be i made something wrong, but inserting ".then"-line changes nothing

I need to hide the view after moving smoothly

[2019-03-08 13:05] miledaoun opened #607 "CALayerInvalidGeometry CALayer position contains NaN: [nan 11]"
Is it possible to remove the NaN default values from the classes. Each time I import the library I have to reset them to valid values so that when initializing it, it does not crash.

[2019-03-09 00:29] JakeLin commented on #607
Because we can't apply a default value to the properties within the protocol extension, if you create the Components programmatically, you can call `configureInspectableProperties` and `configureAnimatableProperties` to apply the default values. Please let me know if you have any questions, thanks

[2019-04-10 09:15] mohamadrezakoohkan commented on #451
i founded this in line 18 of IBAnimatable/PlaceholderDesignable
 ` var placeholderText: String? { get { return "" } set {} }`
which returns "" forever.

[2019-04-10 10:34] phimage commented on #451
You can point a piece of code directly
https://github.com/IBAnimatable/IBAnimatable/blob/4d68ac5ddc523167c188c538b0766a6930b9e43c/Sources/Protocols/Designable/PlaceholderDesignable.swift#L18

`placeholder` is the right attribute, wondering why it is not remapped to placeholderText

[2019-04-22 09:09] retsohuang opened #609 "Accio installation fails"
## Env
Xcode Version: 10.2.1
Accio Version: 0.6.0

## Package.swift

[code]

## Output

[code]

## Ref
https://github.com/kylef/Commander/issues/64

[2019-04-22 11:12] JakeLin commented on #609
@Dschee  can you please help me with this issue? I am not good at Accio 😔

[2019-04-22 16:35] Jeehut commented on #609
@retsohuang There was no release being made since I updated the `Package.swift` file, the version you are referring to had its `Package.swift` last updated 3 years ago, that might be the reason. Did you try using the master branch? Just change your line to this:

[code]

[2019-04-22 16:36] retsohuang commented on #609
@Dschee Change `.upToNextMajor(from: "5.2.1")` to `.branch("master")` works 👍

[2019-05-06 03:55] avjiang opened #610 "AnimatableModalViewController enable userInteraction on previous VC"
Hello guys,

I want to ask a question here.

So I have ViewController A, and I am presenting a half-size of an AnimatableModalViewController on top of the ViewController A. By default, it will block the userInteraction of the viewController A.

Is there any way to show the AnimatableModalViewController with userInteraction enabled for ViewController A? In my case, ViewController A is a scrollView.

[2019-05-22 18:36] ceichin opened #612 "Animations work without IB?"
When I create the view programmatically, animations don't work. Doing it from the IB and adding an outlet, works fine. Is this the intended behavior?

I created a Single View Project from scratch, and added:
[code]

Tested it in Xcode 10 and 10.2.1, in both swift 4.2 & 5.

[2019-05-22 19:23] ceichin commented on #612
I just noticed that adding `square.configureAnimatableProperties()` before calling the animations works.

[2019-06-10 09:27] mariojuni opened #613 "Update in to swift 5"

[2019-06-12 06:42] JakeLin commented on #613
The master has been updated to Swift 5, will do a release soon, sorry for the delay.

[2019-07-23 10:00] RiyanFransen opened #615 "Animate rotate infinite?"
I'm trying to add a rotate animation to a UIImageView. The function calls for a repeat count as Int but previous issues showed it with Float.infinite . 0 and -1 are also not working.

How is this accomplished?

`syncImage.animate(.rotate(direction: .cw, repeatCount: <Int>))`

[2019-08-23 07:56] #613 closed, assigned to nobody

[2019-08-23 07:56] #609 closed, assigned to nobody

[2019-08-23 07:58] phimage commented on #599
I close because there is many xcode 10 version
Feel free to open new issues

[2019-08-23 07:58] #599 closed, assigned to nobody

[2019-09-06 19:35] mingsai opened #620 "SwiftUI integration / support"
Just asking the question that many of us may have - any tips/hints/projections of whether this library can be usable in SwiftUI in any way? For example, SwiftUI leverages UIViewRepresentable, custom ViewModifiers and other constructs that might provide a path to integration. Just curious to know...

[2019-09-08 01:47] JakeLin commented on #620
The programming pattern in SwiftUI is quite different from the way we use UIKit/Storyboard etc. I haven't found a way to put them together yet, I think the whole iOS community needs to figure out how the transition going.

[2019-09-15 20:10] mingsai opened #621 "Module 'IBAnimatable' was not compiled with library evolution support"
Adding IBAnimatable in **XCode  11 GM Seed** shows the following warning:

Module 'IBAnimatable' was not compiled with library evolution support; using it means binary compatibility for 'theproject' can't be guaranteed.

Every source file in the project generates this warning.

Any idea how to resolve? Is there a build setting I can use to overcome this issue?

[2019-09-23 08:19] #600 closed, assigned to phimage

[2019-09-23 18:14] mingsai commented on #621
**Solution**

Anyone seeing this can just turn on Whole module compilation for the debug and release versions of the build settings in the project file. Also, set the Swift versions to at least 5 in the project and target.

(Xcode 11)

[2019-09-23 18:14] #621 closed, assigned to nobody

[2019-09-27 02:17] mingsai commented on #615
Infinite is forever and that's probably longer than your phone battery will last. This works just fine for me on Swift.

        starter.animate(.rotate(direction: .cw, repeatCount: Int.max))

If that solves the issue, don't forget to close it out.

[2019-09-27 02:20] mingsai commented on #612
Can you close the issue? Sounds like the problem is solved. Thanks for the tip.

[2019-09-27 02:24] mingsai commented on #606
Maybe its that call to removeFromSuperview within the closure. Try encapsulating that line of code into a call on the main thread using perhaps Dispatch.main ... If this fixes it don't forget to close out the issue.

[2019-09-27 02:27] mingsai commented on #598
Fix all of the other errors first. The compiler halts at each error before going to the next one. You can also turn on Whole compilation for the project in debug mode and remember to change the Swift version to the latest one in build settings for both the project and the targets. Also, if this solves the issue feel free to close the issue using the button or ping me back if it doesn't solve the p

[2019-09-27 06:15] #612 closed, assigned to nobody

[2019-09-30 13:04] fvvliet opened #622 "IBAnimatable with SPM & XCode 11 -> "currentMediaTime" unknown property"
Did someone get IBAnimatable working in XCode 11 as an SPM dependency defined in the IDE? Keep getting errors on self.layer.currentMediaTime: unknown property

Thanks for any advice, Frank

[2019-10-15 13:26] #615 closed, assigned to nobody

[2019-11-08 10:03] phimage commented on #622
Fix by #623

[2019-11-08 10:03] #622 closed, assigned to nobody

[2019-11-08 10:11] phimage commented on #598
Old issue that could be closed. Just use latest Xcode with latest release

[2019-11-08 10:11] #598 closed, assigned to nobody

[2019-12-25 04:01] ghost opened #627 "full view gradient (on main view) does not redraw upon screen orientation changing"
The gradient seems to only apply to half the screen when the orientation changes from portrait to landscape. i'm using preset gradients on the main view (AnimatableView).

[2019-12-25 11:54] ghost commented on #627
This only seems to happen in a modal sheet (using pod Panmodal) ... odd.

[2019-12-26 05:33] JakeLin commented on #627
One of the easy ways I can think of is to call `setNeedsLayout()` to force the view to call `layoutSubviews` which will redraw the `CALayer`.

[2019-12-28 13:39] ghost opened #628 "Is there a mask which rounds certain selected sides?"
For example I have a button (say, width of 100, height of 16). The parameters change by type of device. So for wR, hR, it's say 200 by 32. Now, I can use corner radius and compute it based on the height and set it in viewDidLayoutSubviews, but I was wondering if there's already a way to do this and I'm missing it ...?

[2019-12-28 13:44] ghost commented on #627
Thanks!!

[2019-12-28 13:44] #627 closed, assigned to nobody

[2019-12-29 01:36] JakeLin commented on #628
You can set the corner radius on selected sides, please see https://github.com/IBAnimatable/IBAnimatable/blob/master/Documentation/APIs.md#cornerdesignable

but if you want to apply a different number for a different device, you have to do it in code.

[2020-01-06 22:49] dnguyen07 opened #629 "Swift Package 6.0 compilation error"
I've created a new project and just add IBAnimatable from swift package 6.0
nothing more nothing less and i have 52 compilation errors.

<img width="263" alt="Image" src="https://user-images.githubusercontent.com/1871777/71854640-11a3a900-30df-11ea-99e7-923d906e6d60.png">

It is targeted for iOS 9.3.5 but same for iOS13.

Any ideas?

Thanks.

[2020-01-10 06:44] ghost opened #630 "is there a mask for semicircle / cords?"
I'd like to use the mask to make a loader. like a circle filling up from bottom.
Using the moon mask is not quite looking as I'd like it to, but it works.
Wondering if this is already supported but I'm missing something..?

[2020-01-17 08:29] phimage commented on #630
no there is not

Maybe you can use multiple layer, one with circle mask, and a sublayer that grow inside and with a moving rectangle mask

please close if it answer your question

[2020-01-17 08:38] phimage commented on #629
xcode version? the new last one?

[2020-01-17 08:38] dnguyen07 commented on #629
Yes, 11.3.1

[2020-01-18 04:31] #630 closed, assigned to nobody

[2020-02-04 14:37] sourabhsharmait opened #631 "CFBundleVersion issue while compiling demo code. How to resolve this issue??"
![Screenshot 2020-02-04 at 8 06 26 PM](https://user-images.githubusercontent.com/12099495/73754170-fa151a00-4789-11ea-8101-648b3cf8ed26.png)

[2020-02-05 00:37] JakeLin commented on #631
@sourabhsharmait can you please which specify which Xcode version are you using? I assume Xcode 11.* because I can see iPhone 11 Pro Max.

[2020-02-07 04:59] sourabhsharmait commented on #631
Xcode 11.3.1

[2020-02-13 08:34] unsigned531 commented on #629
Same problem, Xcode 11.3.1, Swift 5.1.

[2020-02-13 09:55] mesopelagique commented on #629
um not same? swift 5.1, @dnguyen07  talk about swift 6.0

I have many project swiftPM compiled using github action here on github. Do not know the xcode version but the swift is 5.1
https://4d-for-ios.github.io/gallery/#/type/form-list

[2020-02-14 10:12] unsigned531 commented on #629
@dnguyen07 I fixed this problem through fetching from branch "master" instead of selection specific version.

[2020-03-31 13:26] tbaranes commented on #631
I just tried it, it's working as expected. @sourabhsharmait  You should try one more, I'm closing now but don't hesitate to reopen if it happens again (I suppose you find a solution since it's been 2 months already...)

[2020-03-31 13:26] #631 closed, assigned to nobody

[2020-03-31 13:27] #628 closed, assigned to nobody

[2020-03-31 13:28] tbaranes commented on #620
I don't think we should make IBAnimatable supports `SwiftUI` since as said @JakeLin, the pattern is really different. If there's a need of an equivalent of `IBAnimatable` I think it should be a standalone library.

[2020-03-31 13:28] #607 closed, assigned to nobody

[2020-03-31 13:28] #606 closed, assigned to nobody

[2020-03-31 13:28] #602 closed, assigned to nobody

[2020-03-31 13:29] tbaranes commented on #584
I used it recently and was working as expecting, I'm closing now but let me know if you still have an issue.

[2020-03-31 13:29] #584 closed, assigned to nobody

[2020-03-31 13:57] #581 closed, assigned to nobody

[2020-03-31 13:57] #572 closed, assigned to nobody

[2020-03-31 13:58] #569 closed, assigned to nobody

[2020-03-31 13:58] #556 closed, assigned to nobody

[2020-03-31 13:58] tbaranes commented on #556
Closing this now since it's been almost 2 years, but let us know if you still have any issues.

[2020-03-31 13:59] tbaranes commented on #552
I'm closing this now, but let us know if that still happens with the latest Xcode version

[2020-03-31 13:59] #552 closed, assigned to nobody

[2020-03-31 14:01] tbaranes commented on #550
Closing this now since it's been a while, let us know if you still have any issues.

[2020-03-31 14:01] #550 closed, assigned to nobody

[2020-03-31 14:02] tbaranes commented on #551
Completely ok, let's discuss this in another issue. Closing this now, let us know if you still have any issues.

[2020-03-31 14:02] #551 closed, assigned to nobody

[2020-03-31 14:02] tbaranes commented on #586
Sorry we missed that issue, closing this now since it's been a while, let us know if you still have any issues.

[2020-03-31 14:02] #586 closed, assigned to nobody

[2020-03-31 14:03] #503 closed, assigned to nobody

[2020-03-31 14:03] #620 closed, assigned to nobody

[2020-03-31 14:06] tbaranes commented on #339
Closing this now since it's been a while, let us know if you still have any issues.
By the way, I do think we should drop iOS10 support with next release.

[2020-03-31 14:06] #339 closed, assigned to nobody

[2020-03-31 14:07] #375 closed, assigned to nobody

[2020-03-31 14:07] tbaranes commented on #341
Closing this now since it's been a while, let us know if you still have any issues with the latest Xcode version.

[2020-03-31 14:07] #341 closed, assigned to nobody

[2020-03-31 14:08] tbaranes commented on #610
Sorry we missed your question. I'm closing this now since it's been a while, let us know if you still have any issues / questions.

[2020-03-31 14:08] #610 closed, assigned to nobody

[2020-03-31 14:09] #582 closed, assigned to nobody

[2020-03-31 14:09] tbaranes commented on #579
Sorry we missed your issue, I'm closing this now since it's been a while, let us know if you still have any issues with the latest Xcode version.

[2020-03-31 14:09] #579 closed, assigned to nobody

[2020-03-31 14:11] #537 closed, assigned to nobody

[2020-03-31 14:11] #524 closed, assigned to nobody

[2020-03-31 14:14] tbaranes commented on #629
This will be fixed with the next version, @contributors I think we should do a new one soon?

[2020-03-31 14:14] #629 closed, assigned to nobody

[2020-04-04 01:58] JakeLin commented on #629
related to #633

[2020-04-04 02:28] JakeLin commented on #631
this issue should be fixed by c5a7efbe328182ff8b33e6e090c9dd59d94c0ed6

[2020-07-17 08:37] ihak opened #634 "Image tint color for left and right textfield images."
Add tint color support to left and right images in the AnimatableTextField.

[2020-09-29 09:36] MinaHardTask opened #635 "Button with IBAnimatable in iOS 14 title not display complete"
when build project with Xcode 11 and run on iOS 14 button title display with ...
![WhatsApp Image 2020-09-29 at 10 05 03 AM](https://user-images.githubusercontent.com/60383413/94541481-edc55c00-0247-11eb-99f1-30681e34be3c.jpeg)

[2020-09-29 11:44] JakeLin commented on #635
@MinaHardTask are you using `AnimatableButton`? Is it an iOS 14 only issue?

[2020-09-29 11:51] apphardtask commented on #635
Yes, it's with iOS 14 only. But run the app using Xcode 11 (iOS 13), to get issue.

If we run with Xcode 12 (iOS 14), it's fine.

To reproduce this error, run the app with Xcode 11 & iPhone with iOS 14.
If you run the app with Xcode 12 & iPhone with iOS 14, it works fine.

[2020-09-29 23:34] JakeLin commented on #635
That's an interesting issue. So it sounds like the walkaround is to rebuild the app with Xcode 12, and everything works fine

[2020-10-01 06:56] apphardtask commented on #635
@JakeLin 🤣 🤣 🤣

[2020-10-01 07:51] JakeLin commented on #635
@apphardtask sometimes, it's difficult to fix some issue from Xcode or iOS itself. If possible, please use the walkaround to get around it first 🤣

[2020-12-16 05:10] ibhavin opened #636 "Image going out of frame while apply shadow"
I have a `UIImageView` to which I have applied cornerRadius, border, shadow, clipsToBound but image is going out of its frame(with aspectFill). I have also tried to add `UIImageView` in `UIView` but its not working.

Xcode: 12.2
IBAnimatable Version: 6.1.0
iOS Version: 14.2 (iPhone 12)

I have made a sample project for this please look into it:
[IBAnimatable_Test.zip](https://github.com/IBAnimatab

[2021-04-01 10:28] patterueldev opened #638 "SPM Compiler Errors"
I am trying to migrate to Swift Package Manager because I'm a CocoaPod guy, but I'm getting a lot of compiler errors when I'm using SPM for IBAnimatable.

The following screenshot is just a few of the issues I'm getting when I compile the project. It still builds, though. But it is annoying to see these errors popping out during build time.

I am not sure if I am missing a setting in my project. T

[2021-05-19 18:32] phimage commented on #638
a little late
maybe you do not set platform to iOS in swift pm file

[2021-10-02 02:21] jteruel-phdlabs commented on #638
I'm setting up IBAnimatable **directly** to the project using **File > Swift Pacakges > Add Package Dependency**, so I'm not sure where to setup the Swift PM file as you're saying.

[2021-10-02 02:23] patterueldev commented on #638
I'm a bit late too, but I'm setting up IBAnimatable directly to the project using File > Swift Pacakges > Add Package Dependency, so I'm not sure where to setup the Swift PM file as you're saying.

[2021-12-28 01:02] A1Ki opened #640 "<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> <plist version="1.0"> <dict> <key>CFBundleDevelopmentRegion</key> <string>en</string> <key>CFBundleExecutable</key> <string>$(EXECUTABLE_NAME)</string> <key>CFBundleIdentifier</key> <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string> <key>CFBundleInfoDictionaryVersion</key> <string>6.0</string> <key>CFBundleName</key> <string>$(PRODUCT_NAME)</string> <key>CFBundlePackageType</key> <string>FMWK</string> <key>CFBundleShortVersionString</key> <string>0.5.0</string> <key>CFBundleSignature</key> <string>????</string> <key>CFBundleVersion</key> <string>$(CURRENT_PROJECT_VERSION)</string> <key>NSPrincipalClass</key> <string></string> </dict> </plist"

[2021-12-28 02:31] JakeLin commented on #640
Can you specify more details of this issue? I close if for now.

[2021-12-28 02:31] #640 closed, assigned to nobody